# Module 3

## Assignments

### Day 13: Pattern Printing**

#### Question 1

    Take an integer N as input, print the corresponding pattern for N.
    For example if N = 5 then pattern will be like:

    *   *
    *   *
    *   *
    *   *
    *   *

##### Solution

In [7]:
N = int(input())
for i in range(1,N+1):
    for j in range(1,N+1):
        if j==1:
            print("*", end="")
        if j==2:
            print(" "*(N-2), end="")
        if j==N:
            print("*", end="\n")

 5

*   *
*   *
*   *
*   *
*   *

##### Optimized Approach

In [8]:
N = int(input())
for i in range(1,N+1):
    for j in range(1):
        print("*", end="")
        print(" "*(N-2), end="")
        print("*")

 5

*   *
*   *
*   *
*   *
*   *

#### Question 2

    Take an integer N as input, print the corresponding pattern for N.
    For example if N = 5 then pattern will be like:

    *****
    _****
    __***
    ___**
    ____*
    
    Note : Here '_' represents space for explanation purpose only. You have to print space in your code.

##### Solution

In [9]:
N = int(input())
for i in range(1,N+1): 
    for j in range(1):
        print(" "*(i-1), end="")
        print("*"*(N+1-i), end="\n")

 5

*****
 ****
  ***
   **
    *

#### Question 3

    Take an integer N, print the corresponding Full Pyramid pattern for N.

    For example if N = 5 then pattern will be like:

        * 
       * * 
      * * * 
     * * * * 
    * * * * * 
    
    NOTE: There should be exactly one extra space after each * for each row.

##### Solution

In [10]:
N = int(input())
for i in range(1,N+1):
    k=N-i+1
    for j in range(1,2*N):
        if j < k:
            print(" ", end="")
        if j>=k and j < k+i:
            print("*", end=" ")
    print()

 5

    *
   * *
  * * *
 * * * *
* * * * *

#### Question 4

    Take an integer N as input, print the corresponding pattern for N.
    For example if N = 5 then pattern will be like:

    ____*
    ___**
    __***
    _****
    *****
    
    Note : Here '_' represents space for explanation purpose only. You have to print space in your code.

##### Solution

In [11]:
N = int(input())

for i in range(1,N+1):
    for j in range(1):
        print(" "*(N-i), end="")
        print("*"*i, end="")
    print()

 5

    *
   **
  ***
 ****
*****

##### One more Approach. Try more approaches as it comes into mind.

In [12]:
N = int(input())

for i in range(1,N+1):
    for j in range(1,N+1):
        if j<=N-i:
            print(" ", end="")
        if j>N-i and j < N+1:
            print("*", end="")
    print()

 5

    *
   **
  ***
 ****
*****

#### Question 5

    Take an integer N as input, print the corresponding pattern for N.
    For example if N = 5 then pattern will be like:

    1
    1_
    1_3
    1_3_
    1_3_5

##### Solution

In [13]:
N = int(input())

for i in range(1,N+1):
    for j in range(1,i+1):
        if j%2:
            print(j, end="")
        if j%2==0:
            print(" ", end="")
    print()

 5

1
1
1 3
1 3
1 3 5

#### Question 6

    Given two integers N and M as inputs, print a rectangle of N * M stars.

    For example if N = 3, M = 4 then pattern will be like:

    ****
    ****
    ****

##### Solution

In [14]:
N = int(input())
M = int(input())

for i in range(1,N+1):
    for j in range(1,M+1):
        print("*",end="")
    print()

 3
 4

****
****
****

#### Question 7

    Take an Integer N as input. Print an Inverse half pyramid of N lines using *.
    For example for N = 5, the output should be the following pattern:-

    *****
    ****
    ***
    **
    *
    
    Note: There should be no space after the last * in each line of the output.

##### Solution

In [15]:
N = int(input())

for i in range(1,N+1):
    for j in range(N-i+1):
        print("*", end="")
    print()

 5

*****
****
***
**
*

### Day 14: Functions 1

#### Question 2

    Given the temperature of a day in Degrees Celsius, convert this given temperature from Celsius to Fahrenheit. Write a program to do so. Round the output up to 2 decimal places

    Note1:
    Python : Use round(ans,2) to round up ans to two decimals

    Note2:
    You need not take input in this problem, you need to only implement the function provided.

    Input Format:
    First line has the number of test cases. For each test case there will be a single line 
    of input in float format representing the temperature.

    Output Format:
    Fahrenheit value in float format

    Sample Input:
    1  
    36.8

    Sample Output:
    98.24

##### Solution Submitted

In [16]:
def celsius_farhen(Celsius):
    ans = Celsius*9/5 + 32   
    return round(ans,2)

##### Alternative approaches

Using Celsius as func arg

In [17]:
n = int(input("Enter no of test cases: "))

def celsius_farhen(Celsius):
    ans = Celsius*9/5 + 32
    print(round(ans,2))

for i in range(n):
    Celsius = float(input("Enter temp in Celsius degree: "))
    celsius_farhen(Celsius)

Enter no of test cases:  2
Enter temp in Celsius degree:  36.8

98.24

Enter temp in Celsius degree:  12

53.6

Using n as func arg

In [18]:
n = int(input("Enter no of test cases: "))

for i in range(n):
    def celsius_farhen(n):
        Celsius = float(input("Enter temp in Celsius degree: "))
        ans = Celsius*9/5 + 32
        return round(ans,2)
    print(celsius_farhen(n))

Enter no of test cases:  2
Enter temp in Celsius degree:  36.8

98.24

Enter temp in Celsius degree:  12

53.6

Using no arg

In [20]:
 n = int(input("Enter no of test cases: "))

for i in range(n):
    def celsius_farhen():
        #ans=0
        Celsius = float(input("Enter temp in Celsius degree: "))
        ans = Celsius*9/5 + 32
        return round(ans,2)
    print(celsius_farhen())

Enter no of test cases:  2
Enter temp in Celsius degree:  36.8

98.24

Enter temp in Celsius degree:  12

53.6

#### Question 3

    Write a function to calculate and return the area of a circle by using the radius of the circle given as a parameter.

    Notes:
    Round up the area to 2 decimal places. You can use the round() function.
    Use pi as 3.14159.
    You need not take input in this problem, you need to only implement the function provided.

    Input Format:
    The first line indicates the number of the test cases. 
    For each test case there will be one line of input in integer format representing radius.

    Output Format:
    Area in float format rounded upto 2 decimal places for each testcase.

    Sample Input:
    1  
    5]
    Sample Output:
    78.54

##### Solution Submitted

In [21]:
def circle_area(r):
    ans = 3.14159*(r**2)
    return round(ans,2)

##### Full Solution

In [22]:
n = int(input("Enter no of test cases: "))

def circle_area(r):
    ans = 3.14159*(r**2)
    print(round(ans,2))

for i in range(n):
    r = int(input("Enter the radius: "))
    circle_area(r)

Enter no of test cases:  2
Enter the radius:  5

78.54

Enter the radius:  6

113.1

#### Question 4

    Given an integer n, write a program to print the sum of squares of first n natural numbers in integer format.

    Note1:
    The formula for the sum of squares of first n natural numbers is: n(n+1)(2n+1)/6
    
    Note2:
    You need not take input in this problem, only implement the function provided.

    Problem Constraints:
    1 <= N <= 100

    Input Format:
    The first line indicates the number of test cases.
    For each testcase there will be a single line of input with an integer representing n for that testcase.

    Output Format:
    Sum of squares of n natural numbers in integer format

    Sample Input:
    1
    6

    Sample Output:
    91

    Sample explanation:
    According to the formula sum of first 6 natural numbers is 6*(6+1)(12+1)/6=91

##### Solution Submitted

In [23]:
def sum_squares(n):
    ans =  n*(n+1)*((2*n)+1)/6
    return int(ans)

##### Full Solution

In [24]:
t = int(input("Enter no of test cases: "))

def sum_square(n):
    ans =  n*(n+1)*((2*n)+1)/6
    print (int(ans))
    
for i in range(t):
    n = int(input("Enter the integer: "))
    sum_square(n)

Enter no of test cases:  2
Enter the integer:  6

91

Enter the integer:  10

385

#### Question 5

What is the output of the following function call?

    def 1f(num):
        return num + 55
    1f(5)
    print(num)

##### Solution Submitted

##### Solution

Invalid function name. Hence will generate error.

#### Question 7

    You are given a lowercase latin alphabetic character C. You have to tell whether it is a vowel or not.

    Problem Constraints:
    C ∈ ['a' - 'z']

    Input Format:
    The input consists of a single character C.

    Output Format:
    Return 1 if the given character is a vowel, else return 0.

    Example Input 1:
    a 
    
    Example Onput 1:
    1 
    
    Explanation:
    since, 'a' is a vowel.

##### Solution Submitted

In [27]:
def isvowel(C):
    if C=='a' or C=='e' or C=='i' or C=='o' or C=='u':
        print("1")
    else:
        print("0")
    return ans

##### Full Solution

In [26]:
C= input("Enter the alphabet: ")
C= C.lower()     
     
def isVowel(C):
     if C=='a' or C=='e' or C=='i' or C=='o' or C=='u':
        print("1")
     else:
        print("0")

isVowel(C)

Enter the alphabet:  A

1

### Day 15: Functions 2

#### Question 1

    Given three integers, A, B and C. You have to find the number of days it will take to reach zero cases of Corona in a city.
    A - Average cases recovered in a day of the corona.
    B - Number of new cases of corona daily.
    C - Current active cases of the corona.
    
    Return the minimum number of days it will take to reach 0 active cases of Covid.

    Problem Constraints
    1 <= B < A <= 5000
    1 <= C <= 1000

    Input Format
    The first argument will be integer A, which denotes the recovered cases in a day.
    The second argument will be integer B, which denotes the new cases in a day.
    The third argument will be integer C, which denotes the currently active cases.

    Output Format
    Return an integer which denotes the minimum days to reach 0 cases.

    Input 1:
    A = 5
    B = 3
    C = 1

    Output 1:
    1

##### Solution Submitted

In [28]:
def solve(A, B, C):
    count = 1
    while C+(B-A)>0:
        count +=1
        C = C+(B-A)
    return count

In [29]:
solve(36,35,9)

9

#### Question 2

    You are given a function that takes an integer argument A. Return 1 if A is a perfect square otherwise return 0.

    Problem Constraints
    1 <= A <= 108

    Input Format
    First argument is an integer A.

    Output Format
    Return an integer (0 or 1) based upon the question.

    Input 1:
    A = 4

    Input 2:
    A = 1001

    Output 1:
    1

    Output 2:
    0

##### Solution Submitted

In [30]:
def solve(A):
    for i in range(1,A+1):
        if i**2==A:
            return 1
        elif i**2>A:
            return 0

In [31]:
solve(121)

1

#### Question 3**

    Given an integer A, find the rounded value of real number A/200.

    Rounded value of a real number X is the integer which is nearest to X, with halfway cases rounded away from zero.

    Some examples:
    Rounded value of 2.4 = 2
    Rounded value of 2.5 = 3
    Rounded value of 2.6 = 3
    Rounded value of 0.0 = 0
    Rounded value of -2.4 = -2
    Rounded value of -2.5 = -3
    Rounded value of -2.6 = -3

    Problem Constraints
    -108 <= A <= 108

    Input Format
    First and only argument is an integer A.

    Output Format
    Return an integer denoting the rounded value of real number A / 200.

    Input 1:
    A = 500 

    Output 1:
    3

##### Solution Submitted

In [32]:
import math
def solve(A):
    A = A/200
    if A>=0:
        return math.floor(A+0.5)
    elif A<0:
        return math.ceil(A-0.5)

In [33]:
solve(0)

0

In [34]:
solve(-500)

-3

#### Question 4

    Given a number A. Return square root of the number if it is perfect square otherwise return -1.

    Problem Constraints
    1 <= A <= 108

    Input Format
    First and the only argument is an integer A.

    Output Format
    Return an integer which is the square root of A if A is perfect square otherwise return -1.

    Input 1:
    A = 4

    Input 2:
    A = 1001

    Output 1:
    2

    Output 2:
    -1

##### Solution Submitted

In [35]:
def solve(A):
    for i in range(1,A+1):
        if i**2==A:
            return i
        elif i**2>A:
            return -1

In [36]:
solve(121)

11

### Day 16: Lists - 1D

#### Question 1

    Write a program to find the difference between the sum of all even elements and the sum of all odd elements from the given list.

    Input Format:
    A list containing integers.
    
    Output Format:
    The difference of the even and odd elements sum in integer format.
    
    Sample Input:
    56 63 87 24 32 13 15 19 44 52
    
    Sample Output:
    11
    
    Sample explanation:
    The sum of even elements is: 56 + 24 + 32 + 44 + 52 = 208. 
    The sum of odd elements is: 63 + 87 + 13 + 15 + 19 = 197. 
    Difference between even elements and odd elements sum is 208 - 197 = 11.

##### Solution Submitted

In [37]:
a = [56,63,87,24,32,13,15,19,44,52]

def even_odd(lst):
    sum_even= 0
    sum_odd = 0
    diff = 0
    for i in range(len(lst)):
        if lst[i]%2==0:
            sum_even+=lst[i]
        if lst[i]%2!=0:
            sum_odd+=lst[i]
    diff=sum_even - sum_odd
    return diff

In [38]:
even_odd(a)

11

#### Question 2

    Write a program to print sum of elements of the input array A of size N.
    Input Format
    A list of length N

    Output Format
    A single integer containing sum of elements from the input array.

    Input 1:
    5 1 2 3 4 5

    Output 1:
    15

##### Solution Submitted

In [39]:
X = [1, 2, 3, 4, 5]

def calculate_sum(input_list):           
    SUM = 0
    for i in input_list:
        SUM+=i
    return SUM

In [40]:
calculate_sum(X)

15

### Day 17: List Slicing**

#### Question 1

    Write a program that returns the list of elements that are present in the given list and are divisible by 5 and 7.

    Input Format:
    The only argument is the given list of elements
    
    Output Format:
    Return a list consisiting of the elements that are divisible by 5 and 7 from the given list.
    
    Sample Input:
    [23, 34, 25, 35, 66, 70, 14]
    
    Sample Output:
    [35, 70]
    
    Sample explanation:
    Only 35 and 70 are divisible by 5 and 7 from the list [23,34,25,35,66,70,14] 
    therefore the list consisting of only these two elements is returned.

##### Solution Submitted

In [41]:
def divisible(lst):
    elements = []
    for i in lst:
        if i%5==0 and i%7==0:
            elements.append(i)
    return elements

In [42]:
# Output
lst =[23, 34, 25, 35, 66, 70, 14]
divisible(lst)

[35, 70]

#### Question 2**

    You are given an integer array A. You have to find the second largest element/value in the array or report that no such element exists.

    Problem Constraints
    1 <= |A| <= 105
    0 <= A[i] <= 109

    Input Format
    The first argument is an integer array A.

    Output Format
    Return the second largest element. If no such element exist then return -1.

    Input 1:
     A = [2, 1, 2] 
     
    Input 2:
     A = [2]

    Output 1:
     1 
     
    Output 2:
     -1 

    Explanation 1:

     First largest element = 2
     Second largest element = 1
    Explanation 2:

     There is no second largest element in the array.

##### Solution Submitted

In [57]:
def solve(A):
    if len(A)==1:
        return -1
    
    if A[0]>=A[1]:
        X = A[0]
        Y = A[1]
    else:
        X = A[1]
        Y = A[0]    
    for i in range(len(A)):
        if A[i]>X:
            Y = X
            X = A[i]
        elif A[i]<X:
            if X==Y:
                Y =A[i]
            elif A[i]>Y:
                Y = A[i]
    if X ==Y:
        return -1
    return Y

In [60]:
# Output
A = [ 10, 10, 9, 8, 1 ]
#A = [4,2,3,7,2,5,6,5,8]
#A = [2,1,3,5,4,3] 
#A = [4]
#A = [ 13, 7, 16, 18, 14, 17, 18, 8, 10 ]
#A=[4,4,4,4]
A = [ 13, 7, 16, -5, -3,-4,-6,-5,-5, 18, 14, 17, 18,-2, 8, 10 ]
A =[-5,-7,-8,-2,-5,-1,-3]
solve(A)

-2

##### Alternative Approach

In [ ]:
def second_largest(A):

Alternatively, we can use problem constraints also to solve it. But in that case it will not be valid for negative values

#### Question 3

    Given array A, find the difference between the maximum and minimum element of the array. Return the difference between the maximum and minimum element of the array.

    Input Format
    Single line input containing space seprated integers.
    The first value in input is the length of the array A.
    The following integers after the first number are the elements of the array A.

    Output Format
    Return an integer, which denotes the difference between maximum and minimum element of the array.

    Input 1:
    4 1 9 10 3

    Output 1:
    9

    Explanation 1:
    Maximum element of the array A is 10 and minimum element of the array A is 1.
    So, difference will be 9.

##### Solution Submitted

In [45]:
def solve(A):
    MAX=A[0]
    MIN= A[0]
    for i in range(len(A)):
        if A[i] > MAX:
            MAX= A[i]
        if A[i] < MIN:
            MIN = A[i]
    return MAX-MIN

In [46]:
# Output
A = [ 1, 9, 10, 3]
solve(A)

9

#### Question 4

    Which of the options adds the elements 'Dhoni' and 'Virat' to the end of the given list?

    players = ['Jadeja','Rahul','Rohit'].
    
    So, the resultant list will be players = ['Jadeja','Rahul','Rohit','Dhoni','Virat'].
    
    Options:
    players+='Dhoni Virat'
    players[len(players):] = ['Dhoni', 'Virat']
    players[-1:] = ['Dhoni', 'Virat']
    players+=['Dhoni', 'Virat']

##### Solution

In [47]:
players = ['Jadeja','Rahul','Rohit']

In [48]:
players = ['Jadeja','Rahul','Rohit']
players+='Dhoni Virat'
players

['Jadeja',
 'Rahul',
 'Rohit',
 'D',
 'h',
 'o',
 'n',
 'i',
 ' ',
 'V',
 'i',
 'r',
 'a',
 't']

In [49]:
players = ['Jadeja','Rahul','Rohit']
players[len(players):] = ['Dhoni', 'Virat']
players

['Jadeja', 'Rahul', 'Rohit', 'Dhoni', 'Virat']

In [50]:
players = ['Jadeja','Rahul','Rohit']
players[-1:] = ['Dhoni', 'Virat']
players

['Jadeja', 'Rahul', 'Dhoni', 'Virat']

In [51]:
players = ['Jadeja','Rahul','Rohit']
players+=['Dhoni', 'Virat']
players

['Jadeja', 'Rahul', 'Rohit', 'Dhoni', 'Virat']

#### Question 6

    What does creating a slice of an object do in Python?
    
    It creates a new object that contains the result of the slice.
    It modifies the existing object such that becomes equal to the result of the slice.
    It prints the object after slicing it.
    None of the above.

##### Solution

It creates a new object that contains the result of the slice.

### Day 19: List 2D

#### Question 1

    You are given a matrix A and and an integer B, you have to perform scalar multiplication of matrix A with an integer B.

    Input Format
    First argument is 2D array of integers A representing matrix.
    Second argument is an integer B.

    Output Format
    You have to return a 2D array of integers after doing required operations.

    Input 1:
    A = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
    B = 2 

    Output 1:
    [[2, 4, 6], [8, 10, 12], [14, 16, 18]]

##### Solution Submitted

In [ ]:
def solve(A,B):
    for i in range(len(A)):
        for j in range(len(A[0])):
            A[i][j] = A[i][j]*B
    return A

##### Solution with input

In [7]:
def solve(B,x,y):
    A =[]
    for i in range(x):
        list_i = []
        for j in range(y):
            n = int(input())
            list_i.append(n)
        A.insert(i,list_i)    
        print(A)
    
    for i in range(len(A)):
        for j in range(len(A[0])):
            A[i][j] = A[i][j]*B
    return A

In [8]:
solve(2,3,3)

 1
 2
 3

[[1, 2, 3]]

 4
 5
 6

[[1, 2, 3], [4, 5, 6]]

 7
 8
 9

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

#### Question 3**

    You are given two matrices A & B of equal dimensions and you have to check whether two matrices are equal or not.

    NOTE: Both matrices are equal if A[i][j] == B[i][j] for all i and j in the given range.

    Input Format
    First argument is vector of vector of integers representing matrix A.
    Second argument is vector of vector of integers representing matrix B.

    Output Format
    Return 1 if both matrices are equal or return 0.

    Input 1:
    A = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
    B = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]

    Input 2:
    A = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
    B = [[1, 2, 3],[7, 8, 9],[4, 5, 6]]


    Output 1:
    1
    Output 2:
    0

##### Solution Submitted

In [9]:
def solve(A, B):
    for i in range(len(A)):
        for j in range(len(A[0])):
            if A[i][j] != B[i][j]:
                return 0
    return 1

In [10]:
A = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
B = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]

solve(A,B)

1

In [11]:
A = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
B = [[1, 2, 3],[7, 8, 9],[4, 5, 6]]

solve(A,B)

0

#### Question 4

    You are given a 2D integer matrix A, return a 1D integer array containing row-wise sums of original matrix.

    Input Format
    First argument A is a 2D array of integers.(2D matrix).

    Output Format
    Return an array conatining row-wise sums of original matrix.

    Input 1:
    [1,2,3,4]
    [5,6,7,8]
    [9,2,3,4]

    Output 1:
    [10,26,18]

    Explanation 1
    Row 1 = 1+2+3+4 = 10
    Row 2 = 5+6+7+8 = 26
    Row 3 = 9+2+3+4 = 18

##### Solution Submitted

In [37]:
def solve(A):
    X = []
    for i in range(len(A)):
        sum_x=0
        for j in range(len(A[0])):
            sum_x += A[i][j]
        X.append(sum_x)
    return X

In [38]:
m = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 2, 3, 4]]
solve(m)

[10, 26, 18]

##### Solution with input

In [39]:
def solve(x,y):
    A =[]
    for i in range(x):
        list_i = []
        for j in range(y):
            n = int(input())
            list_i.append(n)
        A.insert(i,list_i)    
        print(A)
        
    X = []
    for i in range(len(A)):
        sum_x=0
        for j in range(len(A[0])):
            sum_x += A[i][j]
        X.append(sum_x)
    return X

In [40]:
solve(3,4)

 1
 2
 3
 4

[[1, 2, 3, 4]]

 5
 6
 7
 8

[[1, 2, 3, 4], [5, 6, 7, 8]]

 9
 2
 3
 4

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 2, 3, 4]]

[10, 26, 18]

### Day 20: Strings 1

#### Question 3

    You are given lowercase string (A) and you have to tell the count of vowels and consonants in it.

    Input Format
    First and only argument containing a lowercase string A.

    Output Format
    You have to return an array of two elements representing count of vowels and consonants in the input string respectively.

    Input 1:
    interviewbit

    Output 1:
    [5 7]

##### Solution Submitted

In [4]:
def solve(A):
    A = A.lower()
    count_vowel = 0
    count_consonant = 0
    for i in A:
        if i =="a" or i =="e" or i=="i" or i =="o" or i =="u":
            count_vowel +=1
        else:
            count_consonant +=1
    return [count_vowel, count_consonant]

In [6]:
A = "interviewbit"
solve(A)

[5, 7]

##### Solution with input

In [8]:
def solve():
    A = input()
    A = A.lower()
    count_vowel = 0
    count_consonant = 0
    for i in A:
        if i =="a" or i =="e" or i=="i" or i =="o" or i =="u":
            count_vowel +=1
        else:
            count_consonant +=1
    return [count_vowel, count_consonant]

In [9]:
solve()

 interviewbit

[5, 7]

#### Question 4

    You are given lowercase string (A) and you have to return after reversing that.

    Input 1:
    interviewbit

    Output 1:
    tibweivretni

##### Solution Submitted

In [10]:
def solve(A):
    return A[::-1]

In [12]:
A = "interviewbit"
solve(A)

'tibweivretni'

##### Solution with input

In [13]:
def solve():
    A = input()
    return A[::-1]

In [15]:
solve()

 interviewbit

'tibweivretni'

### Day 21: Strings 2

#### Question 1

    You are given a character string A, having length N and an integer ASCII code B.

    You have to tell the leftmost occurrence of the character having ASCII code equal to B, in A or report that it does not exist.

    Problem Constraints
    1 <= N <= 105
    A[i] ∈ ['a'-'z']
    97 <= B <= 122

    Input Format
    First argument is a character string A.
    Second argument is an integer B.

    Output Format
    If there exists an occurrence, return the leftmost index(0 - based), else return -1.

    Input 1:
     A = "aabbcc"
     B = 98 
     
    Output 1:
     2
     
    Input 2:
     A = "abc"
     B = 100
     
    Output 2:
     -1 

    Explanation 1:
     Character having ASCII code equal to 98 = 'b' 
     Leftmost index of character 'b' in "aabbcc" is 2.
     
    Explanation 2:
     Character having ASCII code equal to 100 = 'd'
     Character 'd' is not present in "abc".

##### Solution Submitted

In [10]:
def solve(A,B):
    for i in range(len(A)):
        if A[i] == chr(B):
            return i
    return -1

In [11]:
A = "aabbcc"
solve(A, 98)

2

##### Solution with input

In [56]:
def solve():
    A = input("Enter the string: ")
    B = int(input("Enter the ASCII Code Integer(97-122): "))
    for i in range(len(A)):
        if A[i]==chr(B):
            print(f"Index of {chr(B)} is: {i}")
            return i
    return -1

In [57]:
solve()

Enter the string:  asdwqer
Enter the ASCII Code Integer(97-122):  101

Index of e is: 5

5

#### Question 3

    You are given a character string A and two integer ASCII codes B and C.

    You have to find and replace all the occurrences of the character having ASCII code equal to B with character having ASCII code equal to C and return the resultant string.

    Problem Constraints
    1 <= N <= 105
    A[i] ∈ ['a'-'z']
    97 <= B, C <= 122

    Input Format
    First argument is a character string A.
    Second argument is an integer B.
    Third argument is an integer C.
    
    Output Format
    Return the resultant string after replacing the character(s).

    Input 1:
     A = "aabbccbb"
     B = 98 
     C = 100
     
    Output 1:
     aaddccdd
     
    Input 2:
     A = "abc"
     B = 100
     C = 97
     
    Output 2:
     abc 

    Explanation 1:
     Character having ASCII code equal to 98 = 'b' 
     Character having ASCII code equal to 100 = 'd'
     Character 'b' occurs at positions 3, 4, 7 and 8 in "aabbaabb".
     After replacing the characters, string becomes "aaddaadd".

##### Solution Submitted

In [1]:
def solve(A,B,C):
    return A.replace(chr(B), chr(C))

In [9]:
A = "aabbccbb"
solve(A,98,100)

'aaddccdd'

##### Solution with input and custom replace

In [64]:
def solve():
    A = input("Enter the string: ")
    A = A.lower()
    B = int(input("Enter the ASCII Code Integer which is to be replaced(097-122): "))
    C = int(input("Enter the ASCII Code Integer which will replace the old value: "))
    print(f"All instances of {chr(B)} will be replaced with {chr(C)} in input string")
    X = ""        
    for i in range(len(A)):
        if A[i] == chr(B):
            X += chr(C)
        else:
            X += A[i]
    return X

In [65]:
solve()

Enter the string:  aabbccbb
Enter the ASCII Code Integer which is to be replaced(097-122):  98
Enter the ASCII Code Integer which will replace the old value:  100

All instances of b will be replaced with d in input string

'aaddccdd'

#### Question 4

    Given the input date in DD/MM/YYYY format as a string, write a function that returns the converted date in the string formats MM/DD/YYYY and YYYY/MM/DD and return the new date formats.

    Input Format:
    First input line will have the number of test cases. There will be a single line of input for each
    testcase which will consist of date in the string format DD/MM/YYYY. 
    
    Output Format:
    Resultant date formats in string formats MM/DD/YYYY and YYYY/MM/DD
    
    Sample Input:
    1
    "08/12/1998"
    
    Sample Output:
    12/08/1998
    1998/12/08

##### Solution Submitted

In [37]:
def date_format(date):
    date_yymmdd = "/".join(date.split("/")[::-1])
    date_mmddyy = "/".join(date.split("/")[-2::-1] + date.split("/")[-1::])
    return date_mmddyy, date_yymmdd

In [36]:
date = "08/12/1998"
date_format(date)

 1

12/08/1998
1998/12/08

('12/08/1998', '1998/12/08')

##### Solution with input

In [50]:
def date_format():
    n = int(input())
    for i in range(n):
        date = input("Enter the date: ")
        date_yy_mm_dd = date.split("/")
        date_yy_mm_dd = date_yy_mm_dd[::-1]
        date_yy_mm_dd = "/".join(date_yy_mm_dd)
        
        date_mm_dd_yy = date.split("/")
        date_mm_dd_yy = date_mm_dd_yy[-2::-1] + date_mm_dd_yy[-1::]
        date_mm_dd_yy = "/".join(date_mm_dd_yy)
        
    return date_mm_dd_yy, date_yy_mm_dd

In [51]:
date_format()

 2
Enter the date:  08/12/1998
Enter the date:  01/12/2000

('12/01/2000', '2000/12/01')

### Day 22: Tuples + Sets

#### Question 1

    Write a function to search for a given element elem in the tuple tup and return its index. Return -1 if elem is not present in tup.

    Input Format:
    The first line consists of tuple.
    The second line consists of an element for which index is required to be returned.
    
    Output Format:
    Return the index value in integer format.
    
    Sample Input:
    (10, 20, 30, 40, 50)
    30
    
    Sample Output:
    2
    
    Sample explanation:
    30 is present at index 2, therefore 2 is returned.

##### Solution Submitted

In [74]:
def get_index(tup, elem):
    for i in range(len(tup)):
        if tup[i] == elem:
            return i
    return -1

In [76]:
a = (10, 20, 30, 40, 50)
elem = 30
get_index(a, elem)

2

#### Question 2

    Write a program to divide a given tuple into two tuples that contain even and odd indexed elements of the original tuple. Print both these tuples in the given output format.

    Input Format:
    The input contains a tuple as an argument to the function.
    
    Output Format:
    Print two tuples one for odd indexed elements and another for even indexed elements in the following format:
    Odd: (....)
    Even: (....)
    
    Sample Input:
    1
    (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
    
    Sample Output:
    Odd: (10, 5, 10, 10, 5, 8)
    Even: (8, 2, 15, 8, 8, 2)

##### Solution Submitted

In [88]:
def odd_even_split_tuple(tup):
    even = []
    odd = []
    for i in range(len(tup)):
        if i%2==0:
            even.append(tup[i])
        else:
            odd.append(tup[i])
    print(f"Odd: {tuple(even)}")
    print(f"Even: {tuple(odd)}")

In [89]:
a = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
odd_even_split_tuple(a)

Odd: (10, 5, 10, 10, 5, 8)
Even: (8, 2, 15, 8, 8, 2)

#### Question 5

    Write a function to print out the frequency of all the unique elements present in a given tuple.

    Input Format:
    The one input line consists of a tuple.
    
    Output Format:
    Unique elements and their frequencies are expected to be printed as follows:
    unique_element1 : freq1
    unique_element2 : freq2
    .
    .
    Sample Input:
    (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
    
    Sample Output:
    10 : 3
    8 : 4
    5 : 2
    2 : 2
    15 : 1

##### Solution Submitted

In [105]:
def unique_count(tup):
    new_list = []
    for i in tup:
        if i not in new_list:
            new_list.append(i)
    for i in new_list:
        count = 0
        for j in tup:
            if i == j:
                count +=1
        print(f"{i} : {count}")

In [106]:
a =(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
unique_count(a)

10: 3
8: 4
5: 2
2: 2
15: 1

### Day 23: Dictionary

#### Question 1

    Given an input string, write a program to count the frequency of each character in the string. Map the characters and their respective frequency into a dictionary and return that dictionary.

    Note: In the back-end, we are just checking the items in the dictionary, not the order therefore True will be printed if the returned dictionary has the same items as expected otherwise False will be printed.

    Input Format:
    The first and the only arguement to the function is a string.
    
    Output Format:
    Returned output must be in a dictionary format. The keys must be the unique characters in the string, and the values should 
    be the frequency of those characters in the given string.
    
    Sample Input:
    ABC
    
    Sample Output:
    {'A': 1, 'B': 1, 'C': 1}
    
    Output Explanation:
    In the string 'ABC', there are three unique characters: 'A', 'B', and 'C'. 
    They occur once in the string and hence their count values are 1.

##### Solution Submitted

In [1]:
def dict_freq(str1):
    set1 = set(str1)
    dict_1 = {}
    for i in set1:
        dict_1[i] = str1.count(i)
    return dict_1

In [3]:
str1 = "ABC"
dict_freq(str1)

{'B': 1, 'A': 1, 'C': 1}

##### Solution with inputs

In [13]:
def dict_freq1():
    n = input()
    set_n = set(n)
    dict_n = {}
    for i in set_n:
        dict_n[i] = n.count(i)
    return dict_n

In [14]:
dict_freq1()

 ABC

{'B': 1, 'A': 1, 'C': 1}

#### Question 2

    Given a dictionary, find the sum of values of every key in the dictionary.

    Input Format:
    The input contains two lines.
    The first line has space-separated string values which are the keys of the dictionary.
    The second line has space-separated integer numbers which are the values of the dictionary.
    
    Output Format:
    Print the sum of the values of the items as an integer.
    
    Sample Input:
    x y z
    25 25 50
    
    Sample Output:
    100
    
    Output Explanation:
    The dictionary has three key-value pairs having values 25, 25, and 50. Hence their sum, 25+25+50 = 100 should be printed.

##### Solution Submitted

In [23]:
def returnSum(dict):
    sum = 0
    for i in dict.values():
        sum +=i
    print (sum)

In [26]:
n = {"x":25,"y":25,"z":50}
returnSum(n)

100

#### Question 5

What will be the output of the following Python code?

    dict1 = {'age': 35, 'name': 'abc', 'salary': 45000}

    val = dict1['age']

    if val in dict1:
        print('This is a member of the dictionary')
    else:
        print('This is not a member of the dictionary')

##### Solution Submitted

value of ket age from dict1 is assigned to val hence not true

#### Question 6

Consider the following dictionary:

    dict = {5: 'a', 10: 'b', 15: 'c'}
    
Below are two statements with the corresponding output written just on the right of them. Which option represents the correct booleans about the correctness of code and output pairings?

    print(dict[0])            Key Error
    print(dict.get(0))        'a'

##### Solution Submitted

1st statment wil lgenerat Key Error and 2nd will return none data type

#### Question 7

Which option correctly represents abc, if the following python code is executed?

    abc = {}
    abc[1] = 1
    abc['1'] = 2
    abc[1] = abc[1] + 1

##### Solution Submitted

value of abc[1] is 1 which is again added to 1

## HW

### Day 13: Pattern Printing**

#### Question 1

Take an integer N as input, print the corresponding pattern for N.

For example if N = 5 then pattern will be like:

    ********** // 0 spaces

    ****  **** // 2 spaces

    ***    *** // 4 spaces

    **      ** // 6 spaces

    *        * // 8 spaces

NOTE: Here '_' is used to represent spaces. You have to print spaces in your code.

##### Solution

In [52]:
N = int(input())

for i in range(0,N):
    for j in range(1):
        print("*"*(N-i), end="")
        print(" "*(2*i), end="")
        print("*"*(N-i), end="")
    print()

 5

**********
****  ****
***    ***
**      **
*        *

#### Question 2

Take an integer N as input, print the corresponding pattern for N.

For example if N = 5 then pattern will be like:

    *________* // 8 spaces

    **______** // 6 spaces

    ***____*** // 4 spaces

    ****__**** // 2 spaces

    ********** // 0 spaces
NOTE: Here '_' is used to represent spaces. You have to print spaces in your code.

##### Solution

In [53]:
N = int(input())

for i in range(1,N+1):
    for j in range(1):
        print("*"*i, end="")
        print(" "*(2*(N-i)), end="")
        print("*"*i, end="")
    print()

 5

*        *
**      **
***    ***
****  ****
**********

#### Question 3

Take an integer N as input, print the corresponding Half Diamond pattern with 2*N - 1 rows.

For example if N = 5 then pattern will be like:

    * 
    **
    ***
    ****
    *****
    ****
    ***
    **
    *
NOTE: There should be no spaces after any *

##### Solution
Approach 1

In [54]:
N = int(input())

for i in range(1,2*N):
    for j in range(1):
        if i<=N:
            print("*"*i, end="")
        if i>N and i<2*N:
            print("*"*(2*N-i), end="")                        
    print()

 5

*
**
***
****
*****
****
***
**
*

##### Solution
Approach 2

In [55]:
N = int(input())

for i in range(1,N+1):
    for j in range(1,i+1):
            print("*", end="")
    print()
for i in range(N+1,2*N):
    for j in range(2*N-i):
        print("*", end="")
    print()

 5

*
**
***
****
*****
****
***
**
*

#### Question 4

Take an integer N as input, print the corresponding pattern for N.

For example if N = 5 then pattern will be like:

    *****
    *   *
    *   *
    *   *
    *****
Note : Except for the first line and the last line, every line will have N-2 spaces between the two stars.

##### Solution
Think of a more optimized approach than this

In [56]:
N = int(input())

for i in range(1,N+1):
    for j in range(1):
        if i==1:
            print("*"*N)
            break
        if i>1 and i<N:
            print("*", end="")
            print(" "*(N-2), end="")
            print("*")
            break
        if i==N:
            print("*"*N)
            break

 5

*****
*   *
*   *
*   *
*****

#### Question 5

Given an integer N as input, print the corresponding Hollow Inverted Half Pyramid pattern for N.

For example if N = 6 then pattern will be like:

    ******
    *   *
    *  *
    * *
    **
    *

##### Solution

In [57]:
N = int(input())

for i in range(1,N+1):
    for j in range(1,N+1):
        if i==1:
            print("*", end="")
        if i>1:
            if j==1:
                print("*", end="")
            if j>1 and j<=(N-i):
                print(" ", end="")
            if j==N-i:
                print("*", end="")   
    print()

 5

*****
*  *
* *
**
*

##### Alternative approach
Using jump statement for i

In [58]:
N = int(input())

for i in range(1,N+1):
    for j in range(1,N+1):
        if i==1:
            print("*", end="")
            continue
        if j==1:
            print("*", end="")
        if j>1 and j<=(N-i):
            print(" ", end="")
        if j==N-i:
            print("*", end="")
    print()

 5

*****
*  *
* *
**
*

#### Question 6

Take an integer N as input, print the corresponding Full Numeric Pyramid pattern for N.

For example if N = 5 then pattern will be like:

    0 0 0 0 5 0 0 0 0 
    0 0 0 4 8 12 0 0 0 
    0 0 3 6 9 12 15 0 0
    0 2 4 6 8 10 12 14 0
    1 2 3 4 5 6 7 8 9 
NOTE: There should be exactly one extra space after each number for each row.

##### Solution

In [59]:
N = int(input())

for i in range(N):
    for j in range(1):
        print("0 "*(N-i-1), end="")
    k=1
    while k<=(i*2+1):
        print((N-i)*k, end=" ")
        k+=1
    for j in range(1):
        print("0 "*(N-i-1), end="")
    print()

 5

0 0 0 0 5 0 0 0 0
0 0 0 4 8 12 0 0 0
0 0 3 6 9 12 15 0 0
0 2 4 6 8 10 12 14 0
1 2 3 4 5 6 7 8 9

##### Alternative approaches

Taking range from(1,N+1)

In [60]:
N = int(input())

for i in range(1,N+1):
    for j in range(1,N-i+1):
        print("0 ", end="")
    for j in range(1,2*i):
        print((N-i+1)*j, end=" ")
    for j in range(1,N-i+1):
        print("0 ", end="")

    print()

 5

0 0 0 0 5 0 0 0 0
0 0 0 4 8 12 0 0 0
0 0 3 6 9 12 15 0 0
0 2 4 6 8 10 12 14 0
1 2 3 4 5 6 7 8 9

Taking range from (0, N)

In [1]:
N = int(input())

for i in range(N):
    for j in range(N-i-1):
        print("0 ", end="")
    for j in range(2*i+1):
        print((N-i)*(j+1), end=" ")
    for j in range(N-i-1):
        print("0 ", end="")
    print()

 5

0 0 0 0 5 0 0 0 0
0 0 0 4 8 12 0 0 0
0 0 3 6 9 12 15 0 0
0 2 4 6 8 10 12 14 0
1 2 3 4 5 6 7 8 9

#### Question 7

Take an integer N as input, and print the corresponding Inverted Full Pyramid pattern for N.

For example if N = 5 then pattern will be like:

    * * * * * 
     * * * * 
      * * * 
       * *    
        * 
NOTE: There should be exactly one extra space after each * for each row.

##### Solution

In [2]:
N = int(input())

for i in range(N):
    for j in range(1):
        print(" "*i, end="")
        print("* "*(N-i), end="")
    print()

 5

* * * * *
 * * * *
  * * *
   * *
    *

#### Question 8**

Given an integer N as input, print the corresponding Full Numeric Pyramid pattern for N.

For example if N = 5 then pattern will be like:

    0 0 0 0 1 0 0 0 0 
    0 0 0 2 3 2 0 0 0 
    0 0 3 4 5 4 3 0 0
    0 4 5 6 7 6 5 4 0
    5 6 7 8 9 8 7 6 5 

NOTE: There should be exactly one extra space after each number for each row.

##### Solution

In [4]:
N = int(input())

for i in range(N):
    for j in range(1):
        print("0 "*(N-i-1), end="")
        
    m=i+1
    while m<=(i*2+1):
        print(m, end=" ")
        m+=1
    m-=2
    while m>=(i+1):
        print(m, end=" ")
        m-=1
        
    for j in range(1):
        print("0 "*(N-i-1), end="")
    print()

 5

0 0 0 0 1 0 0 0 0
0 0 0 2 3 2 0 0 0
0 0 3 4 5 4 3 0 0
0 4 5 6 7 6 5 4 0
5 6 7 8 9 8 7 6 5

##### Alternative approaches

Using if-else inside for loop

In [6]:
N = int(input())

for i in range(1,N+1):
    for j in range(1,N-i+1):
        print("0 ", end="")
    k=i
    for j in range(1,2*i):
        if j<i:
            print(k, end=" ")
            k+=1
        else:
            print(k,end=" ")
            k-=1
    for j in range(1,N-i+1):
        print("0 ", end="")
               
    print()

 5

0 0 0 0 1 0 0 0 0
0 0 0 2 3 2 0 0 0
0 0 3 4 5 4 3 0 0
0 4 5 6 7 6 5 4 0
5 6 7 8 9 8 7 6 5

Using only for loop

In [7]:
N = int(input())

for i in range(1,N+1):
    for j in range(1,N-i+1):
        print("0 ", end="")
    k=i
    for j in range(1,i):
        print(k, end=" ")
        k+=1
    for j in range(1, i+1):
        print(k, end=" ")
        k-=1
    for j in range(1,N-i+1):
        print("0 ", end="")
              
    print()

 5

0 0 0 0 1 0 0 0 0
0 0 0 2 3 2 0 0 0
0 0 3 4 5 4 3 0 0
0 4 5 6 7 6 5 4 0
5 6 7 8 9 8 7 6 5

### Day 14: Functions 1

#### Question 1

    Write a program to print all Natural numbers from 1 to N and from N to 1 inclusive, where N is given as an argument.
    
    Note1: First print from 1 to N then in new line print again from N to 1
    
    Note2: You need not take input in this problem, you need to only implement the function provided.
    
    Note3: There is 1 line gap between two output lines and a space between numbers in same line.

    Problem Constraints:
    1 <= N <= 1000
    
    Input Format:
    The first line indicates the number of test cases t
    The next t lines will have different values of N according to testcases
    
    Output Format:
    For each testcase there will be two lines of output:  
    The first line is N space-separated integers from 1 to N.
    The next line is N space-separated integers from N to 1.
    
    Sample Input:
    1
    5
    
    Sample Output:
    1 2 3 4 5

    5 4 3 2 1

##### Solution Submitted

In [8]:
def sequence(n):
    for i in range(0,n):
        print(i+1, end=" ")
    print("\n")
    for i in range(0,n):
        print(n-i, end=" ")

In [9]:
# Output
sequence(5)

1 2 3 4 5

5 4 3 2 1

#### Question 2

    Write a program to calculate the total amount if the principal amount, simple interest rate per annum, and time in the number of days are given. The simple interest rate per annum is provided as a percentage. Assuming that there are 365 days in a year, print the total amount rounded up to 2 decimal places.

    Note 1: Use round(ans,2) to round up ans up to two decimals

    Note 2: You need not take input in this problem, you need only to implement the function provided.

    Input Format:
    For each testcase there will be three lines of input as follows:  
    The 3 lines have numbers  
    The first line describes the time in number of days in int format 
    The second line describes the principal amount in float format
    The third line describes the interest rate per annum in percentage in float format

    Output Format:
    Total amount in float format

    Sample Input:
    1  
    789
    10000.0
    1.3

    Sample Output:
    10281.01

##### Solution Submitted

In [10]:
def simple_int(time,pa,ir):
    ans = pa+((time/365)*pa*ir)/100
    return round(ans,2)

In [11]:
simple_int(789,10000.0,1.3)

10281.01

#### Question 3


    Write a program that takes the cost price of a vehicle as an argument and returns the road tax, that the vehicle owner has to pay according to the following criteria:

    Note1: Return the tax up to one decimal place. You can use round(tax,1)

    Note2: You need not take input in this problem, you need to only implement the function provided.

    Input Format:
    The first line indicates the number of test cases. For each testcase there will be a single line of input representing the cost price.
    
    Output Format:
    Return tax in float format.
    
    Sample Input:
    1
    25000
    
    Sample Output:
    1250.0

##### Solution Submitted

In [12]:
def road_tax(price):
    if price>100000:
        tax = 0.20*price
    if price>75000 and price<=100000:
        tax = 0.15*price
    if price>50000 and price<=75000:
        tax = 0.10*price
    if price<50000:
        tax = 0.05*price
    return round(tax,1)

In [13]:
road_tax(25000)

1250.0

#### Question 5**


    Write a function to print a pattern similar to the one shown in the sample using n which is given to you as an argument to a function. Here n defines the number of rows.

    Note: There are no spaces between the stars in the first row, and there are no spaces at the end of each row.

    Input Format:
    The only argument to the function in an integer n.

    Output Format:
    Print Star Pattern in string format for each testcase.

    Sample Input:
    8

    Sample Output:
    ********
    *     *
    *    *
    *   *
    *  *
    * *
    **
    *

    Sample Explanation:
    In the first row, (n=8) stars are printed. 
    In the second row, 2 stars are printed with 5 spaces between them. 
    This number of spaces keeps decreasing by 1 after the second row until the last row where the number of spaces becomes zero and only one star is printed.

##### Solution Submitted

In [14]:
def star(n):
    for i in range(1,n+1):
        for j in range(1,n+1):
            if i==1:
                print("*", end="")
            if i>1:
                if j==1:
                    print("*", end="")
                if j>1 and j<=(n-i):
                    print(" ", end="")
                if j==n-i:
                    print("*", end="")   
        print()

In [15]:
star(8)

********
*     *
*    *
*   *
*  *
* *
**
*

#### Question 6

    Write a function to check whether a given number n as an input to the function is a perfect number or not. If the given integer is a perfect number return 1 else return 0.

    Note: In number theory, a perfect number is a positive integer that is equal to the sum of its proper positive divisors, that is, the sum of its positive divisors excluding the number itself (also known as its aliquot sum).

    Input Format:
    The only argument to the function is an integer n.
    
    Output Format:
    Print out 1 if the number is perfect else 0 in integer format.
    
    Sample Input:
    6
    
    Sample Output:
    1
    
    Sample Explanation:
    Given number is 6. 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6. Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6. Hence 6 is a perfect number.

##### Solution Submitted

In [16]:
def perfect_number(n):
    sum1=0
    for i in range(1,n):
        if n%i==0:
            sum1+=i
    if sum1==n:
        return 1
    else:
        return 0

In [17]:
perfect_number(6)

1

#### Question 7

    You are given a positive integer r denoting the radius of a sphere as a parameter. Write a program to calculate the volume of the sphere. The volume of a sphere having radius R is given by (4 * π * R3) / 3.

    NOTE: Return the volume of the sphere up to two decimal places. You can use round().

    NOTE2: Use pi as 22/7 (not math.pi).

    Input Format:
    The first line indicates the number of the test cases. For each testcase there will be one line of input:
    The one line contains r in integer format.

    Output Format:
    The volume of the sphere in float format is printed for each testcase in a new line.

    Sample Input:
    1
    8

    Sample Output:
    2145.52

##### Solution Submitted

In [18]:
def volume_sphere(r):
    pi = 22/7
    Vol = (4*pi*r**3)/3
    
    return round(Vol,2)

In [19]:
#Output
volume_sphere(8)

2145.52

### Day 15: Functions 2

#### Question 1

    Given the height (A) and weight (B) of a person as input in centimetres and kilograms.

    Find the BMI of that person and the classification of the user based on their BMI.

    Print Underweight if BMI < 18.5
    Print Normal weight if BMI lies in the range [18.5, 24.9]
    Print Overweight if BMI lies in the range (24.9, 29.9]
    Print Obese if BMI is greater than 29.9
    If x is the weight in kilograms and y is the height in metres.

    Then, BMI is calculated as x/(y*y).

    Problem Constraints -
    1 <= A <= 180
    1 <= B <= 120

    Input Format -
    The first line contains the height of the person in centimetres.
    The second line of the input contains the weight of the person in kilograms.

    Output Format -
    The first line of the output contains the classification of a person based on the BMI value.
    The second line of the output contains the BMI value of the person.

    Input 1:
    101
    29

    Input 2:
    129
    31

    Output 1:
    Overweight
    28.4

    Output 2:
    Normal
    18.6

##### Solution Submitted

In [20]:
A = int(input())
B = int(input())

def bmi():
    BMI = round(B/((A*A)/10000),1)
    return BMI
if bmi()<18.5:
    print("Underweight")
    print(bmi())
elif bmi()>=18.5 and bmi()<24.9:
    print("Normal weight")
    print(bmi())
elif bmi()>=24.9 and bmi()<29.9:
    print("Overweight")
    print(bmi())
else:
    print("Obese")
    print(bmi())

 24
 56

Obese
972.2

In [21]:
A = int(input())
B = int(input())

def bmi(A,B):
    BMI = round(B/((A*A)/10000),1)
    return BMI
if bmi(A,B)<18.5:
    print("Underweight")
    print(bmi(A,B))
elif bmi(A,B)>=18.5 and bmi(A,B)<24.9:
    print("Normal weight")
    print(bmi(A,B))
elif bmi(A,B)>=24.9 and bmi(A,B)<29.9:
    print("Overweight")
    print(bmi(A,B))
else:
    print("Obese")
    print(bmi(A,B))

 24
 56

Obese
972.2

In [22]:
# Output
bmi(A,B)

972.2

#### Question 11

    Will the following program output "hello world"?
    
    def foo():
        x = "hello world"

    foo()
    print(x)

##### Solution

x is not defined outside the function

#### Question 12

    What does the following program print?


    x = "global"

    def foo():
        global x
        print(x, end=",")
        x = "local"
        print(x, end=",")

    foo()
    print(x, end="")

##### Solution

since we are using global inside the function hence all the operations will now affect the global value

### Day 16: Lists - 1D

#### Question 1

    Write a function to check if the input list has consecutive duplicate elements or not.
    Return True if there are consecutive duplicate elements in the list else return False.

    Here by consecutive duplicates, we mean duplicates that are present at consecutive indices in the array

    Input Format:
    An integer array A as the function argument.
    
    Output Format:
    Return True or False
    
    Sample Input:
    1
    4
    1 2 3 3
    
    Sample Output:
    True
    Sample Explanation:

    As there are 3 3 in the list i.e. at indices 2 and 3, there True is returned.

##### Solution Submitted

In [23]:
def duplicate(ls,n):
    
    for i in range(n-1):
        if ls[i]==ls[i+1]:
            return True
    return False

In [24]:
ls = [1, 2, 3, 3]
n=4

In [25]:
duplicate(ls,n)

True

#### Question 2

    Write a program for a given integer x and a list ls to return the first multiple of x that occurs in the list, and if there isn’t any multiple of x in the list then return -1.

    Input Format:
    The first input to the function is a list ls and the second input is the integer x.
    
    Output Format:
    Return the multiple of x from the list in integer format, else return -1.
    
    Sample Input:
    1
    4
    2 1 2 4 3 5
    
    Sample Output:
    4
    
    Sample explanation:
    In the list, the first element that is a multiple of 4 is 4.

##### Solution Submitted

In [26]:
def first_multiple(ls,x):
    for i in ls:
        if i%x==0:
            return i
    return -1

In [27]:
ls = [2,1,2,4,3,5]
x=4

In [28]:
first_multiple(ls,x)

4

### Day 17: List Slicing**

#### Question 1

    Given a sorted integer array A, and an integer B. Find the first and last index of B in A.
    It is guaranteed that B exists in A. Return an array C of size 2, where C[0] is the first index of B in A and C[1] is the last index of B in A.

    Note - Indexing of A starts from 0. If the element only exists once, the values of both elements in the C list should be the same.

    Input Format
    The first argument is an array A.
    The second argument is an integer B.

    Output Format
    An integer array C of size 2.

    Input 1:
    A = [-2, -2, 4, 4, 8, 9]
    B = 4
    Input 2:
    A = [1, 9, 9, 9, 10, 21]
    B = 9

    Output 1:
    C =  [2, 3]
    Output 2:
    C = [1, 3]

    Explanation 1:
    A[2] and A[3] are equal to 4.
    Explanation 2:
    A[1], A[2] and A[3] are equal to 9.

##### Solution Submitted

In [29]:
def solve(A, B):
    C = []
    X = []
    for i in range(len(A)):
        if A[i]==B:
            X.append(i)
    C = X[:1]+X[-1:]       
    
    return C

In [30]:
# Output
A = [-2, -2, 4, 4, 8, 9]
B = 4
A = [1, 9, 9, 9, 10, 21]
B = 9
solve(A, B)

[1, 3]

##### Alternative Solution

In [31]:
def solve(A, B):
    index_1 = None
    index_2 = None
    for i in range(len(A)):
        # We got the first index with value equal to B
        if (A[i] == B) and (index_1 == None):
            index_1 = i
            index_2 = i
        elif (A[i] == B) and (index_1 is not None):
            index_2 = i
    return [index_1, index_2]

In [32]:
# Output
A = [-2, -2, 4, 4, 8, 9]
B = 4
A = [1, 9, 9, 9, 10, 21]
B = 9
solve(A, B)

[1, 3]

#### Question 2**

    You are given a sorted array of A and an integer B. Return an array of size 2, where the first element is the ceil of B and the second element is the floor of B.

    Ceil is the largest number greater than or equal to B and is present in the array A.
    Floor is the largest number smaller than or equal to B and is present in the array A.

    Input Format
    The input contains two lines.
    The first line contains space separated integers. The first value in this line is the number of elements N in the array after which N integers denoting elements of the array follow.
    The second line contains a single integer.

    Output Format
    An integer array C of size 2.

    Input 1:
    -2 4 4 8 9
    0
    Input 2:
    1 3 9 21
    9

    Output 1:
    4 -2
    Output 2:
    9 9

    Explanation 1:
    Just greater or equal element than 0 in A is 4 and
    just smaller or equal element than 0 is A is -2.
    Explanation 2:
    Ceil and floor of 9 will be 9 itself as 9 is present in the array.

##### Solution Submitted

In [29]:
 def solve(A, B):
        X = B
        Y = B
        for i in A:
            if i >= B:
                ceil_diff = i-B
            if i<=B:
                floor_diff = B-i              
                
        for i in range(len(A)):
            if A[i]>=B:
                if ceil_diff >= A[i]-B:
                    ceil_diff = A[i]-B
                    X = A[i]
            
            if A[i]<=B:
                if floor_diff >= B - A[i]:
                    floor = B-A[i]
                    Y = A[i]
        return(X,Y)

In [21]:
# Output
A = [1,3,9,21]
B = 9
solve(A, B)

[9, 9]

In [30]:
# Output
A = [1,3,22,9,21,22]
B = 9
solve(A, B)

(9, 9)

In [4]:
A = [ -10, -10, -7, -5, -3, -2, -1, 1, 1, 1, 2, 5, 5, 8, 10 ]
B = 4
solve(A, B)

[5, 2]

##### Alternative Solution

Below Code: (Doubt)

No idea what is happeining below down here?

In [27]:
 def solve(A, B):
        n = len(A)
        ans = [-1]*2
        # Iterating over the array
        for x in A:
            if x <= B:
                ans[1] = x
            if x >= B:
                ans[0] = x
                break
        return ans

In [16]:
# Output
A = [1,3,9,21,22]
B = 9
solve(A, B)

[22, 3]

In [1]:
ans = [-1]*2
ans

[-1, -1]

#### Question 3**

    Given an integer array A, find the inverse of the array A and return it. All the elements of the given array are distinct and elements of the array lie in the range [0, |A|).

    The inverse of the array means the array elements are swapped with their corresponding indices.

    For example, Let's say we have an array A = [2, 0, 1], the inverse of A would be [1, 2, 0].

    Since 2 is at index 0 in A, we shift the element 2 to the index of element 0 in the original list A.
    Since 0 is at index 1 in A, we shift the element 0 to the index of element 1 in the original list A.
    Since 1 is at index 2 in A, we shift the element 1 to the index of element 2 in the original list A.
    This gives us the inverse of the list which is [1, 2, 0]

    Problem Constraints
    1 <= |A| <= 105
    0 <= A[i] < |A| (All elements are distinct)

    Input Format
    The first and the only argument is an array A.

    Output Format
    Return an array which is the inverse of the given array A.

    Example Input
    Input 1:
    A = [2, 0, 1]
    Input 2:
    A = [3, 1, 0, 2]

    Example Output
    Output 1:
    [1, 2, 0]
    Output 2:
    [2, 1, 3, 0]

    Example Explanation
    Explanation 1:
    Index of 0 is 1, index of 1 is 2 and index of 2 is 0.
    Explanation 2:
    Index of 0 is 2, index of 1 is 1, index of 2 is 3 and index of 3 is 0.

##### Solution Submitted

In [57]:
def inverse_array(A):
    C=[]
    for i in range(len(A)):
            print(f"Index: {A[i]}, Element: {i}")
            C.insert(A[i],i)
            print(C)
    return C

In [63]:
def inverse_array(A):
    C=[]
    print(C)
    for i in range(len(A)):
            print(f"Index: {A[i]}, Element: {i}")
            C.insert(A[i],i)
            print(C)
    return C

In [ ]:
A = [ 9, 11, 0, 4, 13, 8, 6, 7, 5, 14, 3, 1, 2, 10, 12]
inverse_array(A)

In [64]:
A = [3, 1, 0, 2]
inverse_array(A)

[0, 0, 0, 0]
Index: 3, Element: 0
[0, 0, 0, 0, 0]
Index: 1, Element: 1
[0, 1, 0, 0, 0, 0]
Index: 0, Element: 2
[2, 0, 1, 0, 0, 0, 0]
Index: 2, Element: 3
[2, 0, 3, 1, 0, 0, 0, 0]

[2, 0, 3, 1, 0, 0, 0, 0]

In [52]:
A = [1,0]
inverse_array(A)

[1, 0]

In [41]:
A = [ 22, 7, 29, 12, 31, 39, 24, 11, 21, 38, 15, 1, 4, 41, 18, 28, 14, 40, 36, 33, 5, 23, 3, 13, 17, 27, 34, 10, 42, 20, 0, 35, 19, 9, 2, 37, 32, 25, 6, 16, 26, 30, 8]
inverse_array(A)

[3,
 11,
 20,
 4,
 35,
 16,
 17,
 1,
 23,
 6,
 28,
 7,
 31,
 30,
 36,
 42,
 18,
 26,
 32,
 9,
 39,
 13,
 12,
 41,
 40,
 10,
 2,
 15,
 8,
 5,
 22,
 37,
 33,
 38,
 29,
 25,
 19,
 27,
 24,
 14,
 34,
 0,
 21]

30 11 34 22 12 20 38 1 42 33 27 7 3 23 16 10 39 24 14 32 29 8 0 21 6 37 40 25 15 2 41 4 36 19 26 31 18 35 9 5 17 13 28

In [ ]:
inverse_array(A)

##### Alternative Solution
Below Code is giving wrong output. For eg: A = [3, 1, 0, 2] shall give the output of [2, 1, 3, 0] but instead it outputs [2, 3, 1, 0]. But during dry run I am able to get the desired output. So as per dry run this code is correct. Fill the gap in logic during dry run.

In [38]:
def inverse_array(A):
    C=[]
    for i in range(len(A)):
        for j in range(len(A)):
            if i == A[j]:
                C.insert(j,A[i])
    return C

In [39]:
A = [3, 1, 0, 2]
inverse_array(A)

[2, 3, 1, 0]

In [40]:
# Output
A = [2, 0, 1]
inverse_array(A)

[1, 2, 0]

In [41]:
A = [1,0]
inverse_array(A)

[0, 1]

In [47]:
A = [ 22, 7, 29, 12, 31, 39, 24, 11, 21, 38, 15, 1, 4, 41, 18, 28, 14, 40, 36, 33, 5, 23, 3, 13, 17, 27, 34, 10, 42, 20, 0, 35, 19, 9, 2, 37, 32, 25, 6, 16, 26, 30, 8]
inverse_array(A)

[3,
 22,
 20,
 11,
 35,
 16,
 7,
 4,
 29,
 17,
 6,
 12,
 31,
 30,
 39,
 23,
 1,
 24,
 26,
 28,
 21,
 42,
 32,
 38,
 9,
 15,
 36,
 41,
 8,
 18,
 14,
 40,
 2,
 13,
 33,
 5,
 10,
 37,
 27,
 34,
 25,
 0,
 19]

#### Question 4

    For a given list list1, which of the following methods are true for checking if the element 6 is present in the list?

    list1=[2,12,45,6,8,32,17]

    a) for i in list1:
         if(i==6):
           print('Element exists')
           
    b) if(list1.where(6)):
         print('Element exists')
         
    c)e_count = list1.count(6)          #Use shift+tab to adjust the indentation of the statements of if-else block. It shouldn't give indentation error.
      if e_count > 0:
        print("Yes, 6 exists in list")
      else:
        print("No, 6 does not exists in list")
        
    d) if (6 in list1):
         print('Element exists')

##### Solution Submitted

In [48]:
list1=[2,12,45,6,8,32,17]

In [49]:
for i in list1:
     if(i==6):
       print('Element exists')

Element exists

In [50]:
if(list1.where(6)):
     print('Element exists')

AttributeError: 'list' object has no attribute 'where'

In [51]:
e_count = list1.count(6)          #Use shift+tab to adjust the indentation of the statements of if-else block. It shouldn't give indentation error.
if e_count > 0:
    print("Yes, 6 exists in list")
else:
    print("No, 6 does not exists in list")

Yes, 6 exists in list

In [52]:
if (6 in list1):
    print('Element exists')

Element exists

#### Question 6

    Given an array A, check if it is sorted in non decreasing order or not.

    Input Format
    The first and only argument contains an integer array A.

    Output Format
    Return 1 if array is sorted else return 0.

    Input 1:
     A = [1, 2, 2] 
    Input 2:
     A = [1, 2, 1] 


    Output 1:
     1
    Output 2:
     0

    Explanation 1:
    We can see that the array elements are in non-decreasing order.
    Explanation 2:
    Second element is greater than the third element thus array is not non-decreasing, hence not sorted.

##### Solution Submitted

In [53]:
def solve(A):
    for i in range(len(A)-1):
        if A[i]<=A[i+1]:
            pass
        else:
            return 0
    return 1

In [54]:
# Output
A = [1, 2, 2]
solve(A)

1

#### Question 7

    What does the following slice return?
    [1, 2, 3][:-1]

##### Solution Submitted

In [56]:
[1, 2, 3][:-1]

[1, 2]

#### Question 8*

    Modify the value of variable w, x, y and z such that the program outputs [8, 6, 4]:

    w = None  # <- Change this
    x = None  # <- Change this
    y = None  # <- Change this
    z = None  # <- Change this

    lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

    first_slice = lst[::z]
    second_slice = first_slice[:y]
    third_slice = second_slice[x:]
    last_slice = third_slice[::w]

    print(last_slice)

##### Solution Submitted

In [1]:
w = 2 
x = 2  
y = -3  
z = -1 

lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

first_slice = lst[::z]
second_slice = first_slice[:y]
third_slice = second_slice[x:]
last_slice = third_slice[::w]

print(last_slice)

[8, 6, 4]

### Day 21: Strings2

#### Question 1

Match the string operations in column A with their correct output from column B with respect to string s.

    s = "My PO Box number is 310"
    print(s.isalnum())
    print(s.islower())                    True
    print(s.startswith('My P'))           False
    print(s.isspace())

##### Solution

isalnum returns True if all characters in string are alphanumeric so on and so forth.

### Day 22: Tuples + Sets

#### Question 5

Given two sentences, write a program to return the sum of the total number of unique words from each sentence.

    Input Format:
    The first line indicates the number of test cases.There will be two lines of inputs for each test cases as following:
    The two lines consist of two sentences in string format.

    Output Format:
    The number of unique words from the sentences in integer format.

    Sample Input:
    1
    in data analysis we use data and process it further to create better interpreted data
    more and more data will be passively collected

    Sample Output:
    20

    Sample explanation:
    {'use', 'process', 'create', 'better', 'analysis', 'in', 'it', 'further', 'and', 'we', 'data', 'interpreted', 'to'} 
    represent the 13 unique words from sentence1 and {'collected', 'more', 'be', 'and', 'data', 'passively', 'will'} 
    represent the 7 unique words from sentence2. Therefore 13 + 7 = 20 is returned.

    Note:
    If a word is present in both sentences it should be counted separately for both sentences.

##### Solution

In [131]:
def set_operation(sent1,sent2):
    list1 = sent1.split(" ")
    list2 = sent2.split(" ")
    list1 = set(list1)
    list2 = set(list2)
    return len(list1)+ len(list2)

In [122]:
a = "in data analysis we use data and process it further to create better interpreted data"
b = "more and more data will be passively collected"

In [132]:
set_operation(a,b)

20

#### Question 7

What is the output of the following program?

    set1 = {1, 2, 4}
    set2 = {4, 5, 6}
    print(len(set1 + set2))

##### Solution

## Sample Cell

### Day xx:

#### Question x

##### Solution Submitted

In [ ]:
# Output

##### Full Solution

In [ ]:
# Output