# Module 3

## Assignments

### Day 13: Pattern Printing

#### Question 1

    Take an integer N as input, print the corresponding pattern for N.
    For example if N = 5 then pattern will be like:

    *   *
    *   *
    *   *
    *   *
    *   *

##### Solution

In [30]:
N = int(input())
for i in range(1,N+1):
    for j in range(1,N+1):
        if j==1:
            print("*", end="")
        if j==2:
            print(" "*(N-2), end="")
        if j==N:
            print("*", end="\n")

 5

*   *
*   *
*   *
*   *
*   *

##### Optimized Approach

In [109]:
N = int(input())
for i in range(1,N+1):
    for j in range(1):
        print("*", end="")
        print(" "*(N-2), end="")
        print("*")

 5

*   *
*   *
*   *
*   *
*   *

#### Question 2

    Take an integer N as input, print the corresponding pattern for N.
    For example if N = 5 then pattern will be like:

    *****
    _****
    __***
    ___**
    ____*
    
    Note : Here '_' represents space for explanation purpose only. You have to print space in your code.

##### Solution

In [38]:
N = int(input())
for i in range(1,N+1): 
    for j in range(1):
        print(" "*(i-1), end="")
        print("*"*(N+1-i), end="\n")

 5

*****
 ****
  ***
   **
    *

#### Question 3

    Take an integer N, print the corresponding Full Pyramid pattern for N.

    For example if N = 5 then pattern will be like:

        * 
       * * 
      * * * 
     * * * * 
    * * * * * 
    
    NOTE: There should be exactly one extra space after each * for each row.

##### Solution

In [3]:
N = int(input())
for i in range(1,N+1):
    k=N-i+1
    for j in range(1,2*N):
        if j < k:
            print(" ", end="")
        if j>=k and j < k+i:
            print("*", end=" ")
    print()

 5

    *
   * *
  * * *
 * * * *
* * * * *

#### Question 4

    Take an integer N as input, print the corresponding pattern for N.
    For example if N = 5 then pattern will be like:

    ____*
    ___**
    __***
    _****
    *****
    
    Note : Here '_' represents space for explanation purpose only. You have to print space in your code.

##### Solution

In [5]:
N = int(input())

for i in range(1,N+1):
    for j in range(1):
        print(" "*(N-i), end="")
        print("*"*i, end="")
    print()

 5

    *
   **
  ***
 ****
*****

##### One more Approach. Try more approaches as it comes into mind.

In [7]:
N = int(input())

for i in range(1,N+1):
    for j in range(1,N+1):
        if j<=N-i:
            print(" ", end="")
        if j>N-i and j < N+1:
            print("*", end="")
    print()

 5

    *
   **
  ***
 ****
*****

#### Question 5

    Take an integer N as input, print the corresponding pattern for N.
    For example if N = 5 then pattern will be like:

    1
    1_
    1_3
    1_3_
    1_3_5

##### Solution

In [10]:
N = int(input())

for i in range(1,N+1):
    for j in range(1,i+1):
        if j%2:
            print(j, end="")
        if j%2==0:
            print(" ", end="")
    print()

 5

1
1
1 3
1 3
1 3 5

#### Question 6

    Given two integers N and M as inputs, print a rectangle of N * M stars.

    For example if N = 3, M = 4 then pattern will be like:

    ****
    ****
    ****

##### Solution

In [11]:
N = int(input())
M = int(input())

for i in range(1,N+1):
    for j in range(1,M+1):
        print("*",end="")
    print()

 3
 4

****
****
****

#### Question 7

    Take an Integer N as input. Print an Inverse half pyramid of N lines using *.
    For example for N = 5, the output should be the following pattern:-

    *****
    ****
    ***
    **
    *
    
    Note: There should be no space after the last * in each line of the output.

##### Solution

In [13]:
N = int(input())

for i in range(1,N+1):
    for j in range(N-i+1):
        print("*", end="")
    print()

 5

*****
****
***
**
*

### Day 14: Functions 1

#### Question 2

    Given the temperature of a day in Degrees Celsius, convert this given temperature from Celsius to Fahrenheit. Write a program to do so. Round the output up to 2 decimal places

    Note1:
    Python : Use round(ans,2) to round up ans to two decimals

    Note2:
    You need not take input in this problem, you need to only implement the function provided.

    Input Format:
    First line has the number of test cases. For each test case there will be a single line 
    of input in float format representing the temperature.

    Output Format:
    Fahrenheit value in float format

    Sample Input:
    1  
    36.8

    Sample Output:
    98.24

##### Solution Submitted

In [65]:
def celsius_farhen(Celsius):
    ans = Celsius*9/5 + 32   
    return round(ans,2)

##### Full Solution

Below Code:  
Whenever for loop runs it calls the 'celsius_farhen' functions and executes the already defined function. Since we are printing inside the functions so it prints the function each time for loops executes the iteration.

return function is not really required since for loop will execute the function after each input and will print the output anyway until and unless we need to store the output of the last iteration for later use.

'ans' variable doesn't need to be defined as '0' since it is locally defined inside function and hence every time loop executes the functions it attains a value as per formula but will lose the value as soon as execution moves out of the function.

In [4]:
n = int(input("Enter no of test cases: "))

def celsius_farhen(Celsius):
    #ans=0
    ans = Celsius*9/5 + 32
    print(round(ans,2))
    #return round(ans,2)

for i in range(n):
    Celsius = float(input("Enter temp in Celsius degree: "))
    celsius_farhen(Celsius)

Enter no of test cases:  3
Enter temp in Celsius degree:  36.8

98.24

Enter temp in Celsius degree:  14.1

57.38

Enter temp in Celsius degree:  24

75.2

##### Alternative approaches

Below Code: (Doubt)  
Is it not possible to use function inside the print statement like printing the return function output?

Variables would be outside of the function. So it won't exist but if we are returning and passing value to the fun arg and it generates output then shouln't same be true for print where only difference would be that print would also print the generated output?

In [2]:
n = int(input("Enter no of test cases: "))

for i in range(n):
    def celsius_farhen(Celsius):
        #ans=0
        Celsius = float(input("Enter temp in Celsius degree: "))
        ans = Celsius*9/5 + 32
        return round(ans,2)
    print(celsius_farhen(Celsius))

Enter no of test cases:  3

NameError: name 'Celsius' is not defined

Below Code:  (Doubt)  
Here we are printing the function before it is returned hence the code should fail but it is not failing and executes succesfully. Though there is not any output.  

Why it is not asking for input for temp since code shuld run correctly till that statement as per dry run?  
Why it is not failing at print statement?

In [1]:
n = int(input("Enter no of test cases: "))

for i in range(n):
    def celsius_farhen(Celsius):
        #ans=0
        Celsius = float(input("Enter temp in Celsius degree: "))
        ans = Celsius*9/5 + 32
        print(celsius_farhen(Celsius))
        return round(ans,2)

Enter no of test cases:  3

Below Code: (Doubt)  
Here we have chnaged the above code print function. Now it should run and print but it is still not giving any output.

Why print statement is not working?

In [1]:
n = int(input("Enter no of test cases: "))

for i in range(n):
    def celsius_farhen(Celsius):
        #ans=0
        Celsius = float(input("Enter temp in Celsius degree: "))
        ans = Celsius*9/5 + 32
        print(round(ans,2))
        #return round(ans,2)

Enter no of test cases:  3

#### Question 3

    Write a function to calculate and return the area of a circle by using the radius of the circle given as a parameter.

    Notes:
    Round up the area to 2 decimal places. You can use the round() function.
    Use pi as 3.14159.
    You need not take input in this problem, you need to only implement the function provided.

    Input Format:
    The first line indicates the number of the test cases. 
    For each test case there will be one line of input in integer format representing radius.

    Output Format:
    Area in float format rounded upto 2 decimal places for each testcase.

    Sample Input:
    1  
    5]
    Sample Output:
    78.54

##### Solution Submitted

In [2]:
def circle_area(r):
    ans = 3.14159*(r**2)
    return round(ans,2)

##### Full Solution

In [3]:
n = int(input("Enter no of test cases: "))

def circle_area(r):
    ans = 3.14159*(r**2)
    print(round(ans,2))

for i in range(n):
    r = int(input("Enter the radius: "))
    circle_area(r)

Enter no of test cases:  2
Enter the radius:  5

78.54

Enter the radius:  6

113.1

#### Question 4

    Given an integer n, write a program to print the sum of squares of first n natural numbers in integer format.

    Note1:
    The formula for the sum of squares of first n natural numbers is: n(n+1)(2n+1)/6
    
    Note2:
    You need not take input in this problem, only implement the function provided.

    Problem Constraints:
    1 <= N <= 100

    Input Format:
    The first line indicates the number of test cases.
    For each testcase there will be a single line of input with an integer representing n for that testcase.

    Output Format:
    Sum of squares of n natural numbers in integer format

    Sample Input:
    1
    6

    Sample Output:
    91

    Sample explanation:
    According to the formula sum of first 6 natural numbers is 6*(6+1)(12+1)/6=91

##### Solution Submitted

In [108]:
def sum_squares(n):
    ans =  n*(n+1)*((2*n)+1)/6
    return int(ans)

##### Full Solution

In [13]:
t = int(input("Enter no of test cases: "))

def sum_square(n):
    ans =  n*(n+1)*((2*n)+1)/6
    print (int(ans))
    
for i in range(t):
    n = int(input("Enter the integer: "))
    sum_square(n)

Enter no of test cases:  2
Enter the integer:  4

30

Enter the integer:  6

91

#### Question 5

What is the output of the following function call?

    def 1f(num):
        return num + 55
    1f(5)
    print(num)

##### Solution Submitted

##### Solution

Invalid function name. Hence will generate error.

#### Question 7

    You are given a lowercase latin alphabetic character C. You have to tell whether it is a vowel or not.

    Problem Constraints:
    C ∈ ['a' - 'z']

    Input Format:
    The input consists of a single character C.

    Output Format:
    Return 1 if the given character is a vowel, else return 0.

    Example Input 1:
    a 
    
    Example Onput 1:
    1 
    
    Explanation:
    since, 'a' is a vowel.

##### Solution Submitted

In [41]:
def isvowel(C):
    if C=='a' or C=='e' or C=='i' or C=='o' or C=='u':
        print("1")
    else:
        print("0")
    return ans

##### Full Solution

In [39]:
C= input("Enter the alphabet: ")
C= C.lower()     
     
def isVowel(C):
     if C=='a' or C=='e' or C=='i' or C=='o' or C=='u':
        print("1")
     else:
        print("0")

isVowel(C)

Enter the alphabet:  a

1

### Day 15: Functions 2

#### Question 1

    Given three integers, A, B and C. You have to find the number of days it will take to reach zero cases of Corona in a city.
    A - Average cases recovered in a day of the corona.
    B - Number of new cases of corona daily.
    C - Current active cases of the corona.
    
    Return the minimum number of days it will take to reach 0 active cases of Covid.

    Problem Constraints
    1 <= B < A <= 5000
    1 <= C <= 1000

    Input Format
    The first argument will be integer A, which denotes the recovered cases in a day.
    The second argument will be integer B, which denotes the new cases in a day.
    The third argument will be integer C, which denotes the currently active cases.

    Output Format
    Return an integer which denotes the minimum days to reach 0 cases.

    Input 1:
    A = 5
    B = 3
    C = 1

    Output 1:
    1

##### Solution Submitted

In [11]:
def solve(A, B, C):
    count = 1
    while C+(B-A)>0:
        count +=1
        C = C+(B-A)
    return count

In [13]:
solve(36,35,9)

9

#### Question 2

    You are given a function that takes an integer argument A. Return 1 if A is a perfect square otherwise return 0.

    Problem Constraints
    1 <= A <= 108

    Input Format
    First argument is an integer A.

    Output Format
    Return an integer (0 or 1) based upon the question.

    Input 1:
    A = 4

    Input 2:
    A = 1001

    Output 1:
    1

    Output 2:
    0

##### Solution Submitted

In [25]:
def solve(A):
    for i in range(1,A+1):
        if i**2==A:
            return 1
        elif i**2>A:
            return 0

In [27]:
solve(121)

1

#### Question 3**

    Given an integer A, find the rounded value of real number A/200.

    Rounded value of a real number X is the integer which is nearest to X, with halfway cases rounded away from zero.

    Some examples:
    Rounded value of 2.4 = 2
    Rounded value of 2.5 = 3
    Rounded value of 2.6 = 3
    Rounded value of 0.0 = 0
    Rounded value of -2.4 = -2
    Rounded value of -2.5 = -3
    Rounded value of -2.6 = -3

    Problem Constraints
    -108 <= A <= 108

    Input Format
    First and only argument is an integer A.

    Output Format
    Return an integer denoting the rounded value of real number A / 200.

    Input 1:
    A = 500 

    Output 1:
    3

##### Solution Submitted

In [16]:
import math
def solve(A):
    A = A/200
    if A>=0:
        return math.floor(A+0.5)
    elif A<0:
        return math.ceil(A-0.5)

In [17]:
solve(0)

0

In [19]:
solve(-500)

-3

#### Question 4

    Given a number A. Return square root of the number if it is perfect square otherwise return -1.

    Problem Constraints
    1 <= A <= 108

    Input Format
    First and the only argument is an integer A.

    Output Format
    Return an integer which is the square root of A if A is perfect square otherwise return -1.

    Input 1:
    A = 4

    Input 2:
    A = 1001

    Output 1:
    2

    Output 2:
    -1

##### Solution Submitted

In [21]:
def solve(A):
    for i in range(1,A+1):
        if i**2==A:
            return i
        elif i**2>A:
            return -1

In [22]:
solve(121)

11

## Sample Cell

### Day xx:

#### Question x

##### Solution Submitted

##### Full Solution

In [112]:
# Output Cell

## HW

### Day 13: Pattern Printing

#### Question 1

Take an integer N as input, print the corresponding pattern for N.

For example if N = 5 then pattern will be like:

    ********** // 0 spaces

    ****  **** // 2 spaces

    ***    *** // 4 spaces

    **      ** // 6 spaces

    *        * // 8 spaces

NOTE: Here '_' is used to represent spaces. You have to print spaces in your code.

##### Solution

In [121]:
N = int(input())

for i in range(0,N):
    for j in range(1):
        print("*"*(N-i), end="")
        print(" "*(2*i), end="")
        print("*"*(N-i), end="")
    print()

 5

**********
****  ****
***    ***
**      **
*        *

#### Question 2

Take an integer N as input, print the corresponding pattern for N.

For example if N = 5 then pattern will be like:

    *________* // 8 spaces

    **______** // 6 spaces

    ***____*** // 4 spaces

    ****__**** // 2 spaces

    ********** // 0 spaces
NOTE: Here '_' is used to represent spaces. You have to print spaces in your code.

##### Solution

In [126]:
N = int(input())

for i in range(1,N+1):
    for j in range(1):
        print("*"*i, end="")
        print(" "*(2*(N-i)), end="")
        print("*"*i, end="")
    print()

 5

*        *
**      **
***    ***
****  ****
**********

#### Question 3

Take an integer N as input, print the corresponding Half Diamond pattern with 2*N - 1 rows.

For example if N = 5 then pattern will be like:

    * 
    **
    ***
    ****
    *****
    ****
    ***
    **
    *
NOTE: There should be no spaces after any *

##### Solution
Approach 1

In [70]:
N = int(input())

for i in range(1,2*N):
    for j in range(1):
        if i<=N:
            print("*"*i, end="")
        if i>N and i<2*N:
            print("*"*(2*N-i), end="")                        
    print()

 5

*
**
***
****
*****
****
***
**
*

##### Solution
Approach 2

In [65]:
N = int(input())

for i in range(1,N+1):
    for j in range(1,i+1):
            print("*", end="")
    print()
for i in range(N+1,2*N):
    for j in range(2*N-i):
        print("*", end="")
    print()

 5

*
**
***
****
*****
****
***
**
*

#### Question 4

Take an integer N as input, print the corresponding pattern for N.

For example if N = 5 then pattern will be like:

    *****
    *   *
    *   *
    *   *
    *****
Note : Except for the first line and the last line, every line will have N-2 spaces between the two stars.

##### Solution
Think of a more optimized approach than this

In [104]:
N = int(input())

for i in range(1,N+1):
    for j in range(1):
        if i==1:
            print("*"*N)
            break
        if i>1 and i<N:
            print("*", end="")
            print(" "*(N-2), end="")
            print("*")
            break
        if i==N:
            print("*"*N)
            break

 5

*****
*   *
*   *
*   *
*****

#### Question 5

Given an integer N as input, print the corresponding Hollow Inverted Half Pyramid pattern for N.

For example if N = 6 then pattern will be like:

    ******
    *   *
    *  *
    * *
    **
    *

##### Solution

In [39]:
N = int(input())

for i in range(1,N+1):
    for j in range(1,N+1):
        if i==1:
            print("*", end="")
        if i>1:
            if j==1:
                print("*", end="")
            if j>1 and j<=(N-i):
                print(" ", end="")
            if j==N-i:
                print("*", end="")   
    print()

 6

******
*   *
*  *
* *
**
*

##### Alternative approach
Using jump statement for i

In [40]:
N = int(input())

for i in range(1,N+1):
    for j in range(1,N+1):
        if i==1:
            print("*", end="")
            continue
        if j==1:
            print("*", end="")
        if j>1 and j<=(N-i):
            print(" ", end="")
        if j==N-i:
            print("*", end="")
    print()

 6

******
*   *
*  *
* *
**
*

#### Question 6

Take an integer N as input, print the corresponding Full Numeric Pyramid pattern for N.

For example if N = 5 then pattern will be like:

    0 0 0 0 5 0 0 0 0 
    0 0 0 4 8 12 0 0 0 
    0 0 3 6 9 12 15 0 0
    0 2 4 6 8 10 12 14 0
    1 2 3 4 5 6 7 8 9 
NOTE: There should be exactly one extra space after each number for each row.

##### Solution

In [6]:
N = int(input())

for i in range(N):
    for j in range(1):
        print("0 "*(N-i-1), end="")
    k=1
    while k<=(i*2+1):
        print((N-i)*k, end=" ")
        k+=1
    for j in range(1):
        print("0 "*(N-i-1), end="")
    print()

 5

0 0 0 0 5 0 0 0 0
0 0 0 4 8 12 0 0 0
0 0 3 6 9 12 15 0 0
0 2 4 6 8 10 12 14 0
1 2 3 4 5 6 7 8 9

##### Alternative approaches

Taking range from(1,N+1)

In [15]:
N = int(input())

for i in range(1,N+1):
    for j in range(1,N-i+1):
        print("0 ", end="")
    for j in range(1,2*i):
        print((N-i+1)*j, end=" ")
    for j in range(1,N-i+1):
        print("0 ", end="")

    print()

 5

0 0 0 0 5 0 0 0 0
0 0 0 4 8 12 0 0 0
0 0 3 6 9 12 15 0 0
0 2 4 6 8 10 12 14 0
1 2 3 4 5 6 7 8 9

Taking range from (0, N)

In [26]:
N = int(input())

for i in range(N):
    for j in range(N-i-1):
        print("0 ", end="")
    for j in range(2*i+1):
        print((N-i)*(j+1), end=" ")
    for j in range(N-i-1):
        print("0 ", end="")
    print()

 5

0 0 0 0 5 0 0 0 0
0 0 0 4 8 12 0 0 0
0 0 3 6 9 12 15 0 0
0 2 4 6 8 10 12 14 0
1 2 3 4 5 6 7 8 9

#### Question 7

Take an integer N as input, and print the corresponding Inverted Full Pyramid pattern for N.

For example if N = 5 then pattern will be like:

    * * * * * 
     * * * * 
      * * * 
       * *    
        * 
NOTE: There should be exactly one extra space after each * for each row.

##### Solution

In [130]:
N = int(input())

for i in range(N):
    for j in range(1):
        print(" "*i, end="")
        print("* "*(N-i), end="")
    print()

 5

* * * * *
 * * * *
  * * *
   * *
    *

#### Question 8

Given an integer N as input, print the corresponding Full Numeric Pyramid pattern for N.

For example if N = 5 then pattern will be like:

    0 0 0 0 1 0 0 0 0 
    0 0 0 2 3 2 0 0 0 
    0 0 3 4 5 4 3 0 0
    0 4 5 6 7 6 5 4 0
    5 6 7 8 9 8 7 6 5 

NOTE: There should be exactly one extra space after each number for each row.

##### Solution

In [12]:
N = int(input())

for i in range(N):
    for j in range(1):
        print("0 "*(N-i-1), end="")
        
    m=i+1
    while m<=(i*2+1):
        print(m, end=" ")
        m+=1
    m-=2
    while m>=(i+1):
        print(m, end=" ")
        m-=1
        
    for j in range(1):
        print("0 "*(N-i-1), end="")
    print()

 5

0 0 0 0 1 0 0 0 0
0 0 0 2 3 2 0 0 0
0 0 3 4 5 4 3 0 0
0 4 5 6 7 6 5 4 0
5 6 7 8 9 8 7 6 5

##### Alternative appraches using only for loop

Using if-else inside for loop

In [34]:
N = int(input())

for i in range(1,N+1):
    for j in range(1,N-i+1):
        print("0 ", end="")
    k=i
    for j in range(1,2*i):
        if j<i:
            print(k, end=" ")
            k+=1
        else:
            print(k,end=" ")
            k-=1
    for j in range(1,N-i+1):
        print("0 ", end="")
    
            
    print()

 5

0 0 0 0 1 0 0 0 0
0 0 0 2 3 2 0 0 0
0 0 3 4 5 4 3 0 0
0 4 5 6 7 6 5 4 0
5 6 7 8 9 8 7 6 5

Using only for loop

In [33]:
N = int(input())

for i in range(1,N+1):
    for j in range(1,N-i+1):
        print("0 ", end="")
    k=i
    for j in range(1,i):
        print(k, end=" ")
        k+=1
    for j in range(1, i+1):
        print(k, end=" ")
        k-=1
    for j in range(1,N-i+1):
        print("0 ", end="")
    
            
    print()

 5

0 0 0 0 1 0 0 0 0
0 0 0 2 3 2 0 0 0
0 0 3 4 5 4 3 0 0
0 4 5 6 7 6 5 4 0
5 6 7 8 9 8 7 6 5

### Day 14: Functions 1

#### Question 1

    Write a program to print all Natural numbers from 1 to N and from N to 1 inclusive, where N is given as an argument.
    
    Note1: First print from 1 to N then in new line print again from N to 1
    
    Note2: You need not take input in this problem, you need to only implement the function provided.
    
    Note3: There is 1 line gap between two output lines and a space between numbers in same line.

    Problem Constraints:
    1 <= N <= 1000
    
    Input Format:
    The first line indicates the number of test cases t
    The next t lines will have different values of N according to testcases
    
    Output Format:
    For each testcase there will be two lines of output:  
    The first line is N space-separated integers from 1 to N.
    The next line is N space-separated integers from N to 1.
    
    Sample Input:
    1
    5
    
    Sample Output:
    1 2 3 4 5

    5 4 3 2 1

##### Solution Submitted

In [115]:
def sequence(n):
    for i in range(0,n):
        print(i+1, end=" ")
    print("\n")
    for i in range(0,n):
        print(n-i, end=" ")

In [116]:
# Output
sequence(5)

1 2 3 4 5

5 4 3 2 1

#### Question 2

    Write a program to calculate the total amount if the principal amount, simple interest rate per annum, and time in the number of days are given. The simple interest rate per annum is provided as a percentage. Assuming that there are 365 days in a year, print the total amount rounded up to 2 decimal places.

    Note 1: Use round(ans,2) to round up ans up to two decimals

    Note 2: You need not take input in this problem, you need only to implement the function provided.

    Input Format:
    For each testcase there will be three lines of input as follows:  
    The 3 lines have numbers  
    The first line describes the time in number of days in int format 
    The second line describes the principal amount in float format
    The third line describes the interest rate per annum in percentage in float format

    Output Format:
    Total amount in float format

    Sample Input:
    1  
    789
    10000.0
    1.3

    Sample Output:
    10281.01

##### Solution Submitted

In [73]:
def simple_int(time,pa,ir):
    ans = pa+((time/365)*pa*ir)/100
    return round(ans,2)

In [74]:
simple_int(789,10000.0,1.3)

10281.01

#### Question 3


    Write a program that takes the cost price of a vehicle as an argument and returns the road tax, that the vehicle owner has to pay according to the following criteria:

    Note1: Return the tax up to one decimal place. You can use round(tax,1)

    Note2: You need not take input in this problem, you need to only implement the function provided.

    Input Format:
    The first line indicates the number of test cases. For each testcase there will be a single line of input representing the cost price.
    
    Output Format:
    Return tax in float format.
    
    Sample Input:
    1
    25000
    
    Sample Output:
    1250.0

##### Solution Submitted

In [75]:
def road_tax(price):
    if price>100000:
        tax = 0.20*price
    if price>75000 and price<=100000:
        tax = 0.15*price
    if price>50000 and price<=75000:
        tax = 0.10*price
    if price<50000:
        tax = 0.05*price
    return round(tax,1)

In [78]:
road_tax(25000)

1250.0

#### Question 5**


    Write a function to print a pattern similar to the one shown in the sample using n which is given to you as an argument to a function. Here n defines the number of rows.

    Note: There are no spaces between the stars in the first row, and there are no spaces at the end of each row.

    Input Format:
    The only argument to the function in an integer n.

    Output Format:
    Print Star Pattern in string format for each testcase.

    Sample Input:
    8

    Sample Output:
    ********
    *     *
    *    *
    *   *
    *  *
    * *
    **
    *

    Sample Explanation:
    In the first row, (n=8) stars are printed. 
    In the second row, 2 stars are printed with 5 spaces between them. 
    This number of spaces keeps decreasing by 1 after the second row until the last row where the number of spaces becomes zero and only one star is printed.

##### Solution Submitted

In [106]:
def star(n):
    for i in range(1,n+1):
        for j in range(1,n+1):
            if i==1:
                print("*", end="")
            if i>1:
                if j==1:
                    print("*", end="")
                if j>1 and j<=(n-i):
                    print(" ", end="")
                if j==n-i:
                    print("*", end="")   
        print()

In [107]:
star(8)

********
*     *
*    *
*   *
*  *
* *
**
*

#### Question 6

    Write a function to check whether a given number n as an input to the function is a perfect number or not. If the given integer is a perfect number return 1 else return 0.

    Note: In number theory, a perfect number is a positive integer that is equal to the sum of its proper positive divisors, that is, the sum of its positive divisors excluding the number itself (also known as its aliquot sum).

    Input Format:
    The only argument to the function is an integer n.
    
    Output Format:
    Print out 1 if the number is perfect else 0 in integer format.
    
    Sample Input:
    6
    
    Sample Output:
    1
    
    Sample Explanation:
    Given number is 6. 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6. Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6. Hence 6 is a perfect number.

##### Solution Submitted

In [122]:

def perfect_number(n):
    sum1=0
    for i in range(1,n):
        if n%i==0:
            sum1+=i
    if sum1==n:
        return 1
    else:
        return 0

In [125]:
perfect_number(6)

1

#### Question 7

    You are given a positive integer r denoting the radius of a sphere as a parameter. Write a program to calculate the volume of the sphere. The volume of a sphere having radius R is given by (4 * π * R3) / 3.

    NOTE: Return the volume of the sphere up to two decimal places. You can use round().

    NOTE2: Use pi as 22/7 (not math.pi).

    Input Format:
    The first line indicates the number of the test cases. For each testcase there will be one line of input:
    The one line contains r in integer format.

    Output Format:
    The volume of the sphere in float format is printed for each testcase in a new line.

    Sample Input:
    1
    8

    Sample Output:
    2145.52

##### Solution Submitted

In [118]:
def volume_sphere(r):
    pi = 22/7
    Vol = (4*pi*r**3)/3
    
    return round(Vol,2)

In [119]:
#Output
volume_sphere(8)

2145.52

### Day 15: Functions 2

#### Question

##### Solution Submitted

#### Question

##### Solution Submitted