## Assignments

### Day 36: OOPS - 1

#### Question 2

    When name "Vishal" is assigned to object p1 of the Person class in the above code snippet, what did self refer to, in line x?
    
            class Person:
                def __init__(self, Name):
                    self.name = Name             #line x
                def get_person_name(self):
                    return self.name
                p1=Person("Vishal")

##### Solution

object 'p1'

#### Question 3

    What will be the output of the following code snippet:

            class People():
                def __init__(self, name):
                    self.name = name

                def get_name(self):
                    print(self.name)

            person1 = People("John")
            person2 = People("Mary")
            person1.get_name()

##### Solution Submitted

    John

#### Question 4**

    What will be the output of the following Python code?

            class fruits:
                def __init__(self, price):
                    self.price = price

            obj=fruits(50)
            obj.quantity=10
            obj.bags=2

            print(obj.quantity+len(obj.__dict__))

##### Solution Submitted

13

In [138]:
class fruits:
    def __init__(self, price):
        self.price = price

obj=fruits(50)
obj.quantity=10
obj.bags=2

* **__dict**__ is a dunder which gives all the attributes defined for an object

In [137]:
# __dict__ is a dunder which gives
# all the attributes defined for an object.

obj.__dict__

{'price': 50, 'quantity': 10, 'bags': 2}

In [136]:
# So, len of dict will give the number of attributes
# of that object.

len(obj.__dict__)

3

In [135]:
 print(obj.quantity+len(obj.__dict__))

13

#### Question 5

    What will be the output of the following code snippet:

    class Player:
        # class variables
        club = 'United'
        sport = 'Football'

        def __init__(self, name):
            # Instance variable
            self.name = name

        def show(self):
            print('Name:', self.name, 'Club:', self.club, 'Sports:', self.sport, end=" ")

    p1 = Player('Sanjay')
    p1.club = 'Real Madrid'
    p1.show()

    p2 = Player('Ravi')
    p2.sport = 'Tennis'
    p2.show()

##### Solution Submitted

    Name: Sanjay Club: Real Madrid Sports: Football Name: Ravi Club: United Sports: Tennis

#### Question 6

    Create a class Bill and initialize it with the details: previous and current meter readings. Create a function total_bill() inside the Bill class which returns the total bill based on the following criteria:

    1. For the first 100 units consumed: 3.5 rs/unit
    2. For the next 100 units consumed: 5 rs/unit
    3. For remaining units consumed: 8 rs/unit
    4. Meter Charges: 150 rs (It's included only once but is mandatory)

    Example input:
    200 650
    
    Example output:
    3000.0
    
    Example explanation:
    previous_read= 200
    current_read= 650
    Unit_consumed= 650-200 = 450
    total_bill = 100*3.5 + 100*5 + 250*8 + 150(meter charges)= 3000.0 (output will be float)

##### Solution Submitted

In [26]:
class Bill():

    def __init__(self, prev_read, cur_read):
        #YOUR CODE GOESS HERE
        self.prev_read = prev_read
        self.cur_read = cur_read
        
    def total_bill(self):
        total=0.0
        #YOUR CODE GOESS HERE
        consumption = self.cur_read - self.prev_read
        if consumption <= 100:
            total = consumption*3.5+150
        elif consumption <= 200:
            total = 100*3.5 + (consumption-100)*5 + 150
        else:
            total = 100*3.5 + 100*5 + (consumption -200)*8 + 150
        
        return total

In [29]:
# Output
x = Bill(200, 650)

In [30]:
x.total_bill()

3000.0

#### Question 7

    Create a class Student and initialize it with the following class variables:
    
    marks in subject 1
    credit of subject 1
    marks in subject 2
    credit of subject 2

    Create a function gradepointaverage() for the Student class which computes the GPA rounded to two decimals, based on the following criteria of points in a subject :

    1. If marks>=90:10 points
    2. If 90>marks>=75: 9 points
    3. If 75>marks>=60: 8 points
    4. If 60>marks>=45: 7 points
    5. If marks<45: 0 points

    GPA = (pointsinsubject1 ∗ creditofsubject1 + pointsinsubject2 ∗ creditofsubject2) / (creditofsubject1 + creditofsubject2)

    The points in a subject should be calculated according to the criteria mentioned in the question.
    Also, implement a special zero case to handle when credits of both subjects are 0, return "Zero credits for both subjects".

    Input Format
    Class Student takes input in the form (marks1,marks2,credits1,credits2)

    Output Format
    GPA value

    Example Input
    (85, 76, 3, 4)

    Example Output
    9.0

##### Solution Submitted

In [56]:
class Student():
    
    def __init__(self, marks1,marks2,credits1, credits2):
        #YOUR CODE GOES HERE
        self.marks1 = marks1
        self.marks2 = marks2
        self.credits1 = credits1
        self.credits2 = credits2
    
    def grade_point_average(self):
        gpa=0
        
        #YOUR CODE GOES HERE
        if self.marks1 >= 90:
            points1 = 10
        elif self.marks1 >= 75:
            points1 = 9
        elif self.marks1 >= 60:
            points1 = 8
        elif self.marks1 >=45:
            points1 = 7
        else:
            points1 = 0

        if self.marks2 >= 90:
            points2 = 10
        elif self.marks2 >= 75:
            points2 = 9
        elif self.marks2 >= 60:
            points2 = 8
        elif self.marks2 >=45:
            points2 = 7
        else:
            points2 = 0
        try:
            gpa = round((points1*self.credits1 + points2*self.credits2)/(self.credits1+self.credits2),2)
            return gpa
        except:
            return "Zero credits for both subjects"

In [57]:
# Output
x = Student(0,0,3,4)

In [58]:
x.grade_point_average()

0.0

##### Better Approach

In [146]:
class Student:
    def __init__(self, marks1, marks2, credit1, credit2):
        self.marks1 = marks1
        self.marks2 = marks2
        self.credit1 = credit1
        self.credit2 = credit2
    
    def get_points(self, marks):
        if marks >= 90:
            return 10
        elif marks <90 and marks >=75:
            return 9
        elif marks <75 and marks >= 60:
            return 8
        elif marks < 60 and marks >= 45:
            return 7
        elif marks < 45:
            return 0
    
    def grade_point_average(self):
        if self.credit1 == 0 and self.credit2 == 0:
            return "Zero credits for both subjects"
        else:
            self.points1  = self.get_points(self.marks1)
            self.points2  = self.get_points(self.marks2)

        cgpa = ((self.points1*self.credit1) + (self.points2*self.credit2))/(self.credit1 + self.credit2)

        return round(cgpa,2)

In [147]:
# Output
x = Student(0,0,3,4)

In [148]:
x.grade_point_average()

0.0

### Day 37: OOPS - 2

#### Question 2

    Complete the classes Smaller and Larger.

    Smaller class gets instantiated when the argument of the function (a:string) has a length smaller than 6 otherwise Larger is instantiated.
    Both the classes have the same two methods, display() printing the type of a (class), and
    evaluate() printing the number of vowels if the Name is Smaller otherwise it prints the number of consonants.

    Input Format
    For each testcase there will be a single line of input which will be a string.

    Output Format
    For each testcase there will be two lines of outputs. First line will write the type of object and second line will print the output of evaluate() according to the object type.

    Example Input
    "aman"
    
    Example Output
    The type of Name is smaller
    2

    Example Explanation
    Since the length of "aman" is 4 which is smaller than 6, therefore, it will be called with Smaller class and in the second line evaluate() will print the frequency of vowels in the Name.

##### Solution Submitted

In [7]:
class Smaller:
    def __init__(self,a):
        self.string = a
    
    def display(self):
        print("The type of Name is smaller")
    
    def evaluate(self):
        ans=0
        vowel = ['a', 'e', 'i', 'o', 'u']
        # YOUR CODE GOES HERE
        for i in self.string:
            if i.lower() in vowel:
                ans +=1
        print(ans)
        
class Larger:
    def __init__(self,a):
        self.string = a
    
    def display(self):
        print("The type of Name is larger")
    
    def evaluate(self):
        ans=0
        vowel = ['a', 'e', 'i', 'o', 'u']
        # YOUR CODE GOES HERE
        for i in self.string:
            if i.lower() not in vowel:
                ans +=1
        print(ans)

def main(a):
    '''
    input a is string
    '''
    if len(a)<6:
        obj=Smaller(a)
        obj.display()
        obj.evaluate()
    else:
        obj=Larger(a)
        obj.display()
        obj.evaluate()

In [8]:
# Output
x = main("aman")

The type of Name is smaller
2

In [9]:
x = main("amanrathore")

The type of Name is larger
6

#### Question 3

    You are already given a class Machine_Learning with its constructor and a number of methods. You have to define a class Supervised which will inherit the MachineLearning class with the following data members and methods:

    Data Members:
    1. name: string
    2. category: string

    Methods:
    1. Constructor: Initialize the data member and call the parent class constructor
    2. getname(): Returns the data member name.
    3. getcategory(): Returns the data member breed.
    4. type(): Prints 'Supervised Learning Algorithm'.

    You also have to define a class Unsupervised which will also inherit the MachineLearning class with the same data members and methods as in Supervised, but the type() will have to print Unsupervised Learning Algorithm for this class.

    Input Format:
    4 strings each in a new line. First two strings are name and category for Supervised class object and the last two are for Unsupervised class object.
    
    Output Format:
    Name of class is printed for the two instantiated objects.
    Category of class is printed for the two instantiated objects.
    type() of class is printed for the two instantiated objects.
    
    Sample Input:
    Logistic Regression
    Classification Algo
    k-Means
    Clustering Algo
    
    Sample output:
    Name: Logistic Regression
    Category: Classification Algo
    Supervised Learning Algorithm
    Name: k-Means
    Category: Clustering Algo
    Unsupervised Learning Algorithm
    
    Sample's Explanation:
    For Linear Regression, Classification Algo the type of class is supervised therefore it's printed after its name and category. For k-Means, Clustering Algo the type of class is supervised therefore it's printed after its name and category.

##### Solution Submitted

In [122]:
class MachineLearning:
    def __init__(self,name,category):
        self.name = name
        self.category = category
        
    def getname(self):
        return self.name
        
    def getcategory(self):
        return self.category
        
    def print(self):
        print("Name:",self.name)
        print("Category:",self.category)

class Supervised(MachineLearning):
    def __init__(self,name,category):
        #YOUR CODE GOES HERE
        super().__init__(name, category)
        
    def type(self):
        #YOUR CODE GOES HERE
        MachineLearning.print(self)
        print("Supervised Learning Algorithm")

class Unsupervised(MachineLearning):
    def __init__(self,name,category):
        #YOUR CODE GOES HERE
        super().__init__(name, category)
    
    def type(self):
        #YOUR CODE GOES HERE
        MachineLearning.print(self)
        print("Unsupervised Learning Algorithm")

def mlAnalogy(a,b,c,d):
    '''
    input=> a,b = name and category for Supervised class
            c,d = name and category for Unsupervised class
    output=> type() is called for both classes in the end, it should first print the Name and Category then the type of class in new lines
    '''

    obj1=Supervised(a,b)
    obj1.type()
    obj2=Unsupervised(c,d)
    obj2.type()

    return None

In [123]:
# Output
x = mlAnalogy("Logistic Regression", "Classification Algo", "k-Means", "Clustering Algo")

Name: Logistic Regression
Category: Classification Algo
Supervised Learning Algorithm
Name: k-Means
Category: Clustering Algo
Unsupervised Learning Algorithm

##### Exercise Solution

In [126]:
class MachineLearning:
    def __init__(self,name,category):
        self.name=name
        self.category=category

    def getname(self):
        return self.name

    def getcategory(self):
        return self.category

    def print(self):
        print("Name:",self.name)
        print("Category:",self.category)

class Supervised(MachineLearning):

    def __init__(self,name,category):
        super().__init__(name,category)

    def type(self):
        super().print()
        print("Supervised Learning Algorithm")

class Unsupervised(MachineLearning):
    def __init__(self,name,category):
        super().__init__(name,category)
    def type(self):
        super().print()
        print("Unsupervised Learning Algorithm")

def mlAnalogy(a,b,c,d):
    '''input=> a,b = name and category for Supervised class
             c,d = name and category for Unsupervised class
     output=> type() is called for both classes in the end, it should first print the Name and Category then the type of class in new lines
    '''

    obj1=Supervised(a,b)
    obj1.type()
    obj2=Unsupervised(c,d)
    obj2.type()

    return None

In [127]:
# Output
x = mlAnalogy("Logistic Regression", "Classification Algo", "k-Means", "Clustering Algo")

Name: Logistic Regression
Category: Classification Algo
Supervised Learning Algorithm
Name: k-Means
Category: Clustering Algo
Unsupervised Learning Algorithm

#### Question 4**

    What will be the output of the following code snippet?

    class solution:
      def initial(self,sets):
        return self.final(sets)

      def final(self, sets):
        return list(map(lambda x: ((x**3)%2==0,x**3),sets))

    print(solution().initial([4,5,6]))

##### Solution Submitted

    [(True, 64), (False, 125), (True, 216)]

#### Question 5**

    Given the following block of code, what will be the expected output?

    class Student:
        def __init__(self,roll,marks):
            self.roll = roll
            self.marks = marks
        def display(self):
            print('Roll:', self.roll,'Marks:',self.marks, end=" ")

    student1 = Student(34,'A')
    student1.age = 17
    print(student1.display(), 'Age:',student1.age)

##### Solution Submitted

        Roll: 34 Marks: A None Age: 17

###### Logic

In [155]:
class Student:
    def __init__(self,roll,marks):
        self.roll = roll
        self.marks = marks
    def display(self):
        print('Roll:', self.roll,'Marks:',self.marks, end=" ")

student1 = Student(34,'A')
student1.age = 17

Let's break this question in simpler pieces.
So if we call the display method, it will print the Roll No and Marks expected as per print statement inside the display method. We have verified that below. 
Basically, it is just printing.

In [154]:
ans = student1.display()

Roll: 34 Marks: A

Since, in display method, we are printing but we never returned anything for the method, so in that case if we try to print the method itself it will return None (In literal sense, we are not returning anything).

Printing the output of method itself.

In [157]:
print(ans)

None

Let's say we are returning something for the method then if we try to print that method then it shall be able to print particular output.

So in below case, we should be able to print Test if we try to print the method itself. We are able to to do the same below.

Now, logic should be clear. To print output of a function, function should have a output!

In [160]:
class Student:
    def __init__(self,roll,marks):
        self.roll = roll
        self.marks = marks
    def display(self):
        print('Roll:', self.roll,'Marks:',self.marks, end=" ")
        return "Test"

student1 = Student(34,'A')
student1.age = 17

print(student1.display(), 'Age:',student1.age)

Roll: 34 Marks: A Test Age: 17

#### Question 7

    What is the output of the following code snippet?

    class football:
        final_res= 'lose'
        def __init__(self,name,score):
            self.name = name
            self.score = score
            self.final_res = 'lose'

        def calc(self, winning_score):
            if self.score>winning_score:
                self.final_res='win'
    match = football('Juventus',3)
    match.calc(2)
    print(football.final_res, match.final_res)

##### Solution Submitted

lose win

### Day 38: Coordinate Geometry

#### Question 1

    What will be the gradient of the line joining the points (1,6) and (5,7)?

##### Solution Submitted

    Slope of a line is y/x,hence,
     = 1/4

#### Question 2

    The p-th norm (“p” is an integer and p>=1) of a vector X having n- dimensions.
    
    Suppose you are given a vector A = (2,3,4,1,5). Find the 2nd Norm of the vector X.

##### Solution Submitted

    2nd norm of vector x is nothing but Eucledian distance. Hence, Calculating Eucledian distance:

    = (|2|^2 +|3|^2 + |4|^2 + |1|^2 + |5|^2))^1/2 
    = 7.42

#### Question 3

    If the points A(1, 2), O(0, 0) and C(a, b) are collinear, then slopes are

##### Solution Submitted


    A(1, 2) = (x1, y1)
    O(0, 0) = (x2, y2)
    C(a, b) = (x3, y3)

    If three points are collinear, then the slope of the lines joining any of these 2 points will be same.

    Slope of AO = Slope of OC

    (0 - 2)/(0 - 1) = (b - 0)/(a - 0)

    2/1 = b/a

    Therefore, 2a = b

#### Question 4

    You and your friend live close to each other. Your friend is an architect and trying to create a route for your neighborhood. He remembers his house coordinates (3,2) but forgot the x-coordinate for your house (x,-1). The Euclidean distance between you and your friend's houses is known to be 5 units.

    What will be the equation of the line(s) that pass through both of your houses?

    Note: The equation of line formed with slope m and passing through point (x1,y1) is given by (y-y1) = m(x-x1)
    
    a) 3x + 4y - 17 = 0
    b) 3x - 4y - 1 = 0
    c) 3x - 4y + 1 = 0
    d) 3y - 4x - 1 = 0

##### Solution Submitted

option b & c

    Distance = 5 units
    √(3-x)2 + (2+1)2 = 5

    Squaring both sides
    (x2 + 9 - 6x + 9) = 25
    x2 -6x - 7 = 0

    Solving the Quadratic Equation
    x = 7,-1

    We use the formula
    (y-y1) = ((y2-y1)/(x2-x1)).(x-x1) where m = (y2-y1)/(x2-x1)

    Equation of lines:
    for x = 7

    y - 2 = 3/-4(x-3)
    -4y + 8 = 3x - 9
    3x + 4y - 17 = 0

    For x = -1
    y - 2 = 3/4(x-3)
    4y - 8 = 3x - 9
    3x - 4y - 1 =0

#### Question 5

    You teach a class of students. You plan to make a pair where you want to pair 2 of your students who live closest to each other. The map along with the coordinates of each student's house is available to you. Can you find the students whom you can pair? You are given 2 lists containing the students name and locations. Manhattan Distance will be used to calculate the distance between 2 points.

    Manhattan Distance between 2 points (x1,y1) and (x2,y2) is given by |x1-x2| + |y1-y2|.

    Input Format
    Name list containing names of all the students
    Location containing the locations in the form of (x,y) of the students

    Output Format
    [Student1, Student2] Name of students to pair in a list

    Example Input
    names = [“Adam”,”Millie”,”Jacob”,Michael”,”Maxine”]
    loc = [(1,2),(5,4),(0,3),(2,3),(0,0)]

    Example Output
    [‘Adam’,‘Jacob’]

##### Solution Submitted

In [1]:
def nearestStudents(names,loc):
    '''
    input:
	names -> names of students
	loc -> coordinates of each students
	
	output:
	return the nearest students name 
	'''
    distance = 9999999
    result = []
	# Your code starts here
    for i in range(len(names)):
        for j in range(i+1,len(names)):
            temp = abs(loc[i][0] - loc[j][0]) + abs(loc[i][1] - abs(loc[j][1]))
            if temp < distance:
                distance = temp
                result = []
                result += names[i], names[j]
    return result
	# code ends here
    return None

In [3]:
names = ["Adam", "Millie", "Jacob", "Michael", "Maxine"]
loc = [(1,2),(5,4),(0,3),(2,3),(0,0)]

In [4]:
nearestStudents(names, loc)

['Adam', 'Jacob']

#### Question 6

    You are given 2 points in the XY Plane along with the coefficients of a straight line (a,b,c) of the form ax + by + c = 0. Find the midpoint of the line joining the 2 points and check whether the mid point lies on the given line or not. In case the point lies return True, otherwise return False

    Input Format
    Space separated values for A (coordinates on the XY Plane)
    Space separated values for B (coordinates on the XY Plane)
    Space separated values for a,b and c

    Output Format
    True if mid point lies on line else False

    Example Input
    1 2
    3 4
    2 -2 2

    Example Output
    True

##### Solution Submitted

In [37]:
def check_point(A,B,a,b,c):
	#A -> The first point’s x and y coordinate in tuple form (x,y)
	#B -> The second point’s x and y coordinate in tuple form (x,y)
	#a,b,c -> coefficients of a straight line (a,b,c) of the form ax + by + c = 0.

	# return if the mid point of the 2 points lies on the line or not
	# you code starts here
    x = (A[0]+B[0])/2
    y = (A[1]+B[1])/2
    
    if (a*x+b*y+c) == 0:
        return True
    return False
	
	# code ends here

In [38]:
check_point((1,2),(3,4),2,-2,2)

True

#### Question 7

    Given 2 points A and B on the XY-Plane, complete the python function to compute the gradient of the line joining these 2 points and return the answer.

    Note: The answer should be rounded of to 2 decimal places.
    
    Input Format
    Space separated values for A
    Space separated values for B

    Output Format
    Gradient of Line Joining the 2 points (rounded of to 2 decimal places)

    Example Input
    1 1
    2 2

    Example Output
    1.0

##### Solution Submitted

In [69]:
def gradient(A,B):
	#A,B -> Two points in the XY-Plane in the form of tuple (x,y)
	

	# return the gradient of the line joining these 2 points.
	# you code starts here
    x = B[0] - A[0]
    y = B[1] - A[1]
    m = round(y/x, 2)
    return m
	# code ends here

In [70]:
gradient((1,1), (2,2))

1.0

#### Question 8

    You work as an expert in a construction company. Your company is asked to lay a straight road passing through 3 houses. But the company has a doubt whether these houses are in a straight line or not. So you are assigned a task to check if the 3 houses denoted by their coordinates are collinear or not.

    Write a python function to check and return whether the points are collinear or not.

    Input Format
    Space separated values for A (x coordinates and y coordinates)
    Space separated values for B (x coordinates and y coordinates)
    Space separated values for C (x coordinates and y coordinates)

    Output Format
    True if Collinear and False if Non-Collinear

    Example Input
    1 2
    2 2
    5 4

    Example Output
    False

##### Solution Submitted

In [77]:
def check_collinear(A,B,C):
	#A,B,C -> Three points in the XY-Plane in the form of tuple (x,y)
	

	# return if the points are collinear or not
	# you code starts here
    m1 = (B[1] - A[1]) / (B[0] - A[0])
    m2 = (C[1] - B[1]) / (C[0] - B[0])

    if m1 == m2:
        return True
    
    return False
	# code ends here

In [78]:
check_collinear((1,2), (2,2), (5,4))

False

#### Question 9

    You have just joined as a Data Scientist at a Company. You are told to derive the equation of a regression line used in a model for their latest product. The regression line here is used for latest product price prediction. Now as a reference you only have the slope of the line which is 2/3 and a reference line 2x - 5y+20=0, used in another model whose Y-Intercept is the same as the line you need to find.

    Which options are the equation of the required line?
    a) 2x - 3y + 12 = 0
    b) 2x + 3y + 12 = 0
    c) 3y - 2x + 12 = 0
    d) 3y - 2x - 12 = 0

##### Solution Submitted

Option a & d are correct

    Given Equation of Reference Line
    2x -5y+20=0

    Converting it in the form y=mx + c
    y = 2/5x + 4

    The reference line’s and our required line’s y-intercept is same, i.e 4.

    Slope of our required line m= 2/3

    So equation of required line
    y = 2/3(x) + 4

    The Equation of Line
    2x - 3y + 12 = 0 or 3y - 2x - 12 = 0

#### Question 10

    Given a point P (1,2), and a straight line 4x-3y-26=0.

    What will be the perpendicular distance of point P from the line?

##### Solution Submitted

28/5

### Day 39: Functional Programming - 1

#### Question 1

    What will be the output of the following code snippet:

    def func2(c, d):
        return c, d

    def func1(a, b):
        c = a**1
        d = b**2
        return lambda: func2(c,d)

    result = func1(1, 2)

    print(result())

##### Solution Submitted

(1,4)

#### Question 2

What will be the output of the following code snippet:

    odd=lambda x: bool(x%2)
    result=[n for n in range(10)]

    for i in result:
        if odd(i):
            continue       
        else:
            print(i, end=" ")

##### Solution Submitted

0 2 4 6 8

#### Question 3

    Write a Python function that takes a string and a length value as input arguments and returns the words from the string whose length is equal to the provided input length value.

    Input Format
    The string
    Value of the length of word

    Output Format
    A list of strings containing the words having length equal to the value provided in input.

    Example Input
    "The world has changed and none of us can go back all we can do is our best and sometimes the best that we can do is to start over
    5

    Example Output
    [‘world’, ‘start’]

    Example Explanation
    The string has only two words with length of 5 which are "world" and "start".

##### Solution Submitted

In [1]:
def LengthSequence(string, length):
    '''string => a string
       length => an integer representing required length of words which are be returned'''
    result= []
    splits = string.split()
    # YOUR CODE GOES HERE
    for i in splits:
        if len(i)==length:
            result.append(i)   

    return result

In [2]:
x = "The world has changed and none of us can go back all we can do is our best and sometimes the best that we can do is to start over"

LengthSequence(x, 5)

['world', 'start']

#### Question 4

    Complete the Python function second_lowest() to find the second-lowest grade of students from the given names and grades of each student using lists and lambda function. For the input, the number of students, names, and the grades of each student were given.


    Input Format
    An integer N representing the number of students
    # Input of student name and grades for each N student
    Name of Student
    Grade of Student


    Output Format
    A 2D list containing list of names and grades of students.
    The 2nd lowest Grade
    The list of names of student having 2nd lowest grade


    Example Input
    5 #Number of students
    S ROY 
    1 
    B BOSE
    3
    N KAR
    2
    C DUTTA
    1
    G GHOSH
    1


    Example Output
    [['S ROY', 1.0], ['B BOSE', 3.0], ['N KAR', 2.0], ['C DUTTA', 1.0], ['G GHOSH', 1.0]]
    2.0
    N KAR

    Example Explanation
    Initially, the input data is printed in the form of 2d-list. Post that, the second-lowest grade is printed, and after that, we print the name(s) of the student who has that grade.

##### Solution Submitted

In [3]:
def second_lowest(students, scores):
    '''
    input:
    students -> a list of students
    scores -> list of the scores, with each score being that of the ith student
    
    output:
    student_data -> 2d list of data, with each inner list having name of student as 1st and score of 2nd as second element respectively
    second_low_score -> the second lowest score
    second_names -> list of students with score same as second lowest score, in the same order as in the students list
    '''
    
    student_data, second_low_score, second_names = [], None, []
    
    # Your code starts here
    for i in range(len(students)):
        student_data.append([students[i], scores[i]])
        
    second_low_score = (sorted(set(scores)))[1]
    
    for i in range(len(students)):
        if scores[i] == second_low_score:
            second_names.append(students[i])
    
    # Your code ends here
    return student_data, second_low_score, second_names

In [4]:
x = ["S ROY", "B BOSE", "N KAR", "C DUTTA", "G GHOSH"]
y = [1, 3, 2, 1, 1]

second_lowest(x,y)

([['S ROY', 1], ['B BOSE', 3], ['N KAR', 2], ['C DUTTA', 1], ['G GHOSH', 1]],
 2,
 ['N KAR'])

#### Question 5

    You are given a nested list of strings of varying lengths.

    For each list, sort the string on the basis of the number of times the character ‘a’ appears in the string such that the string having the most number of ‘a’ comes first in the lists.

    Complete the python function and return the sorted list.

    Note: If 2 strings has the same number of 'a', keep them in the same order as entered in the list.

    Input Format
    Number of lists
    Space separated strings for each list


    Output Format
    Sorted list of strings based on number of ‘a’


    Example Input
    3
    mango banana guava
    rose sandalwood
    bccc aaa baac c


    Example Output
    [['banana', 'guava', 'mango'], ['sandalwood', 'rose'], ['aaa', 'baac', 'bccc', 'c']]

##### Solution Submitted

In [5]:
def sort_strings(str_list):
    
    #str_list-> nested list of strings
    # return the sorted list of strings on the basis of number of times ‘a’ occur
    # code starts here
    
    res = []
    lst = []
    for i in range(len(str_list)):
        temp_lst = []
        for j in range(len(str_list[i])):
            count = 0
            for k in range(len(str_list[i][j])):
                if str_list[i][j][k] == 'a':
                    count +=1
            temp_lst.append(count)
        lst.append(temp_lst)
    #print(lst)
    
    for i in range(len(lst)):
        #print(sorted(lst[i]))
        temp_res = []
        temp_sorted = sorted(lst[i], reverse = True)
        for j in range(len(temp_sorted)):
            for k in range(len(temp_sorted)):
                #print(temp_sorted[j])
                if temp_sorted[j] == lst[i][k]:
                    if str_list[i][k] not in temp_res:
                        pass
                        temp_res.append(str_list[i][k])
        res.append(temp_res)
            
    #code ends here
    
    return res

In [6]:
x = [['mango', 'banana', 'guava' ], ['rose', 'sandalwood'], ['bccc', 'aaa', 'baac', 'c']]

sort_strings(x)

[['banana', 'guava', 'mango'],
 ['sandalwood', 'rose'],
 ['aaa', 'baac', 'bccc', 'c']]

#### Question 6

    Given a list of strings of varying lengths, complete the python function to sort the list of strings based on their lengths and return the sorted list.

    Note: In case 2 strings have the same length, they are sorted in ascending order of their lexicographic index.

    Input Format
    List of Strings

    Output Format
    Sorted list of strings based on length

    Example Input
    ['cccc', 'b', 'dd', 'aaa', 'ee']

    Example Output
    ['b', 'dd', 'ee', aaa', 'cccc']

##### Solution Submitted

In [44]:
def sort_strings(x):
    #str_list-> list of strings
    # return the sorted list of strings on the basis of criteria mentioned
    # code starts here

    x = sorted(x, key = lambda x: len(x))
    for i in range(len(x)):
        flag = True
        for j in range(len(x)-i -1):
            if len(x[j]) > len(x[j+1]):
                x[j], x[j+1] = x[j+1], x[j]
                flag = False
            elif len(x[j]) == len(x[j+1]):
                if x[j] > x[j+1]:
                    x[j], x[j+1] = x[j+1], x[j]
                    flag = False
        if flag:
            break

    #code ends here
    return x

In [45]:
x = ['ddd', 'abc', 'cbde', 'acb']
sort_strings(x)

['abc', 'acb', 'ddd', 'cbde']

##### Exercise Solution

In [1]:
def sort_strings(str_lst):

   # Sorting the list of strings first on the basis of lexicographic index
   str_lst.sort()

   # Sorting the list based on their length. The lexicographic order is preserved by the sorted() function.
   str_lst = sorted(str_lst, key=len)

   # Returning the finally sorted list
   return str_lst

In [2]:
x = ['ddd', 'abc', 'cbde', 'acb']
sort_strings(x)

['abc', 'acb', 'ddd', 'cbde']

### Day 40: Functional Programming - 2

#### Question 2

    Fill in the _______ to get the required output (mentioned in the Code snippet).

    column_names = ['name', 'salary', 'job']
    db_rows = [('Alice', 180000, 'data scientist'),
               ('Bob', 99000, 'data engineer'),
               ('Frank', 87000, 'data analyst')]

    db = [dict(zip(__________)) for row in db_rows]
    print(db)

    Required Output: [{'name': 'Alice', 'salary': 180000, 'job': 'data scientist'}, {'name': 'Bob', 'salary': 99000, 'job': 'data engineer'}, {'name': 'Frank', 'salary': 87000, 'job': 'data analyst'}]

##### Solution Submitted

column_names, row

#### Question 3

    What will be the output of the following code snippet:

    import functools
    lists = [1,2,3,4]
    print(functools.reduce(lambda x,y : x if x > y else y ,lists))

##### Solution Submitted

4

#### Question 4

    What will the output of the following code snippet:

    sentence = "abc cde def"
    result = list(map(lambda x: list(x), sentence.split(" ")))
    print(result)

##### Solution Submitted

[['a', 'b', 'c'], ['c', 'd', 'e'], ['d', 'e', 'f']]

#### Question 5

    What will be the output of the following code snippet:

    list1 = [[1,2,3],[4,5,6],[7,8,9]]
    list2 = [[9,8,7],[6,5,4],[3,2,1]]
    ls11,ls12,ls13=list1
    ls21,ls22,ls23=list2
    print(list(zip(ls11,ls12,ls13,ls21,ls22,ls23)))

##### Solution Submitted

[(1, 4, 7, 9, 6, 3), (2, 5, 8, 8, 5, 2), (3, 6, 9, 7, 4, 1)]

#### Question 6

    Whrite equivalent code using filter and lambda to the following code given below:

    array  = [1, 2, 3, 4, 5]
    def func1(x):
        return x<0
    result=filter(func1, array)
    print(list(result))

##### Solution Submitted

list(filter(lambda x:x<0, array))

#### Question 7

    In this exercise, complete the function func, which takes integers, names, and numbers as the parameters.

    a. Use map() to return the list of the squares of each number.

    b. Use filter() to return the list with only those names that have less than or equal to seven letters.

    c. Use reduce() to return the product of elements of list numbers.


    Input Format
    Space separated values for integers
    Space separated values for names (string)
    Space separated values for numbers


    Output Format
    List of the squares of each number
    List with only those names that have less than or equal to seven letters.
    The product of elements of list numbers.


    Example Input
    4 6 3 9 2 8 12
    scaler interviewbit rishabh student course
    4 6 9 23 5


    Example Output
    [16, 36, 9, 81, 4, 64, 144]
    ['scaler', 'rishabh', 'student', 'course']
    24840


    Example Explanation
    From the first list (integers), every number is squared and the resultant list [16, 36, 9, 81, 4, 64, 144] is returned. From the second list (names), only words with less than or equal to 7 characters are selected and added to the second resultant list, and ['scaler', 'rishabh', 'student', 'course'] is returned. From the last list (numbers), the product of all the numbers (24840) is returned.

##### Solution Submitted

In [10]:
from functools import reduce 
def func(integers, names, numbers):
    '''
    input:
    integers -> list of integers to perform the square operation on
    names -> list of names to filter out as per the condition
    numbers -> list of numbers whose product we want
    
    output:
    map_result -> output of integers list
    filter_result -> output of the names lsit
    reduce_result -> output of the numbers list
    '''
    map_result, filter_result, reduce_result = None, None, None
    
    # Your code stars here
    map_result = list(map(lambda x: x**2, integers))
    filter_result = list(filter(lambda x: len(x)<=7, names))
    reduce_result = reduce(lambda x, y: x*y, numbers)
    # Your code ends here
    
    return map_result, filter_result, reduce_result

In [12]:
i = [4, 6, 3, 9, 2, 8, 12]
na = ["scaler", "interviewbit", "rishabh", "student", "course"]
nu = [4, 6, 9, 23, 5]
      
func(i, na, nu)

([16, 36, 9, 81, 4, 64, 144],
 ['scaler', 'rishabh', 'student', 'course'],
 24840)

#### Question 8

    Given a list of email addresses, return a list containing only valid email addresses in lexicographical order. A Valid email address must follow the following rules:
    It is of the form user@domain.com, user or domain can't be empty
    It must have a single @ in the address.
    The maximum length of the name before @ should be 20.


    Input Format
    Space separated strings representing the email addresses


    Output Format
    List of valid email addresses sorted in lexicographical order


    Example Input
    sara@scaler.com brian-23@scaler.com brute_54@scaler.com


    Example Output
    ['brian-23@scaler.com', 'brute_54@scaler.com', 'sara@scaler.com']


    Example Explanation
    All the elements in the input list are valid as per the conditions and are returned in lexicographical order.

##### Solution Submitted

In [13]:
import functools
def check(emails):
    '''
    input:
    emails -> list of emails to check
    
    output:
    verified_lex -> the verified list of emails, in lexicographical order
    '''
    verified_lex = None
    
    # Your code starts here
    #filtering on the basis of "@" count
    filter_lex = list(filter(lambda x: 1 == x.count('@'), emails))

    #filtering on the basis of user_length requirement by splitting and accessing the user part of split email
    user_lex = list(filter(lambda x: 0 < len(x.split('@')[0]) <=20,  filter_lex))

    # filtering on the basis of domain length requirement by splitting and accessing the domain part of split email
    domain_lex = list(filter(lambda x: len(x.split('@')[1]) > 0, user_lex))

    #sorting the filtered emails
    verified_lex = sorted(domain_lex)
    # Your code ends here
    return verified_lex

In [14]:
x = ['brian-23@scaler.com', 'brute_54@scaler.com', "dfgdfg@", "gfdfg.com", "yeagerist@google.co.in", "dsfdgdgffgfhfhfhgfhfgedrtgfgdgfffghfhhgfhfg@dfgd.com"]

check(x)

['brian-23@scaler.com', 'brute_54@scaler.com', 'yeagerist@google.co.in']

### Day 42: Exception Handling & Modules

#### Question 1

    Which of the given options is equivalent to “random.randint(3, 6)”?
    
    a) random.choice([3, 6])
    b) random.randrange(3, 6)
    c) 3 + random.randrange(3)
    d) 3 + random.randrange(4)

##### Solution Submitted

3 + random.randrange(4)

#### Question 2

    What will be the output of the following Python code?

     from math import factorial
     print(math.factorial(5))

##### Solution Submitted

Error, the statement should be: print(factorial(5))

#### Question 3

What will the following code snippet do:

    import random

    array = list(range(100))
    random.shuffle(array)
    while len(array) != 0:
          print(array.pop())

##### Solution Submitted

Print a series of unique random numbers in the range [0,99]

### Day 43: Basic Calculus

#### Question 1

    Given a function f(x) = x−1/x, what will be the value of its derivative at x = -1?

##### Solution Submitted

2

#### Question 2

    Find the Derivative. 
    
    In Machine Learning and Deep learning, one of the most crucial steps is optimizing your model. A model is evaluated using the loss function. Your company has built a model which operates on the Mean Square Error. The curve equation is given by

    y = (x-1).(x-2)2

    As a new joiner, you are asked to compute the derivative of this function with respect to x. What will be the derivative?

    A. 3x2 - 10x + 8

    B. 3x2 + 10x + 8

    C. 6x2 - 10x + 8

    D. 3x2 + 8

##### Solution Submitted

A

#### Question 3

    Truth about Derivative
    
    Given the following statements, choose the correct options.

    S1: The derivative of a function can be interpreted as the slope of the tangent line at a point.

    S2: limx→0 f(x) = f’(x)
    
    a) Both S1 and S2 are True
    b) S1 is True and S2 is False
    c) S2 is True and S1 is False
    d) Both S1 and S2 are False

##### Solution Submitted

option B

#### Question x

##### Solution Submitted

#### Question x

##### Solution Submitted

#### Question x

##### Solution Submitted

## HW

### Day 36: OOPS 1

#### Question 1

    Construct a class Rectangle that represents a rectangle.
    
    The class should support the following functionalities:-
    perimeter() -> returns the perimeter of the rectangle
    area() -> returns the area of the rectangle
    
    Input format:
    First argument A is an integer representing the number of testcases.
    For each case, x (length) and y (breadth) are taken as input in new line.
    
    Output format:
    The perimeter and area of the constructed rectangle are printed.
    
    Sample Input:
    1 # number of cases
    1 # radius of first case
    2 # radius of second case
    
    Sample output:
    4 #perimeter of rectangle
    1 #area of rectangle

##### Solution Submitted

In [8]:
class Rectangle:
    # Define properties here
    
    # Define constructor here
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def perimeter(self):
        # Complete the function
        p = 2*self.x + 2*self.y
        return p
    
    def area(self):
        # Complete the function
        return self.x * self.y
         
# Rectangle a = new Rectangle(2, 3)  // Length = 2, Breadth = 3
# a.perimeter() // Should give 10
# a.area() // Should give 6

In [9]:
# Output
x = Rectangle(4,6)

In [10]:
x.perimeter()

20

In [11]:
x.area()

24

#### Question 2

    Construct a class Circle that represents a Circle.

    The class should support the following functionalities:-
    perimeter() -> returns the perimeter of the circle
    area() -> returns the area of the circle

    Note: Assume Π (pi) = 3.14 for calculations.

    Input Format:
    First argument A is an integer representing the number of testcases.
    For each case, the radius r is taken as input in new line.
    
    Output Format:
    The perimeter and area of the constructed circle is printed.
    
    Sample Input:
    2     # number of cases
    1     # radius of first case
    2     # radius of second case
    
    Sample output:
    6.28     #perimeter of first case
    3.14     #area of first case
    12.56    #perimeter of second case
    12.56    #area of second case

##### Solution Submitted

In [12]:
class Circle:
    # Define properties here
    pi = 3.14
    # Define constructor here
    def __init__(self, radius):
        self.radius = radius

    def perimeter(self):
        # Complete the function
        p = 2*self.pi*self.radius
        return p
    
    def area(self):
        # Complete the function
        return 3.14*(self.radius**2)
           
# a = new Circle(3)  // Radius = 3
# a.perimeter() // 18.84
# a.area() // 28.26

In [13]:
x = Circle(3)

In [14]:
x.perimeter()

18.84

In [15]:
x.area()

28.26

### Day 40: Functional Programming 2

#### Question x

##### Solution Submitted

In [ ]:
# Output

#### Question x

##### Solution Submitted

In [ ]:
# Output

### Day 43: Basic Calculus

#### Question x

    You have been provided with the coefficients of a quadratic equation (ax2+bx+c=0). Find the values of x for which the given quadratic equation attains a minimum value.

    Input Format
    Space Separated values for a,b,c (Coefficients of ax2 + bx + c = 0)
    Space Separated value for lower limit and upper limit of variable x

    Output Format
    The Integer value of x for which the quadratic equation attains minimum value

    Example Input
    2 3 -1
    1 3

    Example Output
    1

##### Solution Submitted

In [1]:
def min_value(a,b,c,ll,ul):
    # a,b,c -> Integers. Coefficients of quadratic equation ax^2 + bx + c = 0
    # ll -> Integer. Lower limit of variable x
	# ul -> Integer. Upper Limit of variable x
	
	# return the Integer value of x for which the quadratic equation attains minimum value
    ans = None
    value = None
    # code starts here
    for x in range(ll, ul+1):
        temp = a*(x**2)+b*x+c
        if value != None and temp>value:
            return ans
        value = temp
        ans = x

	#code ends here
    return ans

In [2]:
# Output
min_value(2, 3, -1, 1, 3)

1

### Day xx:

#### Question x

##### Solution Submitted

In [ ]:
# Output