# Pattern Printing

## Questions

### Question 1

    Print the following pattern:
    n = 5

    *
    **
    ***
    ****
    *****

In [10]:
x = int(input())
for i in range(1,x+1):
    for j in range(1,i+1):
         print("*", end="")
    print()

 5
*
**
***
****
*****

### Question 2

    print the following pattern:
    n=5
    
    1
    12
    123
    1234
    12345

In [14]:
x = int(input())
for i in range(1,x+1):
    for j in range(1,i+1):
         print(j, end="")
    print()

 5
1
12
123
1234
12345

In [16]:
x = int(input())
for i in range(x+1):
    for j in range(i):
         print(j+1, end="")
    print()

 5

1
12
123
1234
12345

### Question 3
    print the following pattern:
    n=5
    
    *
    *2
    *2*
    *2*4
    *2*4*

In [21]:
x = int(input())
for i in range(1,x+1):
    for j in range(1,i+1):
        if j%2:
            print("*", end="")
        else:
            print(j, end="")
    print()

 5
*
*2
*2*
*2*4
*2*4*

### Question 4
    print the following pattern:
    n=5
    Blanks before * are empty spaces
    
        *
       **
      ***
     ****
    *****
    
    Blanks before * are empty spaces

In [25]:
n = int(input())
for i in range(1,n+1):
    for j in range(1,n-i+1):
        print(" ", end="")
    for j in range(n-i+1,n+1):
        print("*", end="")
    print()

 5
    *
   **
  ***
 ****
*****

### Question 5
    print the following pattern:
    n=5
    
    *****
    ****
    ***
    **
    *

In [28]:
n = int(input())
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print("*", end="")
    print()

 5
*****
****
***
**
*

## HW

Beyond the scope of this class for now. Attempt after 2D List completion or explore and try. Refer to Notion notebook or Lecture Notebook for pattern in question.

 Print the following Pattern for n>0 :  
 For eg: n=5
 
    5 5 5 5 5
    5 4 4 4 5
    5 4 3 4 5
    5 4 4 4 5
    5 5 5 5 5
    
n=6

    6 6 6 6 6 6
    6 5 5 5 5 6
    6 5 4 4 5 6
    6 5 4 4 5 6
    6 5 5 5 5 6
    6 6 6 6 6 6

##### Solution using if-else primarily inside for loop

In [10]:
n = int(input("Enter the integer for grid size: "))

import math
ceil_n = math.ceil(n/2)
for i in range(n):
    print()
    temp=n
    for j in range(n):
        if i>=0 and i<ceil_n:
            if j>=0 and j<ceil_n:
                print(temp, end=" ")
                if temp>n-i:
                    temp-=1
            elif j==ceil_n:
                if temp==ceil_n:
                    temp +=1
                    print(temp, end=" ")
                else:
                    print(temp, end=" ")
                    #
            elif j>ceil_n and j<n:
                if j < n-i:
                    print(temp, end=" ")
                else:
                    temp +=1
                    print(temp, end=" ")
        #
        elif i>= ceil_n and i<n:
            if j>=0 and j<ceil_n:
                if temp > i+1:
                    print(temp, end=" ")
                    temp-=1                    
                else:
                    print(temp, end=" ")
            elif j>=ceil_n and j<=n:
                if j < i:
                    print(temp, end=" ")
                elif j >=i:
                    print(temp, end=" ")
                    temp +=1

Enter the integer for grid size:  9

9 9 9 9 9 9 9 9 9
9 8 8 8 8 8 8 8 9
9 8 7 7 7 7 7 8 9
9 8 7 6 6 6 7 8 9
9 8 7 6 5 6 7 8 9
9 8 7 6 6 6 7 8 9
9 8 7 7 7 7 7 8 9
9 8 8 8 8 8 8 8 9
9 9 9 9 9 9 9 9 9

##### Solution using primarily for loop with if-else

In [45]:
n = int(input("Enter the integer for grid size: "))

import math
ceil_n = math.ceil(n/2)

for i in range(ceil_n):
    print()
    temp = n
    for j in range(ceil_n):
        if temp==n-i:
            print(temp, end=" ")
        elif temp>n-i:
            print(temp, end=" ")
            temp -=1
    for j in range(ceil_n,n):
        if j<temp:
            print(temp, end=" ")
        else:
            temp+=1
            print(temp, end=" ")
for i in range(ceil_n,n):
    print()
    temp = n
    for j in range(ceil_n):
        if temp==i:
            temp+=1
            print(temp, end=" ")
        elif temp>i:
            print(temp, end=" ")
            temp -=1
    for j in range(ceil_n,n):
        if j<temp:
            print(temp, end=" ")
        else:
            temp+=1
            print(temp, end=" ")

Enter the integer for grid size:  9

9 9 9 9 9 9 9 9 9
9 8 8 8 8 8 8 8 9
9 8 7 7 7 7 7 8 9
9 8 7 6 6 6 7 8 9
9 8 7 6 5 6 7 8 9
9 8 7 6 6 6 7 8 9
9 8 7 7 7 6 7 8 9
9 8 8 8 8 8 8 8 9
9 9 9 9 9 8 8 8 9

In [41]:
n = int(input("Enter the integer for grid size: "))

Enter the integer for grid size:  9

# Functions 1

* Functions with multiple arguments will always take values as per the order  of the arguments.
* No of values must match with no of arguments.
* Use Docstring to explain the functions or code.
* help(function) will print the docstring for that function.
* If no value is returned in function then it will return None.
* print only displays the output. It never generates an actual output. Use return function for that.
* return is the last statement that executes in a function. Functioning very similar to break.
* If there is no return in a function then it will return None.

### Docstring

In [51]:
def demo_add(a,b):
    '''
    This is a demo function doing summation and showcasing the
    docstring use-case.
    
    :param a,b int: Two numbers(arguments) which are to be added
    
    :return sum int: Sum of a & b 
    '''
    sum = a+b
    return sum

In [52]:
demo_add(4,6)

10

In [53]:
help(demo_add)

Help on function demo_add in module __main__:

demo_add(a, b)
    This is a demo function doing summation and showcasing the
    docstring use-case.

    :param a,b int: Two numbers(arguments) which are to be added

    :return sum int: Sum of a & b

In [54]:
def add_two(a, b):
    '''
    Arguments - 
    a: Int or String
    b: Int or String
    
    Note - Please do not enter mixed data types i.e. both integers or both strings
    
    Output - 
    Str + Str -> Concatenation
    Int + Int -> Addition
    '''
    
    result = a + b
    print(result)

In [55]:
help(add_two)

Help on function add_two in module __main__:

add_two(a, b)
    Arguments -
    a: Int or String
    b: Int or String

    Note - Please do not enter mixed data types i.e. both integers or both strings

    Output -
    Str + Str -> Concatenation
    Int + Int -> Addition

## Questions

### Question 1

Write a piece of code which prints "Making Tea" five times.

loop inside the function

In [3]:
def Making_Tea():
    for i in range(5):
        print("Make  Chai")

In [4]:
Making_Tea()

Make  Chai
Make  Chai
Make  Chai
Make  Chai
Make  Chai

function inside the loop

In [17]:
for i in range(5):
    def Making_Tea1():
        print("Make Tea")
    Making_Tea1()

Make Tea
Make Tea
Make Tea
Make Tea
Make Tea

### Question 2 
#### Sheldon Knock

Write a function to print "knock knock knock, {name}"  3 times

In [36]:
name = input("Enter the name: ")

def sheldon_knock(name):
    for i in range(3):
        print("Knock! Knock! Knock! ", name,"!!", sep="")

Enter the name:  Penny

In [37]:
sheldon_knock(name)

Knock! Knock! Knock! Penny!!
Knock! Knock! Knock! Penny!!
Knock! Knock! Knock! Penny!!

In [38]:
def sheldon_knock(name):
    for i in range(3):
        print("Knock! Knock! Knock! ", name,"!!", sep="")

In [41]:
name = "Howard"
sheldon_knock(name)

Knock! Knock! Knock! Howard!!
Knock! Knock! Knock! Howard!!
Knock! Knock! Knock! Howard!!

# Functions 2

### Args

#### Keyworded and Positional Args

In [13]:
def arg_demo(arg1, arg2, arg3):
    print(arg1, arg2, arg3)

* Positional arg's values must follow the order of the args.

In [18]:
arg_demo("value1", "value2", "value3")
#This is positional arg demo

value1 value2 value3

* With keyword args you don't necessarily need to follow the order of args.

In [19]:
arg_demo(arg2="value2", arg1="value3", arg3="value3")
#This is Keyworded arg demo

value3 value2 value3

* positional args after keyworded args is not allowed.

In [27]:
arg_demo(arg2="value2", arg1="value3", "value3")
#value 3 kis keyword arg following positional args, hence not allowed

SyntaxError: positional argument follows keyword argument (3555017215.py, line 1)

* Keyworded args after positional arg is allowed. But there shouldn't be any duplication or conflicting values.

In [28]:
arg_demo("value2", arg2="value3", arg3="value3")
#keywordrd args follows positional args without any duplication of
#arguments.

value2 value3 value3

In [29]:
arg_demo("value2", arg1="value3", arg3="value3")
#Duplication of arg1 in keyworded arg after postional arg.
#hence not allowed

TypeError: arg_demo() got multiple values for argument 'arg1'

#### Default args (Optional args)

* args which have already defined values are optional arguments.
* If optional arg is not provided then it wll take the default value
* default args must always defined at the end. Hence, non-default args must not follow default args.

In [31]:
def arg_demo(arg1, arg2, arg3="default"):
    print(arg1, arg2, arg3)

In [33]:
arg_demo("value2", "value3")
# will print the default value of arg3 if not provided

value2 value3 default

#### Scope

* Once global varaible is declared then any execution on the varaible will affect and modify it globally too.

In [42]:
a = 10

def random():
    global a
    a =20
    print(a)

random()
print(a)

20
20

* Once local variable is declared then you can not invoke global variable inside the function

In [43]:
a = 10

def random():
    a=20
    global a
    print(a)

random()

SyntaxError: name 'a' is assigned to before global declaration (3231489549.py, line 5)

## Questions

### Question 1

    create a date printing function -
    Should take 4 arguments -> day, month, year and style
    
    Styling Logic â€”
    style -> O -> d/m/y
    style 1 -> m/d/y
    style -> any other value -> Invalid Style

    default style is O.

In [44]:
def date_print(d, m, y, style=0):
    if style==0:
        print(d,m,y, sep="/")
    elif style==1:
         print(m,d,y, sep="/")
    else:
        print("Invalid")

date_print(1,12,1997,0)

1/12/1997

# Lists 1D

* Lists are mutable and modifiable.
* Lists are heterogenous and ordered collection of data.
* Lists supports item assignment.
* List, set and tuples(iterable type) are interconvertables(typecasting) with each other.

Empty List

In [58]:
a = []
a

[]

In [59]:
type(a)

list

In [119]:
a = [1,3,4,5]

In [120]:
a

[1, 3, 4, 5]

In [121]:
a[0]=2 #changing the value of index 0

In [122]:
a

[2, 3, 4, 5]

In [90]:
runs_virat = [67,54,12,34,77,89,101,123]

In [4]:
# Accessing value of a list by its index
#If position is n then index in n-1. Pay attention to the language of 
#Ques.

#Position is 1. Index is 0
runs_virat[0]

67

In [91]:
#To get number of values in a list
len(runs_virat)

8

### List functions

#### Negative Indexing

In [6]:
#Accessing the value of the list using negative Indexing
runs_virat[-1]

123

In [7]:
runs_virat[-len(runs_virat)]

67

####  Index
* Returns the index position of first occurence of value

In [22]:
runs = [67,54,34,12,77,89,101,123,12]
runs.index(12)

3

#### Count
* Returns the no of occurence of element in a list

In [23]:
runs.count(12)

2

#### Append
* Adds an element to the end of the list

In [39]:
runs = [67,54,12,34,77,89,101,123]
runs.append(71)

In [40]:
runs

[67, 54, 12, 34, 77, 89, 101, 123, 71]

#### Insert
* Adds an element to a list at any index
* Changes the index of the list's values by one after the insertion position.

In [41]:
#Adding a value at 1 index
runs.insert(1,15)

In [42]:
runs

[67, 15, 54, 12, 34, 77, 89, 101, 123, 71]

#### Extend
* Adding multiple elements to the end of the list simultaneously

In [43]:
runs_4=[1,2,3,4]
runs.extend(runs_4)

In [44]:
runs

[67, 15, 54, 12, 34, 77, 89, 101, 123, 71, 1, 2, 3, 4]

In [49]:
# Concatenating two lists. Same as Extend.
runs = [67,54,12,34,77,89,101,123]
runs = runs + [56,99]

In [50]:
runs

[67, 54, 12, 34, 77, 89, 101, 123, 56, 99]

In [51]:
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

#### Delete
* Pop by the undex and remove by the value
##### Pop
* Removes an element using an index - last by default
##### remove
* Delete an elemnt using a value
* In case of duplicate values, it will remove the first occurence only
* It does not return the deleted value

pop and remove

In [103]:
runs

[67, 54, 12, 34, 77, 89, 101, 123, 56, 99]

In [104]:
#Removing the last element i.e. 99
runs.pop()

99

In [105]:
runs

[67, 54, 12, 34, 77, 89, 101, 123, 56]

In [106]:
runs.remove(67)

In [107]:
runs

[54, 12, 34, 77, 89, 101, 123, 56]

In [110]:
remove_list=[7,7,8,7]
remove_list.remove(7) #Will remove only the first occurence
remove_list

[7, 8, 7]

## Questions

### Question 1
    Print total Of runs scored by Virat Odd numbered matches.

In [78]:
sum=0
for i in range(0,len(runs_virat),2):
    sum+=runs_virat[i]
print(sum)

257

### Question 2
    runs virat = [67, 54, 12, 34, 77, 89, 101, 123]
    In runs_virat, Calculate:
    sum, avg, max and min runs without using any internal functions.
    You can use the length function.

In [79]:
runs_virat = [67,54,12,34,77,89,101,123]
sum1 = 0
avg1 = 0
max1 = runs_virat[0]
min1= runs_virat[0]

for i in range(len(runs_virat)):
    sum1 += runs_virat[i]
    avg1 = sum1/len(runs_virat)

    if max1 < runs_virat[i]:
        max1 = runs_virat[i]
    if min1 > runs_virat[i]:
        min1 = runs_virat[i]
        
print(sum1)
print(avg1)
print(max1)
print(min1)

557
69.625
123
12

##### Using custom functions

In [80]:
def custom_len(a):
    n=0
    for i in a:
        n+=1       
    return n

In [81]:
custom_len(runs_virat)

8

In [82]:
def custom_sum(a):
    sum_list=0
    
    for i in a:
        sum_list +=i
    return sum_list

In [83]:
custom_sum(runs_virat)

557

In [84]:
def custom_avg(a):
    avg = custom_sum(a)/custom_len(a)
    return avg

In [85]:
custom_avg(runs_virat)

69.625

In [86]:
def custom_max(a):
    max_value = a[0]
    for i in range (1,len(a)):
        if a[i]> max_value:
            max_value=a[i]
    return max_value

In [87]:
custom_max(runs_virat)

123

In [88]:
def custom_min(a):
    min_value = a[0]
    for i in range (1,len(a)):
        if a[i]< min_value:
            min_value=a[i]
    return min_value

In [89]:
custom_min(runs_virat)

12

### Question 3
Print average Of runs scored by Virat in Even numbered matches.

In [102]:
sum_e=0
count=0
for i in range(0,len(runs_virat),2):
        sum_e+=runs_virat[i]
        count+=1
print(sum_e/count)

64.25

# List Slicing

## Theory

* start: end: steps/jumps
* Positive index values and negative index values can be used together. Indexing is not mathmatical!
* step sign decides the direction of jump.

####  Default Values in List Slicing

##### Jump Size is Positive
* start = 0, end = end of list, jump = 1
* List --> [ : : 1]

##### Jump Size is Negative

* start = len(list), end = start of list , jump = -1
* Reverse List --> [ : : -1]

## Questions

### Question 1 
Print runs in odd numbered matches

In [124]:
runs = [62,85,71,10,12,101,122,99,81,55]

In [125]:
for i in range(0,len(runs),2):
        print(runs[i], end=" ")

62 71 12 122 81

### Question 2

    Given a list of all runs, make a new list of all runs made in odd numberd matches

In [128]:
run = []
for i in range(0,len(runs),2):
        run.append(runs[i])

In [129]:
run

[62, 71, 12, 122, 81]

### Question 3
    Create a list of runs made in the last 5 matches
    runs = [62,85,71,10,12,101,122,99,81,55]

In [132]:
run = []
for i in range(len(runs)-5,len(runs),1):
        run.append(runs[i])

In [133]:
run

[101, 122, 99, 81, 55]

##### Alternative approach

In [136]:
run = []
for i in range(-5,0):
        run.append(runs[i])

In [137]:
run

[101, 122, 99, 81, 55]

### Question 4
    Create a list of runs made from the third match to the 7th match

In [138]:
run = []
for i in range(2,7):
        run.append(runs[i])

In [139]:
run

[71, 10, 12, 101, 122]

## Slicing

In [53]:
runs[2:7]

[71, 10, 12, 101, 122]

    a = [10,20,30,40,50,60,70,80,90,100]

    1. a[3:5] 
    2. a[:8] 
    3. a[:] 
    4. a[7:] 
    5. a[-2:-5:-1] 
    6. a[-2:-7] 
    7. a[:-5] 
    8. a[-2:] 
    9. a[-8:5] 
    10. a[-8:5:-1]

In [140]:
a = [10,20,30,40,50,60,70,80,90,100]

In [141]:
 a[3:5]

[40, 50]

In [142]:
a[:8]

[10, 20, 30, 40, 50, 60, 70, 80]

In [148]:
a[:]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [149]:
a[7:]

[80, 90, 100]

In [150]:
a[-2:-5:-1]

[90, 80, 70]

In [151]:
a[-2:-7]

[]

In [154]:
a[:-5]

[10, 20, 30, 40, 50]

In [155]:
a[-2:]

[90, 100]

In [156]:
a[-8:5]

[30, 40, 50]

In [157]:
a[-8:5:-1]

[]

# Lists - 2D

## Theory

* Lists are heterogenous
* 2D Lists can have nested lists inside
* Set of elements is representing columns.
* Elements 1 from all lists will be form column 1 and soon and so forth.
* 1,2,3,4 below represents columns 1 of matrix 4X3(ColumnsXrows).
* To call a particular nested list, we will call list by indexes. For eg: lists_2d[0].
* To call an nested element, we will call index of nested list with the index of elements of list. For eg: list_2d[0][0]
* To call an nested element of n: list_2d[0][0][0]......n
* No of rows = len(a)
* No of columns = len(a[0])

    rows = len(list_2d)
    columns= len(list_2d[0])

Empty 2D List

In [56]:
list_2d = [[]]
list_2d

[[]]

In [57]:
type(list_2d)

list

In [1]:
list_2d = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]

In [44]:
list_2d

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [46]:
list_2d[0]

[1, 2, 3, 4]

In [47]:
list_2d[0][0]

1

In [49]:
rows = len(list_2d)
columns= len(list_2d[0])

In [2]:
len(list_2d)

3

In [3]:
len(list_2d[0])

4

## Questions

### Question 1 
    Rotate a given list by 1 element.
    
    INPUT = [1,2,3,4,5]
    OUTPUT = [5,1,2,3,4]

##### Simplest Solutions

In [8]:
a = [1,2,3,4,5]
b = a[-1]
b = [b]+a[:-1]
b

[5, 1, 2, 3, 4]

In [10]:
a = [1,2,3,4,5]
b = [a[-1]]+a[:-1]
b

[5, 1, 2, 3, 4]

##### Using Insert

In [62]:
a = [1,2,3,4,5]
b = a[:-1]
b.insert(0,a[-1])
b

[5, 1, 2, 3, 4]

pop can also be used

##### Fancy Solution

In [64]:
def list_rotate(x):
    
    last_x = a[-1]
    exclude_lastx = a[:-1]
    rotated_list = [last_x]+exclude_lastx
    
    return rotated_list

In [65]:
a = [1,2,3,4,5]
list_rotate(a)

[5, 1, 2, 3, 4]

### Question 2
    Take a 3x3 matrix as input from the user.

    Given this matrix - 
    1. Calculate the sum of all elements in the matrix
    2. Calculate and print sum of each row
    3. Calculate and print sum of each column

##### Solution as a single function with input

In [7]:
def matrix_combo(x,y):
    a =[]
    for i in range(x):
        list_i = []
        for j in range(y):
            n = int(input())
            list_i.append(n)
        a.insert(i,list_i)    
    print(a)         
        
    sum_matrix = 0
    for i in range(len(a)):
        for j in range(len(a[0])):
            sum_matrix +=a[i][j]
    print(f"Sum of all elements of matrix: {sum_matrix}")
    print()
    for i in range(len(a)):
        sum_row = 0
        for j in range(len(a[0])):
            sum_row +=a[i][j]
        print(f"Sum of Row {i} of matrix: {sum_row}")
    print()
    for j in range(len(a[0])):
        sum_col = 0
        for i in range(len(a)):
            sum_col +=a[i][j]
        print(f"Sum of Column {j} of matrix:{sum_col}")

In [8]:
matrix_combo(2,3)

 1
 2
 3
 4
 5
 6

[[1, 2, 3], [4, 5, 6]]
Sum of all elements of matrix: 21

Sum of Row 0 of matrix: 6
Sum of Row 1 of matrix: 15

Sum of Column 0 of matrix:5
Sum of Column 1 of matrix:7
Sum of Column 2 of matrix:9

##### Solution as seperate independent functions with input

In [1]:
def matrix(x,y):
    list_n =[]
    for i in range(x):
        list_i = []
        for j in range(y):
            n = int(input())
            list_i.append(n)
        list_n.insert(i,list_i) 
        print(list_n)
    return list_n

In [2]:
matrix(2,3)

 1
 2
 3

[[1, 2, 3]]

 4
 5
 6

[[1, 2, 3], [4, 5, 6]]

[[1, 2, 3], [4, 5, 6]]

In [3]:
def sum_matrix(a):        
    sum_matrix = 0
    for i in range(len(a)):
        for j in range(len(a[0])):
            sum_matrix +=a[i][j]
    print(f"Sum of all elements of matrix: {sum_matrix}")

In [4]:
sum_matrix(matrix(2,3))

 1
 2
 3

[[1, 2, 3]]

 4
 5
 6

[[1, 2, 3], [4, 5, 6]]
Sum of all elements of matrix: 21

In [6]:
def sum_row(a):
    for i in range(len(a)):
        sum_row = 0
        for j in range(len(a[0])):
            sum_row +=a[i][j]
        print(f"Sum of Row {i} of matrix: {sum_row}")
    print()

In [7]:
sum_row(matrix(2,3))

 1
 2
 3

[[1, 2, 3]]

 4
 5
 6

[[1, 2, 3], [4, 5, 6]]
Sum of Row 0 of matrix: 6
Sum of Row 1 of matrix: 15

In [12]:
def sum_col(a):    
    for j in range(len(a[0])):
        sum_col = 0
        for i in range(len(a)):
            sum_col +=a[i][j]
        print(f"Sum of Column {j} of matrix: {sum_col}")

In [13]:
sum_col(matrix(2,3))

 1
 2
 3

[[1, 2, 3]]

 4
 5
 6

[[1, 2, 3], [4, 5, 6]]
Sum of Column 0 of matrix: 5
Sum of Column 1 of matrix: 7
Sum of Column 2 of matrix: 9

In [18]:
a = [[4, 5, 6], [7, 8, 9]]
sum_matrix(a)
sum_row(a)
sum_col(a)

Sum of all elements of matrix: 39

Sum of Row 0 of matrix: 15
Sum of Row 1 of matrix: 24

Sum of Column 0 of matrix:11
Sum of Column 1 of matrix:13
Sum of Column 2 of matrix:15

## HW**

### HW 1
    Rotate a given list by n element.

    INPUT - 
    a = [1,2,3,4,5]
    n = 7

    OUTPUT = [4,5,1,2,3]

##### Solution without input

In [16]:
def list_rotate_n(a,n):
    for i in range(n):
        a = a[-1:]+a[:-1]
        
    return a

In [17]:
x = [1,2,3,4,5]
list_rotate_n(x, 7)

[4, 5, 1, 2, 3]

##### Solution with input

In [18]:
def list_rotate_n():
    input_list =[]
    N = int(input("Enter the no of elements of the list: "))
    
    n= int(input("Enter the no for element rotation: "))
    for i in range(N):
        input_n = int(input("Enter the values of element for the list: "))
        input_list.append(input_n)
    
    for i in range(n):
        input_list = input_list[-1:]+input_list[:-1]
    
    return input_list

In [19]:
list_rotate_n()

Enter the no of elements of the list:  5
Enter the no for element rotation:  7
Enter the values of element for the list:  1
Enter the values of element for the list:  2
Enter the values of element for the list:  3
Enter the values of element for the list:  4
Enter the values of element for the list:  5

[4, 5, 1, 2, 3]

In [29]:
A = [1,2,3,4,5]

In [30]:
B = A.pop()

In [36]:
C =[]
C.insert(0, B)
C+A

[5, 1, 2, 3, 4]

### HW 2
    Take two matrices as input and calculate the sum of two matrices.

##### Solution without input

In [26]:
def matrix_sum(x,y):
    z=[]
    for i in range(len(x)):
        temp=[]
        for j in range(len(x[0])):
            sum_xy = x[i][j]+y[i][j]
            temp.append(sum_xy)
        z.append(temp)
    
    return z

In [28]:
x = [[1,2,3],[7,8,9]]
y = [[1,2,3],[4,5,6]]
matrix_sum(x,y)

[[2, 4, 6], [11, 13, 15]]

##### Solution with  inputs

In [7]:
def matrice_sum(n,x,y):
    list_n=[]
    for i in range(n):
        list_temp=[]
        print(f"Enter the element for Matrix {i+1}: ")
        for j in range(x):
            temp=[]
            print(f"Enter the values for Row {j+1} of Matrix{i+1}: ")
            for k in range(y):
                input_n = int(input(f"Enter the values for Column{k+1} of Row {j+1}: "))
                temp.append(input_n)
            list_temp.append(temp)
            print(list_temp)
        list_n.append(list_temp)
    sum_list = []
    for j in range(len(list_n[0])):
        dummy_list = []
        for k in range(len(list_n[0][0])):
            sum_n=0
            for i in range(len(list_n)):
                sum_n += list_n[i][j][k]
            dummy_list.append(sum_n)
        sum_list.append(dummy_list)
    print("Sum of matrices:", sum_list)
    return sum_list

In [8]:
matrice_sum(2,2,3)

Enter the element for Matrix 1:
Enter the values for Row 1 of Matrix1:

Enter the values for Column1 of Row 1:  1
Enter the values for Column2 of Row 1:  2
Enter the values for Column3 of Row 1:  3

[[1, 2, 3]]
Enter the values for Row 2 of Matrix1:

Enter the values for Column1 of Row 2:  4
Enter the values for Column2 of Row 2:  5
Enter the values for Column3 of Row 2:  6

[[1, 2, 3], [4, 5, 6]]
Enter the element for Matrix 2:
Enter the values for Row 1 of Matrix2:

Enter the values for Column1 of Row 1:  7
Enter the values for Column2 of Row 1:  8
Enter the values for Column3 of Row 1:  9

[[7, 8, 9]]
Enter the values for Row 2 of Matrix2:

Enter the values for Column1 of Row 2:  10
Enter the values for Column2 of Row 2:  11
Enter the values for Column3 of Row 2:  12

[[7, 8, 9], [10, 11, 12]]
Sum of matrices: [[8, 10, 12], [14, 16, 18]]

[[8, 10, 12], [14, 16, 18]]

### HW 3**
    Take N matrices as input and calculate the sum of N matrices.

##### Solution with inputs

In [10]:
def matrice_sum(n,x,y):
    list_n=[]
    for i in range(n):
        list_temp=[]
        for j in range(x):
            temp=[]
            for k in range(y):
                input_n = int(input())
                temp.append(input_n)
            list_temp.append(temp)
            print(list_temp)
        list_n.append(list_temp)
    sum_list = []
    for j in range(len(list_n[0])):
        dummy_list = []
        for k in range(len(list_n[0][0])):
            sum_n=0
            for i in range(len(list_n)):
                sum_n += list_n[i][j][k]
            dummy_list.append(sum_n)
        sum_list.append(dummy_list)
    return sum_list

In [11]:
 matrice_sum(3,2,3)

 1
 2
 3

[[1, 2, 3]]

 4
 5
 6

[[1, 2, 3], [4, 5, 6]]

 6
 5
 4

[[6, 5, 4]]

 3
 2
 1

[[6, 5, 4], [3, 2, 1]]

 1
 1
 1

[[1, 1, 1]]

 1
 1
 1

[[1, 1, 1], [1, 1, 1]]

[[8, 8, 8], [8, 8, 8]]

### HW 4**

    Take a matrix as input and calculate transpose.

##### Solution without Input

In [4]:
def matrix_transpose(a):
    transpose = []
    for j in range(len(a[0])):
        temp_list=[]
        for i in range(len(a)):
            temp = a[i][j]
            temp_list. append(temp)
        transpose.append(temp_list)
        
    return transpose

In [5]:
X = [[1,2,3],[4,5,6],[7,8,9]]
matrix_transpose(X)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

##### Solution with Input

In [1]:
def matrix_transpose_input(x,y):
    input_matrix = []
    for i in range(x):
        temp_list = []
        for j in range(y):
            temp_input = int(input("Enter the elements of matrix: "))
            temp_list.append(temp_input)
        input_matrix.append(temp_list)
        print(input_matrix)
        
    transpose = []
    for j in range(len(input_matrix[0])):
        temp_list=[]
        for i in range(len(input_matrix)):
            temp = input_matrix[i][j]
            temp_list. append(temp)
        transpose.append(temp_list)
        
    return transpose

In [2]:
matrix_transpose_input(3,3)

Enter the elements of matrix:  1
Enter the elements of matrix:  2
Enter the elements of matrix:  3

[[1, 2, 3]]

Enter the elements of matrix:  4
Enter the elements of matrix:  5
Enter the elements of matrix:  6

[[1, 2, 3], [4, 5, 6]]

Enter the elements of matrix:  7
Enter the elements of matrix:  8
Enter the elements of matrix:  9

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

# Strings

## Theory

* strings are immutable and does not support item assignment.
* single quotes, double quotes and triple quotes are all valid strings.
* triple quotes and triple dobule quotes are used for docstrings.
* \ is escape character
* double quotes can be used inside single quotes as escape characters and vice-versa.
* (\) escape charcter needs a valid escape string just afterwards to escape
* Strings are lexicographically comparative using ASCII.
* Small letters of alphabet are greater than capital letters.
* ASCII Mapping
    * a-z: 097-122
    * A-Z: 065-090
    * 0-9: 048-057
* ord(a): to get the ascii integer value of a char
* chr(98): to get the char value of a ascii code integer

Execute and verify:

    a = 'valid_demo_string'
    a = "valid_demo_string"
    a = '''This is Docstring'''
    a = """This is also Docstring"""

    a = 'In this string demo\'s the escape character'
    a = 'Demonstrating multiple\'s escape characters\''
    a = 'Here we are not using escape char after \ hence it is treating \ as literal and displays it two times to confirm the same'
    a = '"Double quotes inside single quotes works as literal char"'
    a = "'Single quotes inside double quotes also works as literal char'"
    
    a>A #this is lexicographical comparison.
    print(f"This is formatable string printing variable {i} and {j}")

Empty String

In [53]:
a = ""

In [54]:
type(a)

str

In [39]:
a = 'demostring_'+'1'
a

'demostring_1'

In [40]:
a = 'demostring_' + 'demostring_'
a

'demostring_demostring_'

In [37]:
a = 'demostring_'*3
a

'demostring_demostring_demostring_'

In [42]:
'a' > "A"

True

##### ascii value of any char

In [63]:
ord ("a") #ascii value of a

97

charcter value of ascii representation

In [33]:
chr(98)

'b'

##### order of ascii char matters not length for lexicographical comparison

In [46]:
'z' > 'aaazzzzzzzzzz'

True

## Glossary of string methods


1. split -> "this is a string".split(" ") -> string to a list

2. join -> " ".join(["list", "of", "strings"]) -> list of strings to a string

3. replace -> "this is a string".replace(" ", "_") -> replaces all occurences of the first character by the second character. IMP - CREATES A NEW STRING

4. find -> "this is a string".find(" a ") -> Finds the exact sequence or substring in the original string and returns the starting index of that substring.

5. count -> "this is a string".count("a") -> Counts the number of times a character or substring is present within a string

6. isdigit -> True if content inside the string is only digits.

7. isalpha -> True if content inside the string is only alphabets.

8. islower / isupper -> True if content inside the string is all lower case / all upper case

9. isspace -> True if the character is a space

10. lower / upper* -> Converts a string to lowercase / uppercase

##### Special Mention
11. "random" in "this is random!" -> MEMBERSHIP OPERATOR - True if operand1 is present inside operand2

## Questions

### Question 1
    Take a string as input from the user.
    Print the string character by character in new lines.

    INPUT - VIRAT
    OUTPUT - 
    V
    I
    R
    A
    T

##### Solution

In [ ]:
n = input()
for i in n:
    print(f"{i}")

 VIRAT

V
I
R
A
T

 ### Question 2
     Take a string as input from the user.
     
     Print the following - 
    "First character - f, Last character - l"

##### Solution

In [ ]:
n = input()

for i in range(len(n)):
    pass
print(f"First Character: {n[0]}, Last Character: {n[len(n)-1]}")

 VIRAT

First Character: V, Last Character: T

 ### Question 3
     Take a string as input. Reverse that string.

##### Solution

In [ ]:
n = input()
for i in (n[::-1]):
    print(i, end="")

 VIRAT

TARIV

same thing as above

In [ ]:
n = input()
print(n[::-1])

 VIRAT

TARIV

 ### Question 4
 
    Take a string as input.
    Check whether that string is a palindrome or not.

    NAMAN - Palindrome
    SHAKER - Not a palindrome

##### Solution

In [ ]:
def palindrome_check():
    n = input()
    n = n.lower()

    for i in range(len(n)):
        if n[i] != n[((len(n)-1)-i)]:
            return False
    return True

In [ ]:
palindrome_check()

 Naman

True

##### Alternative Solution

Here we are using slicing on string to solve directly and much more efficiently

In [ ]:
def palindrome_check():
    n = input()
    n = n.lower()
    if n != n[::-1]:
        return False
    else:
        return True

In [ ]:
palindrome_check()

 Naman

True

 ### Question 5
 
     Take a string as input from the user.
     Print the number of uppercase characters in that string. (alphabets)

    INPUT - "This is a Random%^&*()"
    OUTPUT - 2

##### Solution

In [ ]:
def uppercase_count():
    n = input()
    count = 0
    for i in n:
        if i.isupper():
            count +=1
    return count

In [ ]:
uppercase_count()

 This is a Random%^&*(

2

##### Alternative Solution

In [ ]:
def count_uppercase(a):
    count = 0
    
    for i in a:
        if ord(i) >= 65 and ord(i) <= 90:
            count += 1
            
    return count

In [ ]:
a = "This is a Random%^&*()"
count_uppercase(a)

2

 ### Question 6
     You are given a list as input to a function. Generate a string from the chr values of the integers in the list.

    INPUT = [65, 97, 68]
    OUTPUT = "AaD"

    EXPLANATION - 
    "A" -> 65
    "a" -> 97
    "D" -> 68

##### Solution

In [ ]:
def ascii_string(list_1):
    x= ""
    for i in list_1:
        x += chr(i)
    return x

In [ ]:
list_1 = [65, 97, 68]
ascii_string(list_1)

'AaD'

##### Solution with input

In [ ]:
def ascii_string(n):
    list_1 = []
    for i in range(n):
        x = int(input())
        list_1.append(x)
    m= ""
    for i in list_1:
        m += chr(i)
    return m

In [ ]:
ascii_string(3)

 65
 97
 68

'AaD'

# Strings2

### String functions

#### Split

In [95]:
a = "this is a random string for testing"

In [96]:
a.split(" ") # using whitespace as delimiter

['this', 'is', 'a', 'random', 'string', 'for', 'testing']

In [97]:
a = " this is a random string for testing "

In [98]:
a.split(" ") # using whitespace as delimiter

['', 'this', 'is', 'a', 'random', 'string', 'for', 'testing', '']

In [100]:
a = "Using,as,a,delimiter"
b = a.split(",") # , as delimiter
b

['Using', 'as', 'a', 'delimiter']

#### Join

In [146]:
",".join(b) #again adding the strings using , as delimitor

'Using,as,a,delimiter'

#### find
* Returns index of the first instance of the character
* Returns the starting index of a substring if substring is present
* Returns -1 if substring or char is not present in substring

In [151]:
a = "Using,as,a,delimiter"
a.find("r")

19

In [154]:
a.find("delimiter") #Returns the starting index of a substring if substring is present

11

In [155]:
a.find("z") #Returns -1 if substring or char is not present in substring

-1

#### replace
* will replace every instance of a substring in a string with the specified words
* string.replace("current_substring", "new substring")

In [157]:
a = "Using,as,a,delimiter"
a.replace(","," ")

'Using as a delimiter'

#### Membership Operator

In [158]:
5 in [1,2,3,4]

False

In [159]:
"test" in "This is a test string"

True

In [160]:
"test" in "This is a Test string"

False

#### Other Functions

* isidgit(): returns true if all the characters are positive integer only
* isaplha(): returns true if all the characters are only alphabet
* islower() & isupper(): returns True for appropiate case of characters
* isspace(): return True for only whitespaces

In [5]:
"78".isdigit()

True

In [7]:
"abx".isalpha()

True

In [4]:
"78.3".isdigit()

False

In [8]:
"abcdx12".isalpha()

False

In [19]:
"   ".isspace()

True

## Question

### Question 1

Write a custom function for joining strings with custom delimiters.

##### Solution

In [142]:
def custom_join(s, delimiter):
    string_combo= ""
    for i in range(len(s)):
        if i != len(s)-1:
            string_combo +=s[i]+delimiter
        else:
            string_combo +=s[i]
    return string_combo

In [145]:
s = ['Using', '","', 'as', 'a', 'delimiter']
custom_join(s,",")

'Using,",",as,a,delimiter'

### Question 2

Write a custom function for membership operators

### Question 3

    Reverse a sentence. A sentence is a string containing space separated words.

    INPUT = "this is a sentence"
    OUTPUT = "sentence a is this"

##### Solution

In [196]:
def reverse_sentence():
    n = input()
    list_n = n.split(" ")
    reverse_list = list_n[::-1]
    reverse_string = " ".join(reverse_list)      
    return reverse_string

In [198]:
reverse_sentence()

 this is A Sentence

'Sentence A is this'

### Question 4

    Create a isalphanumeric() function. It takes a string as input.
    
    - If all characters in the string are either digits or alphabets -> TRUE
    - If any character is different -> FALSE

##### Solution

In [16]:
def isalphanumeric():
    n = input()
    for i in n:
        if not(i.isalpha() or i.isdigit()):
            return False
    return True

In [18]:
isalphanumeric()

 1323dsfds

True

Above function can also be written with ascii code. Both will be more or less same wrt time complexity

#### Question 5**

    Custom Replace (Character Only) - 
    Functions should take 3 arguments: 
    a string, 
    a character to be replaced (c) ,and,
    a replacement character (r).

    It should replace all instances of c with r.

    INPUT - "randomr", c = "r", r = "m"
    OUTPUT - "mandomm"

##### Solution

In [31]:
def custom_replace(a,c,r):
    x = ""
    for i in range(len(a)):
        if a[i]==c:
            x += r
        else:
            x += a[i]
    return x

In [32]:
custom_replace(a= "randomr", c="r", r="m")

'mandomm'

#### HW**

Write a custom replace function for words and sentences.

##### Solution

# Tuples+Sets

## Tuples

### Theory

* Tuples are immutables and fixed.
* Tuples does not support item assignment.
* Tuple are iterable and ordered(accessible by index).
* **Typecasting b/w tuple and list** is possible.
* Tuple supports concatenation b/w different tuples.
* For single element(int or str), a tuple must contain , for data type to be tuple.
* In simple words, lock the size and element of a list and it is now tuple!
* List, set and tuples(iterable type) are interconvertables(typecasting) with each other

Empty Tuple

In [62]:
a = ()
a

()

In [63]:
type(a)

tuple

In [64]:
a = (10,20,"test",10.5,True)
a

(10, 20, 'test', 10.5, True)

To access the element in a tuple

In [67]:
a[0]

10

To create the tuple of a single element, one must include **,** otherwise it will show up as int or str. This is due to discrepency  where python is not sure whether it is int/string or tuple since both use the parenthesis.

In [69]:
a =(45)
type(a)

int

Tuple of a single element

In [ ]:
a =(45,)
type(a)

Tuple supports concatenation b/w different tuples.

In [71]:
a = (10,20,"test",10.5,True)
b = ("X",)
c = a+b
c

(10, 20, 'test', 10.5, True, 'X')

In [72]:
type(c)

tuple

##### Tuple does not support any functions like append, pop, insert or remove since tuples are immutable.

In [66]:
a.append("add_item") #will not work as lists are immutable

AttributeError: 'tuple' object has no attribute 'append'

#### Packing and Unpacking

* In unpacking, all values of a tuple can be assigned to individual variables.
* In packing, all values are assigned to a variable with variable typecasted as tuple.
* No. of variables assigned and values in a tuple must be equal

Case of unequal no. of variables and values will be discussed later

##### Unpacking

In [79]:
a = (1,2,3)

In [80]:
x,y,z = a

In [82]:
y #checking the value assigned to y

2

##### Packing

In [83]:
def packing():
    return 1,2,3

In [85]:
a = packing() #values being packed into a single variable "a" as tuple
a

(1, 2, 3)

Packing and unpacking at the same time

In [88]:
a,b,c = packing()
a

1

Unpacking the tuples in roll and name variables and using it directly in print statement rather than using i[0]

In [89]:
a = [(1, "Bipin"), (2, "Jaybharat"), (3, "Nikhil"), (4, "Siva")]

for roll, name in a:
    print(f"My roll number is {roll} and my name is {name}!")

My roll number is 1 and my name is Bipin!
My roll number is 2 and my name is Jaybharat!
My roll number is 3 and my name is Nikhil!
My roll number is 4 and my name is Siva!

##### Swapping

In [94]:
a = 10
b= 20

In [95]:
#Only for numbers
b = a + b
a = b - a
b = b - a

In [96]:
print(a,b)

20 10

In [101]:
#Simplest swapping
a,b = b,a

In [102]:
print(a,b)

10 20

## Set

### Theory

* Collection of distinct elements
* Sets are mutable.
* Sets are heterogenous(only immutable data types are allowed)
* Lists, sets & dictinaries(mutable data-type) within a set are not allwoed (due to hashing).
* Sets are **not ordered**(hence no indexing).
* Outputs are internally sorted but all work with set must assume sets are not ordered.

Empty Set

In [147]:
a = set()
a

set()

In [148]:
type(a)

set

creating set

In [149]:
a = {4,2,1,3,4,2,3,4}
a = set(a)
a

{1, 2, 3, 4}

adding element to set

In [150]:
a. add(5)
a

{1, 2, 3, 4, 5}

remove element from set

In [151]:
a.remove(5)
a

{1, 2, 3, 4}

adding multiple elements to set

In [152]:
a.update([4,5,6,7,8])
a

{1, 2, 3, 4, 5, 6, 7, 8}

#### Set Operations

In [153]:
s1 = {1,2,3,7}
s2 = {2,4,5,6,7}

##### Union of sets

In [154]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [155]:
s1|s2

{1, 2, 3, 4, 5, 6, 7}

##### Intersection

In [156]:
s1.intersection(s2)

{2, 7}

In [157]:
s1 & s2

{2, 7}

##### Difference

In [158]:
s1.difference(s2)

{1, 3}

In [159]:
s1 - s2

{1, 3}

##### Symmetric difference

In [160]:
s1.symmetric_difference(s2)

{1, 3, 4, 5, 6}

In [161]:
s1 ^ s2

{1, 3, 4, 5, 6}

## Question

### Question 1

What will be the output of the following?

    (1,2,3)+(4)

##### Solution

It will throw  since (4) is not actually tuple.

### Question 2

What will be the output of the following?

    type(("random?"))

##### Solution

It will be string since it is a single element without any ,

In [74]:
type(("random?"))

str

### Question 3

Given an input string, write a code to generate a list of all it's characters.

    INPUT - "abcc"
    OUTPUT - ["a", "b", "c", "c"]

##### Simplest Solution

In [75]:
list("abcc")

['a', 'b', 'c', 'c']

In [77]:
tuple("abcc")

('a', 'b', 'c', 'c')

##### Custom Solution

In [76]:
a = "abcc"
x = []
for i in range(len(a)):
    x.append(a[i])
print(x)

['a', 'b', 'c', 'c']

### Question 4

Write a code to swap two elements in python using a third variable.

##### Solution

In [91]:
def swap(a,b):
    temp = a
    a = b
    b = temp
    return a,b

In [92]:
swap(2,3)

(3, 2)

### Question 5

What will be the output of the following?
    a = 1,2,3,4,5

##### Solution

CSV values will be automatically packed into a tuple

### Question 6

Take a string as input.  
Print the number of unique characters present inside that string.
    
    INPUT - "aabbccccccdde"
    OUTPUT - 5

In [124]:
a = "aabbbccccddddeeee"

len(set(a))

5

# Dictionaries

### Theory

* {Keys: Values}
* Each item in an dict is key:value pair where keys are unique paired with a object.
* Indexing in dict is only possible via keys. Dict are not ordered(ordered internally).
* ##### Heterogenity in a dict
    * Keys -> Any immutable data type (anything except lists/dict/sets)
    * Values -> Any python object

Empty Dict

In [3]:
a = {}
a

{}

In [4]:
type(a)

dict

Creating a dict

In [17]:
A = { "a": 5, "b": 6, "c": 7}
A

{'a': 5, 'b': 6, 'c': 7}

Accessing the element of a dict

In [25]:
A["a"] #not preferred use get

5

Accessing the element of dict without thorwing error if key doesn't exists

In [29]:
result = A.get("a")
result

5

In [30]:
result = A.get("e")
print(result) #will return None if key doesn't exists in dict

None

In [31]:
result = A.get("e", "key doesn't exist")
result #Will return the specified default value if key doesn't exist

"key doesn't exist"

Adding the new key value pair to dict

In [32]:
A["d"] = 4
A

{'a': 5, 'b': 6, 'c': 7, 'd': 4}

Updating the value of existing key pair

In [33]:
A["d"] = 3
A

{'a': 5, 'b': 6, 'c': 7, 'd': 3}

Adding and updating values with one operation

In [34]:
A = {'a': 1, 'b': 2, 'c': 7, 'd': 3, "e": 5, "f": 6}
A #value of a,b is updated and e,f is added

{'a': 1, 'b': 2, 'c': 7, 'd': 3, 'e': 5, 'f': 6}

In [35]:
B = { "c": 3, "d": 4}

Adding and updating values with different dict

In [36]:
A.update(B) #updating values of b on a
A

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [37]:
A

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [41]:
B = { "c": 3, "d": 4}

In [42]:
B.update(A)

In [43]:
B

{'c': 3, 'd': 4, 'a': 1, 'b': 2, 'e': 5, 'f': 6}

##### Membership Operator

In [40]:
"a" in A

True

In [71]:
"a" in A.keys()

True

In [70]:
5 in A.values()

True

##### Iteration in Dict

In [59]:
A = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
A

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

by default iteration happens over keys

In [60]:
for i in A:
    print(i)

a
b
c
d
e
f

Alternatively

In [64]:
for i in A.keys():
    print(i)

a
b
c
d
e
f

for iteration over values

In [62]:
for i in A:
    print(A[i])

1
2
3
4
5
6

Alternatively

In [65]:
for i in A.values():
    print(i)

1
2
3
4
5
6

Iterating over keys and values both

In [66]:
for i in A:
    print(f"{i} : {A[i]}")

a : 1
b : 2
c : 3
d : 4
e : 5
f : 6

Best Way

In [67]:
for i in A.items():
    print(i)

('a', 1)
('b', 2)
('c', 3)
('d', 4)
('e', 5)
('f', 6)

Using unpacking to unpack the item's tuples to key and values variable

In [68]:
for key, values in A.items():
    print(f"{key}: {values}")

a: 1
b: 2
c: 3
d: 4
e: 5
f: 6

### Input values in Dict

In [80]:
result = {}
while True:
    key = input()
    value = input()
    result[key] = value
    
    choice = input("Do you want to add another key value pair? (N/n if no) - ")
    
    if choice in ["N", "n"]:
        break

 a
 test
Do you want to add another key value pair? (N/n if no) -  y
 b
 test
Do you want to add another key value pair? (N/n if no) -  y
 c
 test3
Do you want to add another key value pair? (N/n if no) -  n

In [81]:
result

{'a': 'test', 'b': 'test', 'c': 'test3'}

## Questions

### Question 1

Given two dictionaries A and B, Write a python program to merge these two dictionaries.

    A = {
        "a": 5,
        "b": 6
    }

    B = {
        "b": 7,
        "d": 2
    }

    Result = {
        "a": 5,
        "b": 7,
        "d": 2
    }

##### Solution

In [51]:
A = {"a": 5, "b": 6}
B = {"b": 7, "d": 2}
A.update(B)
A # it updates on the same dict will not return anything outside of exisiting dict

{'a': 5, 'b': 7, 'd': 2}

##### Alternative better approach

This is a much better approach as it doesn't modifes the existing list and can return the output to a new variable

In [53]:
result = A|B
result

{'a': 5, 'b': 7, 'd': 2}

### Question 2

    1. Take a string as input.
    2. Create a dictionary acc to the following criteria - 
    - There will be one key value pair for each unique character - 
    - Key will be character and value will be the count of character inside the string

    INPUT - "rrsssstttt"
    OUTPUT -
    {
        "r": 2,
        "s": 4,
        "t": 4
    }

##### Solution

In [75]:
def frequency():
    n = input()
    set_n = set(n)
    dict_1 = {}
    for i in set_n:
        dict_1[i] = n.count(i)
    return dict_1

In [76]:
frequency()

 rrsssstttt

{'r': 2, 's': 4, 't': 4}