# Pattern Printing

## Questions

### Question 1

    Print the following pattern:
    n = 5

    *
    **
    ***
    ****
    *****

In [10]:
x = int(input())
for i in range(1,x+1):
    for j in range(1,i+1):
         print("*", end="")
    print()

 5
*
**
***
****
*****

### Question 2

    print the following pattern:
    n=5
    
    1
    12
    123
    1234
    12345

In [14]:
x = int(input())
for i in range(1,x+1):
    for j in range(1,i+1):
         print(j, end="")
    print()

 5
1
12
123
1234
12345

In [16]:
x = int(input())
for i in range(x+1):
    for j in range(i):
         print(j+1, end="")
    print()

 5

1
12
123
1234
12345

### Question 3
    print the following pattern:
    n=5
    
    *
    *2
    *2*
    *2*4
    *2*4*

In [21]:
x = int(input())
for i in range(1,x+1):
    for j in range(1,i+1):
        if j%2:
            print("*", end="")
        else:
            print(j, end="")
    print()

 5
*
*2
*2*
*2*4
*2*4*

### Question 4
    print the following pattern:
    n=5
    Blanks before * are empty spaces
    
        *
       **
      ***
     ****
    *****
    
    Blanks before * are empty spaces

In [25]:
n = int(input())
for i in range(1,n+1):
    for j in range(1,n-i+1):
        print(" ", end="")
    for j in range(n-i+1,n+1):
        print("*", end="")
    print()

 5
    *
   **
  ***
 ****
*****

### Question 5
    print the following pattern:
    n=5
    
    *****
    ****
    ***
    **
    *

In [28]:
n = int(input())
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print("*", end="")
    print()

 5
*****
****
***
**
*

## HW

Beyond the scope of this class for now. Attempt after 2D List completion or explore and try. Refer to Notion notebook or Lecture Notebook for pattern in question.

 Print the following Pattern for n>0 :  
 For eg: n=5
 
    5 5 5 5 5
    5 4 4 4 5
    5 4 3 4 5
    5 4 4 4 5
    5 5 5 5 5
    
n=6

    6 6 6 6 6 6
    6 5 5 5 5 6
    6 5 4 4 5 6
    6 5 4 4 5 6
    6 5 5 5 5 6
    6 6 6 6 6 6

In [86]:
n = int(input("Enter the integer for grid size: "))

Enter the integer for grid size:  9

In [10]:
n = int(input("Enter the integer for grid size: "))

import math
ceil_n = math.ceil(n/2)
for i in range(n):
    print()
    temp=n
    for j in range(n):
        if i>=0 and i<ceil_n:
            if j>=0 and j<ceil_n:
                print(temp, end=" ")
                if temp>n-i:
                    temp-=1
            elif j==ceil_n:
                if temp==ceil_n:
                    temp +=1
                    print(temp, end=" ")
                else:
                    print(temp, end=" ")
                    #
            elif j>ceil_n and j<n:
                if j < n-i:
                    print(temp, end=" ")
                else:
                    temp +=1
                    print(temp, end=" ")
        #
        elif i>= ceil_n and i<n:
            if j>=0 and j<ceil_n:
                if temp > i+1:
                    print(temp, end=" ")
                    temp-=1                    
                else:
                    print(temp, end=" ")
            elif j>=ceil_n and j<=n:
                if j < i:
                    print(temp, end=" ")
                elif j >=i:
                    print(temp, end=" ")
                    temp +=1

Enter the integer for grid size:  9

9 9 9 9 9 9 9 9 9
9 8 8 8 8 8 8 8 9
9 8 7 7 7 7 7 8 9
9 8 7 6 6 6 7 8 9
9 8 7 6 5 6 7 8 9
9 8 7 6 6 6 7 8 9
9 8 7 7 7 7 7 8 9
9 8 8 8 8 8 8 8 9
9 9 9 9 9 9 9 9 9

Enter the integer for grid size:  9

In [19]:
n = int(input("Enter the integer for grid size: "))
a=[]*n
for i in range(n):
    temp_n = n
    for j in range(n):
        if temp_n>n-i:
            a[j]=temp_n
        else:
            a[j]=temp_n
            temp_n-=1

Enter the integer for grid size:  5

IndexError: list assignment index out of range

In [4]:
ceil_n

3

SyntaxError: invalid syntax (3926977913.py, line 1)

# Functions 1

* Functions with multiple arguments will always take values as per the order  of the arguments.
* No of values must match with no of arguments.
* Use Docstring to explain the functions or code.
* help(function) will print the docstring for that function.
* If no value is returned in function then it will return None.
* print only displays the output. It never generates an actual output. Use return function for that.
* return is the last statement that executes in a function. Functioning very similar to break.
* If there is no return in a function then it will return None.

### Docstring

In [51]:
def demo_add(a,b):
    '''
    This is a demo function doing summation and showcasing the
    docstring use-case.
    
    :param a,b int: Two numbers(arguments) which are to be added
    
    :return sum int: Sum of a & b 
    '''
    sum = a+b
    return sum

In [52]:
demo_add(4,6)

10

In [53]:
help(demo_add)

Help on function demo_add in module __main__:

demo_add(a, b)
    This is a demo function doing summation and showcasing the
    docstring use-case.

    :param a,b int: Two numbers(arguments) which are to be added

    :return sum int: Sum of a & b

In [54]:
def add_two(a, b):
    '''
    Arguments - 
    a: Int or String
    b: Int or String
    
    Note - Please do not enter mixed data types i.e. both integers or both strings
    
    Output - 
    Str + Str -> Concatenation
    Int + Int -> Addition
    '''
    
    result = a + b
    print(result)

In [55]:
help(add_two)

Help on function add_two in module __main__:

add_two(a, b)
    Arguments -
    a: Int or String
    b: Int or String

    Note - Please do not enter mixed data types i.e. both integers or both strings

    Output -
    Str + Str -> Concatenation
    Int + Int -> Addition

## Questions

### Question 1

Write a piece of code which prints "Making Tea" five times.

loop inside the function

In [3]:
def Making_Tea():
    for i in range(5):
        print("Make  Chai")

In [4]:
Making_Tea()

Make  Chai
Make  Chai
Make  Chai
Make  Chai
Make  Chai

function inside the loop

In [17]:
for i in range(5):
    def Making_Tea1():
        print("Make Tea")
    Making_Tea1()

Make Tea
Make Tea
Make Tea
Make Tea
Make Tea

### Question 2 
#### Sheldon Knock

Write a function to print "knock knock knock, {name}"  3 times

In [36]:
name = input("Enter the name: ")

def sheldon_knock(name):
    for i in range(3):
        print("Knock! Knock! Knock! ", name,"!!", sep="")

Enter the name:  Penny

In [37]:
sheldon_knock(name)

Knock! Knock! Knock! Penny!!
Knock! Knock! Knock! Penny!!
Knock! Knock! Knock! Penny!!

In [38]:
def sheldon_knock(name):
    for i in range(3):
        print("Knock! Knock! Knock! ", name,"!!", sep="")

In [41]:
name = "Howard"
sheldon_knock(name)

Knock! Knock! Knock! Howard!!
Knock! Knock! Knock! Howard!!
Knock! Knock! Knock! Howard!!

# Functions 2

### Args

#### Keyworded and Positional Args

In [13]:
def arg_demo(arg1, arg2, arg3):
    print(arg1, arg2, arg3)

* Positional arg's values must follow the order of the args.

In [18]:
arg_demo("value1", "value2", "value3")
#This is positional arg demo

value1 value2 value3

* With keyword args you don't necessarily need to follow the order of args.

In [19]:
arg_demo(arg2="value2", arg1="value3", arg3="value3")
#This is Keyworded arg demo

value3 value2 value3

* positional args after keyworded args is not allowed.

In [27]:
arg_demo(arg2="value2", arg1="value3", "value3")
#value 3 kis keyword arg following positional args, hence not allowed

SyntaxError: positional argument follows keyword argument (3555017215.py, line 1)

* Keyworded args after positional arg is allowed. But there shouldn't be any duplication or conflicting values.

In [28]:
arg_demo("value2", arg2="value3", arg3="value3")
#keywordrd args follows positional args without any duplication of
#arguments.

value2 value3 value3

In [29]:
arg_demo("value2", arg1="value3", arg3="value3")
#Duplication of arg1 in keyworded arg after postional arg.
#hence not allowed

TypeError: arg_demo() got multiple values for argument 'arg1'

#### Default args (Optional args)

* args which have already defined values are optional arguments.
* If optional arg is not provided then it wll take the default value
* default args must always defined at the end. Hence, non-default args must not follow default args.

In [31]:
def arg_demo(arg1, arg2, arg3="default"):
    print(arg1, arg2, arg3)

In [33]:
arg_demo("value2", "value3")
# will print the default value of arg3 if not provided

value2 value3 default

#### Scope

* Once global varaible is declared then any execution on the varaible will affect and modify it globally too.

In [42]:
a = 10

def random():
    global a
    a =20
    print(a)

random()
print(a)

20
20

* Once local variable is declared then you can not invoke global variable inside the function

In [43]:
a = 10

def random():
    a=20
    global a
    print(a)

random()

SyntaxError: name 'a' is assigned to before global declaration (3231489549.py, line 5)

## Questions

### Question 1

    create a date printing function -
    Should take 4 arguments -> day, month, year and style
    
    Styling Logic —
    style -> O -> d/m/y
    style 1 -> m/d/y
    style -> any other value -> Invalid Style

    default style is O.

In [44]:
def date_print(d, m, y, style=0):
    if style==0:
        print(d,m,y, sep="/")
    elif style==1:
         print(m,d,y, sep="/")
    else:
        print("Invalid")

date_print(1,12,1997,0)

1/12/1997

# Lists 1D

* Lists are mutable

In [119]:
a = [1,3,4,5]

In [120]:
a

[1, 3, 4, 5]

In [121]:
a[0]=2 #changing the value of index 0

In [122]:
a

[2, 3, 4, 5]

In [3]:
runs_virat = [67,54,12,34,77,89,101,123]

In [4]:
# Accessing value of a list by its index
#If position is n then index in n-1. Pay attention to the language of 
#Ques.

#Position is 1. Index is 0
runs_virat[0]

67

In [5]:
#To get number of values in a list
len(runs_virat)

8

#### Negative Indexing

In [6]:
#Accessing the value of the list using negative Indexing
runs_virat[-1]

123

In [7]:
runs_virat[-len(runs_virat)]

67

####  Index
* Returns the index position of first occurence of value

In [22]:
runs = [67,54,34,12,77,89,101,123,12]
runs.index(12)

3

#### Count
* Returns the no of occurence of element in a list

In [23]:
runs.count(12)

2

#### Append
* Adds an element to the end of the list

In [39]:
runs = [67,54,12,34,77,89,101,123]
runs.append(71)

In [40]:
runs

[67, 54, 12, 34, 77, 89, 101, 123, 71]

#### Insert
* Adds an element to a list at any index
* Changes the index of the list's values by one after the insertion position.

In [41]:
#Adding a value at 1 index
runs.insert(1,15)

In [42]:
runs

[67, 15, 54, 12, 34, 77, 89, 101, 123, 71]

#### Extend
* Adding multiple elements to the end of the list simultaneously

In [43]:
runs_4=[1,2,3,4]
runs.extend(runs_4)

In [44]:
runs

[67, 15, 54, 12, 34, 77, 89, 101, 123, 71, 1, 2, 3, 4]

In [49]:
# Concatenating two lists. Same as Extend.
runs = [67,54,12,34,77,89,101,123]
runs = runs + [56,99]

In [50]:
runs

[67, 54, 12, 34, 77, 89, 101, 123, 56, 99]

In [51]:
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

#### Delete
* Pop by the undex and remove by the value
##### Pop
* Removes an element using an index - last by default
##### remove
* Delete an elemnt using a value
* In case of duplicate values, it will remove the first occurence only
* It does not return the deleted value

pop and remove

In [103]:
runs

[67, 54, 12, 34, 77, 89, 101, 123, 56, 99]

In [104]:
#Removing the last element i.e. 99
runs.pop()

99

In [105]:
runs

[67, 54, 12, 34, 77, 89, 101, 123, 56]

In [106]:
runs.remove(67)

In [107]:
runs

[54, 12, 34, 77, 89, 101, 123, 56]

In [110]:
remove_list=[7,7,8,7]
remove_list.remove(7) #Will remove only the first occurence
remove_list

[7, 8, 7]

## Questions

### Question 1
    Print total Of runs scored by Virat Odd numbered matches.

In [78]:
sum=0
for i in range(0,len(runs_virat),2):
    sum+=runs_virat[i]
print(sum)

257

### Question 2
    runs virat = [67, 54, 12, 34, 77, 89, 101, 123]
    In runs_virat, Calculate:
    sum, avg, max and min runs without using any internal functions.
    You can use the length function.

In [79]:
runs_virat = [67,54,12,34,77,89,101,123]
sum1 = 0
avg1 = 0
max1 = runs_virat[0]
min1= runs_virat[0]

for i in range(len(runs_virat)):
    sum1 += runs_virat[i]
    avg1 = sum1/len(runs_virat)

    if max1 < runs_virat[i]:
        max1 = runs_virat[i]
    if min1 > runs_virat[i]:
        min1 = runs_virat[i]
        
print(sum1)
print(avg1)
print(max1)
print(min1)

557
69.625
123
12

##### Using custom functions

In [80]:
def custom_len(a):
    n=0
    for i in a:
        n+=1       
    return n

In [81]:
custom_len(runs_virat)

8

In [82]:
def custom_sum(a):
    sum_list=0
    
    for i in a:
        sum_list +=i
    return sum_list

In [83]:
custom_sum(runs_virat)

557

In [84]:
def custom_avg(a):
    avg = custom_sum(a)/custom_len(a)
    return avg

In [85]:
custom_avg(runs_virat)

69.625

In [86]:
def custom_max(a):
    max_value = a[0]
    for i in range (1,len(a)):
        if a[i]> max_value:
            max_value=a[i]
    return max_value

In [87]:
custom_max(runs_virat)

123

In [88]:
def custom_min(a):
    min_value = a[0]
    for i in range (1,len(a)):
        if a[i]< min_value:
            min_value=a[i]
    return min_value

In [89]:
custom_min(runs_virat)

12

### Question 3
Print average Of runs scored by Virat in Even numbered matches.

In [102]:
sum_e=0
count=0
for i in range(0,len(runs_virat),2):
        sum_e+=runs_virat[i]
        count+=1
print(sum_e/count)

64.25

# List Slicing

## Theory

* start: end: steps/jumps
* Positive index values and negative index values can be used together. Indexing is not mathmatical!
* step sign decides the direction of jump.

####  Default Values in List Slicing

##### Jump Size is Positive
* start = 0, end = end of list, jump = 1
* List --> [ : : 1]

##### Jump Size is Negative

* start = len(list), end = start of list , jump = -1
* Reverse List --> [ : : -1]

## Questions

### Question 1 
Print runs in odd numbered matches

In [124]:
runs = [62,85,71,10,12,101,122,99,81,55]

In [125]:
for i in range(0,len(runs),2):
        print(runs[i], end=" ")

62 71 12 122 81

### Question 2

    Given a list of all runs, make a new list of all runs made in odd numberd matches

In [128]:
run = []
for i in range(0,len(runs),2):
        run.append(runs[i])

In [129]:
run

[62, 71, 12, 122, 81]

### Question 3
    Create a list of runs made in the last 5 matches
    runs = [62,85,71,10,12,101,122,99,81,55]

In [132]:
run = []
for i in range(len(runs)-5,len(runs),1):
        run.append(runs[i])

In [133]:
run

[101, 122, 99, 81, 55]

##### Alternative approach

In [136]:
run = []
for i in range(-5,0):
        run.append(runs[i])

In [137]:
run

[101, 122, 99, 81, 55]

### Question 4
    Create a list of runs made from the third match to the 7th match

In [138]:
run = []
for i in range(2,7):
        run.append(runs[i])

In [139]:
run

[71, 10, 12, 101, 122]

## Slicing

In [53]:
runs[2:7]

[71, 10, 12, 101, 122]

    a = [10,20,30,40,50,60,70,80,90,100]

    1. a[3:5] 
    2. a[:8] 
    3. a[:] 
    4. a[7:] 
    5. a[-2:-5:-1] 
    6. a[-2:-7] 
    7. a[:-5] 
    8. a[-2:] 
    9. a[-8:5] 
    10. a[-8:5:-1]

In [140]:
a = [10,20,30,40,50,60,70,80,90,100]

In [141]:
 a[3:5]

[40, 50]

In [142]:
a[:8]

[10, 20, 30, 40, 50, 60, 70, 80]

In [148]:
a[:]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [149]:
a[7:]

[80, 90, 100]

In [150]:
a[-2:-5:-1]

[90, 80, 70]

In [151]:
a[-2:-7]

[]

In [154]:
a[:-5]

[10, 20, 30, 40, 50]

In [155]:
a[-2:]

[90, 100]

In [156]:
a[-8:5]

[30, 40, 50]

In [157]:
a[-8:5:-1]

[]

# Lists - 2D

## Theory

* Lists are heterogenous
* 2D Lists can have nested lists inside
* Set of elements is representing columns.
* Elements 1 from all lists will be form column 1 and soon and so forth.
* 1,2,3,4 below represents columns 1 of matrix 4X3(ColumnsXrows).
* To call a particular nested list, we will call list by indexes. For eg: lists_2d[0].
* To call an nested element, we will call index of nested list with the index of elements of list. For eg: list_2d[0][0]
* To call an nested element of n: list_2d[0][0][0]......n
* No of rows = len(a)
* No of columns = len(a[0])

    rows = len(list_2d)
    columns= len(list_2d[0])

In [1]:
list_2d = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]

In [44]:
list_2d

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [46]:
list_2d[0]

[1, 2, 3, 4]

In [47]:
list_2d[0][0]

1

In [49]:
rows = len(list_2d)
columns= len(list_2d[0])

In [2]:
len(list_2d)

3

In [3]:
len(list_2d[0])

4

## Questions

### Question 1 
    Rotate a given list by 1 element.
    
    INPUT = [1,2,3,4,5]
    OUTPUT = [5,1,2,3,4]

##### Simplest Solutions

In [8]:
a = [1,2,3,4,5]
b = a[-1]
b = [b]+a[:-1]
b

[5, 1, 2, 3, 4]

In [10]:
a = [1,2,3,4,5]
b = [a[-1]]+a[:-1]
b

[5, 1, 2, 3, 4]

##### Using Insert

In [62]:
a = [1,2,3,4,5]
b = a[:-1]
b.insert(0,a[-1])
b

[5, 1, 2, 3, 4]

pop can also be used

##### Fancy Solution

In [64]:
def list_rotate(x):
    
    last_x = a[-1]
    exclude_lastx = a[:-1]
    rotated_list = [last_x]+exclude_lastx
    
    return rotated_list

In [65]:
a = [1,2,3,4,5]
list_rotate(a)

[5, 1, 2, 3, 4]

### Question 2
    Take a 3x3 matrix as input from the user.

    Given this matrix - 
    1. Calculate the sum of all elements in the matrix
    2. Calculate and print sum of each row
    3. Calculate and print sum of each column

In [52]:
def matrix(x,y):
    list_n =[]
    for i in range(x):
        list_i = []
        for j in range(y):
            n = int(input())
            list_i.append(n)
        list_n.insert(i,list_i)    
    return list_n

def sum_matrix(a):        
    sum_matrix = 0
    for i in range(len(a)):
        for j in range(len(a[0])):
            sum_matrix +=a[i][j]
    print(sum_matrix)

def sum_row(a):
    for i in range(len(a)):
        sum_row = 0
        for j in range(len(a[0])):
            sum_row +=a[i][j]
        print(sum_row)

def sum_col(a):
    
    for i in range(len(a[0])):
        sum_col = 0
        for j in range(len(a)):
            sum_col +=a[j][i]
        print(sum_col)

In [53]:
a = [[1, 2, 3], [4, 5, 6]]
sum_matrix(a)
sum_row(a)
sum_col(a)

21
6
15
5
7
9

In [54]:
a = [[1,2,3],[4,5,6],[7,8,9]]

sum1=0
for i in range(len(a)):
    col_sum=0
    row_sum=0
    for j in range(len(a[i])):
        sum1+=a[i][j]
        row_sum +=a[i][j]
        for x in range(i,len(a)):
            if j == x:
                col_sum+=a[i][j]
        col_sum += a[i][j]
    print("Row_Sum",i,row_sum)
    print("Col_Sum",j, col_sum)
print(sum1)

Row_Sum 0 6
Col_Sum 2 12
Row_Sum 1 15
Col_Sum 2 26
Row_Sum 2 24
Col_Sum 2 33
45

In [27]:
a = [[1, 2, 3], [4, 5, 6]]
def sum_matrix(a):        
    sum_matrix = 0
    for i in range(len(a)):
        for j in range(len(a[0])):
            sum_matrix +=a[i][j]
    print(sum_matrix)

In [34]:
sum_matrix(matrix(3,4))

 1
 2
 3
 4
 5
 6
 7
 8
 9
 10
 11
 12

78

In [25]:
def sum_matrix(x,y):
    list_n =[]
    for i in range(x):
        list_i = []
        for j in range(y):
            n = int(input())
            list_i.append(n)
        list_n.insert(i,list_i)
        
    sum_matrix = 0
    for i in range(a[x]):
        for j in range(a[i][y]):
            sum_matrix +=a[i][j]
    print(sum_matrix)

In [32]:
matrix(3,3)

 1
 2
 3
 4
 5
 6
 7
 8
 9

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [21]:
a = [[1, 2, 3], [4, 5, 6]]

### HW

### HW 1
    Rotate a given list by n element.

    INPUT - 
    a = [1,2,3,4,5]
    n = 7

    OUTPUT = [4,5,1,2,3]

##### Solution without input

In [16]:
def list_rotate_n(a,n):
    for i in range(n):
        a = a[-1:]+a[:-1]
        
    return a

In [17]:
x = [1,2,3,4,5]
list_rotate_n(x, 7)

[4, 5, 1, 2, 3]

##### Solution with input

In [18]:
def list_rotate_n():
    input_list =[]
    N = int(input("Enter the no of elements of the list: "))
    
    n= int(input("Enter the no for element rotation: "))
    for i in range(N):
        input_n = int(input("Enter the values of element for the list: "))
        input_list.append(input_n)
    
    for i in range(n):
        input_list = input_list[-1:]+input_list[:-1]
    
    return input_list

In [19]:
list_rotate_n()

Enter the no of elements of the list:  5
Enter the no for element rotation:  7
Enter the values of element for the list:  1
Enter the values of element for the list:  2
Enter the values of element for the list:  3
Enter the values of element for the list:  4
Enter the values of element for the list:  5

[4, 5, 1, 2, 3]

In [29]:
A = [1,2,3,4,5]

In [30]:
B = A.pop()

In [36]:
C =[]
C.insert(0, B)
C+A

[5, 1, 2, 3, 4]

## HW 2
    Take two matrices as input and calculate the sum of two matrices.
    Take a matrix as input and calculate transpose.

# Strings

In [4]:
n = input()
for i in n:
    print(f"{i}\n")

 rat

r

a

t

In [13]:
n = input()
print(f"{n[0]},{n[len(n-1):]}")

 rat

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [10]:
n = input()
for i in n:
    print(f"{i[0]},{i[len(n-1)]}")

 rat

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [19]:
n = input()
for i in range(len(n)):
    if n[i] == n[len(n-i)]:
        pass
    else:
        return -1
    if

SyntaxError: invalid syntax (1937980092.py, line 7)

In [24]:
n = input()
for i in n:
    if n.isupper()== n:
        print(i)

 ERa

In [26]:
for i in range n:
a = int(input())
n = int(input())
for i in n:
    print(chr(i))

 65

TypeError: 'int' object is not iterable

In [25]:
chr(65)

'A'