# Recursion


    if a function calls itself within the function body, it is called as recursion.

#### Pre-requisities of a recursion:
 * **Recursive Formula**
 * **Base Condtion**

## Questions

### Question 1

Print the nth(Fn) element in fibonacci series.

##### With recursion

In [14]:
def fibonacci_element(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    return fibonacci_element(n-1)+fibonacci_element(n-2)

fibonacci_element(10)

55

##### With while loop

In [22]:
def fibonacci_element(n):
    if n == 0:
        return 0
    if n == 1:
        return 1
    
    n1, n2 = 0, 1
    i = 2
    while i <= n:
        element = n1 + n2
        n1 = n2
        n2 = element
        i +=1
    return element

fibonacci_element(10)

55

### Question 2

    Print the entire fibonacci series till nth(Fn) term.

### Question 3

    Calculate the value of number x raised to the power y recursively and draw the stack diagram and dry run it.

In [36]:
def pow_recursion(x, y):
    if y < 0:
        return -1
    if y == 0:
        return 1
    
    return (pow_recursion(x, y - 1) * x)

pow_recursion(3,3)

27

##### With recursion

In [15]:
def fibonacci_series(n):
    def fibonacci_element(n):
        if n == 0:
            return 0
        elif n == 1:
            return 1
        return fibonacci_element(n-1) + fibonacci_element(n-2)

    for i in range(n+1):
        print(fibonacci_element(i), end = " ")

fibonacci_series(10)

0 1 1 2 3 5 8 13 21 34 55

##### With for loop

In [16]:
def fibonacci_series_(n):
    def fibonacci_element(n):
        if n == 0:
            return 0
        if n == 1:
            return 1
        
        n1, n2 = 0, 1
        for num in range(2,n+1):
            element = n1+n2
            n1 = n2
            n2 = element
        return element
    
    for i in range(n+1):
        print(fibonacci_element(i), end = " ")
        
fibonacci_series_(10)

0 1 1 2 3 5 8 13 21 34 55

### Interview Q

    You are given a list of numbered cards. In each step, take a card from top as output and place second card from top at the bottom. List will always contain even number of elements.
    
    X = [1, 2, 3, 4, 5, 6]

##### Proper Solution

In [35]:
def card_game_2(x):
    if len(x) == 1:
        return x
    result = x[:1]
    x = x[2:]+x[1:2]
    return result + card_game_2(x)

X = [1, 2, 3, 4, 5, 6]
card_game_2(X)

[1, 3, 5, 2, 6, 4]

##### Using loop

In [27]:
def card_game1(x):
    result = []
    for i in range(len(x)):
        result.append(x[0])
        x = x[2:]+x[1:2]
    return result

X = [1, 2, 3, 4, 5, 6]
card_game1(X)

[1, 3, 5, 2, 6, 4]

# Combinatorics

    the science of counting

## Questions

### Question 1

    Given three T/F questions. 
    
    Count the total number of ways to answer the questions?

##### Solution

8

### Question 2

    If there are 10 girls and 7 boys in a hall. 
    
    Count the total number of ways to pick one 'boy-girl' couple.

##### Solution

70

### Question 3

    If there are 3 different paths from Hyderabad to Mumbai & 4 different paths from Mumbai to Delhi. 
    
    Count the total number of paths from Hyderabad to Delhi via Mumbai.

##### Solution

12

### Question 4

    If there are 2 different paths from Hyderabad to Nagpur & 3 different paths from Nagpur to Delhi.
    
    Count the total number of paths from Hyd to Delhi via Nagpur.

##### Solution

6

### Question 5

    Given the following different paths -
    Hyd to Mumbai : 3
    Hyd to Nagpur : 2
    Mumbai to Delhi : 4
    Nagpur to Delhi : 3
    
    Count the total number of paths from Hyderabad to Delhi?

##### Solution

18

### Question 6

    If you have the following items -
    Pens: 3
    Books: 5
    Flowers: 7
    Chocolates: 3
    Rings: 3
    
    You can only gift one of the following combos, count the total number of ways to form gifts.
    1 pen & 1 book
    1 flower & 1 chhocolate
    1 ring

##### Solution

39

### Question 7

    Count the number of ways to arrange 3 characters a, b, & c.

##### Solution

6

### Question 8

    Count the number of ways to arrange 4 characters a,b,c,d.

##### Solution

24

### Interview Question

    Count the number of ways to arrange 0 distinct characters?

##### Solution

1

### Question 10

    Given 5 different characters, in how many ways can we arrange them in 2 places?

##### Solution

20

### Question 11

    In how many ways can we select 3 batsmen from a pool of 4 cricketers.

##### Solution

4

# Hashing